<ul>
<% @certificate.each do |certificate| %>
  <li>
    <%= "Внимание! " +
        certificate.doc_type + " " + certificate.title +
        ", предоставленный компании \"" + Vendor.find(certificate.vendor_id).title + "\" " +
        certificate.creation_date.to_s + " истекает " + certificate.expiration_date.to_s %>
  </li>
<% end %>
</ul>
