<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте, <%= @email %></h1>
    <p>
      Вы решили отказаться от дальнейшего получения новостей от компании ООО "ПОЛИГОН".<br>
    </p>
    <p>
      Для того, чтобы удалить Ваш адрес из списка получателей рассылки перейдите по следующей ссылке:<br>
      <a href=<%= "http://localhost:3000/feedback/confirm_unsubscription?confirm_email=" + @email %>  target="_blank">
        Откзаться от рассылки
      </a>
    </p>
    <p>Благодарим за внимание к нашей компании!</p>
  </body>
</html>
