<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте, <%= @email %></h1>
    <p>
      Вы оформили подписку на рассылку новостей от компании ООО "ПОЛИГОН".<br>
    </p>
    <p>
      Для завершения регистрации Вашего адреса перейдите по следующей ссылке:
      <a href=<%= "http://localhost:3000/feedback/confirm_subscription?confirm_email=" + @email %>  target="_blank"><br>
        Оформить подписку
      </a>
    </p>
    <p>Благодарим за внимание к нашей компании!</p>
  </body>
</html>
