<section class="module">

  <header>
    <h1>Публикации</h1>
  </header>

  <section class="wraper">

    <%= render "shared/index_figure", locals: {
      image_path: "design/articles.png",
      title: "Статьи",
      description: "Список познавательных статей о продукции, предлагаемой нашей компанией",
      link: articles_path,
      tag_class: "small2"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/video.png",
      title: "Видео",
      description: "Сборник видео-обзоров, объясняющих назначение и принципы эксплуатации некоторых устройств",
      link: videos_path,
      tag_class: "small2"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/reviews.png",
      title: "Обзоры",
      description: "Сборник материалов, позволяющих получить более полное представление о разных группах предлагаемых нами устройств",
      link: reviews_path,
      tag_class: "small2"} %>

    <%= render "shared/index_figure", locals: {
      image_path: "design/package.png",
      title: "Дополнения",
      description: "Разнообразная дополнительная уточняющая информация по тем или иным видам устройств",
      link: additions_path,
      tag_class: "small2"} %>

  </section>

</section>
