<h1>Список статей</h1>

<table class="table table-striped">

  <tr>
    <th style="width: 80%;">Название</th>
    <th style="width: 20%;">Дата публикации</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article %></td>
      <td><%= article.created_at.strftime("%d.%m.%Y") %></td>
    </tr>
  <% end %>

</table>
