<h1>Список статей</h1>

<table class="table table-striped">
  <tr>
    <th>Название</th>
    <th>Содержание</th>
    <th>Дата создания</th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content.html_safe %></td>
    <td><%= article.created_at %></td>
    <td><%= link_to 'Читать', article %></td>
  </tr>
<% end %>
</table>
