<p id="notice"><%= notice %></p>
<br>
<h2><%= @article.title %></h2>
<p>
  <%= @article.content.html_safe
      .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
      .gsub('src="/js', 'src="http://www.poligon.info/js')
      .gsub('src="/images', 'src="http://www.poligon.info/images')
      .gsub('<img', '<img class="img-responsive" ')
      .html_safe %>
</p>

<%= render 'shared/article_footer', locals: { item: @article } %>
