<div class="main-apply">
  <div class="container">
    <h2>Примеры применения и решения</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="apl-item">
          <div class="apl-photo"><a href="#"><%= image_tag("applications/aplphoto_1.jpg")%></a></div>
          <div class="apl-link"><a href="#">Water &amp; Waste</a></div>
          <div class="apl-text">
            <h4>Sewage pump peak loadcoverage</h4>
            <p>Two pumps are installed at a sewage pumping station that are to be run
              alternately for equal periods to ensure equal wear.previous next.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="apl-item">
          <div class="apl-photo"><a href="#"><%= image_tag("applications/aplphoto_2.jpg")%></a></div>
          <div class="apl-link"><a href="#">Water &amp; Waste</a></div>
          <div class="apl-text">
            <h4>Sewage pump peak loadcoverage</h4>
            <p>Two pumps are installed at a sewage pumping station that are to be run
              alternately for equal periods to ensure equal wear.previous next.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="apl-item">
          <div class="apl-photo"><a href="#"><%= image_tag("applications/aplphoto_3.jpg")%></a></div>
          <div class="apl-link"><a href="#">Water &amp; Waste</a></div>
          <div class="apl-text">
            <h4>Sewage pump peak loadcoverage</h4>
            <p>Two pumps are installed at a sewage pumping station that are to be run
              alternately for equal periods to ensure equal wear.previous next.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="apl-item">
          <div class="apl-photo"><a href="#"><%= image_tag("applications/aplphoto_4.jpg")%></a></div>
          <div class="apl-link"><a href="#">Water &amp; Waste</a></div>
          <div class="apl-text">
            <h4>Sewage pump peak loadcoverage</h4>
            <p>Two pumps are installed at a sewage pumping station that are to be run
              alternately for equal periods to ensure equal wear.previous next.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="view-all"><a href="#">Все примеры применения</a></div>
  </div>
</div>