<div class="main-articles">
  <div class="container">
    <h2>Статьи и обзоры</h2>
    <div class="row">
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_1.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Коммутация нагрузки с высокими пусковыми токами.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_2.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Защита от импульсного перенапряжения для систем видеонаблюдения 3 в 1.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_3.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Однофазное УПП для снижения пусковых токов при запуске двигателей, насосов, станций.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_4.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Контакторы для коммутации DC для солнечных батарей, аккумуляторов.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_5.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Устройство молнизащиты сетей переменного тока, совмещающее 1+2+3 классы защиты.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_6.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Микроконтакторы - самые компактные промышленные контакторы в мире.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_7.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Защита насоса от «сухого хода» -  электродвигатель как датчик.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_8.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Автоматические выключатели на основе магнитно-гидравлической технологии.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_9.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Пластиковые щитки высокого качества от Tehnoplast (Сербия).</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_10.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Контакторы и коммутационная аппаратура от производителя с 95 летней историей (Австрия).</a></div>
        </div>
      </div>
    </div>
    <div class="view-all"><a href="#!">Посмотреть всё</a></div>
  </div>
</div>