<%
  articles = Article.all.order("created_at DESC").limit(5)
%>
<div class="main-articles">
  <div class="container">
    <h2>Статьи и обзоры</h2>
    <div class="row">
      <% articles.each do |article| %>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <% image_path = article.image_path
              .gsub("\\\\Server03\\бд_сайта\\poligon_images", "/images")
              .gsub("\\", "/") %>
          <div class="art-photo"><%= link_to image_tag(image_path, height: 150), article_path(article.id) %></div>
          <div class="art-title"><%= link_to article.title, article_path(article.id) %></div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="view-all"><%= link_to "Посмотреть всё", publications_index_path %></div>
  </div>
</div>