<div class="bot-line">
  <div class="container">
    <a href="#!" id="to-top"><span></span> Наверх</a>
    <div class="bot-cart">
      <a href="#"><span></span> 0 товаров</a>
      <div class="bot-sum"><span></span>На сумму 0.00 руб.</div>
    </div>
  </div>
</div>