<div class="category-menu">
  <ul>
    <li><a href="#!">Релейная автоматика</a></li>
    <li><a href="#!">Промежуточные реле</a></li>
    <li><a href="#!">Контакторы</a></li>
    <li><a href="#!">Коммутационная аппаратура</a></li>
    <li><a href="#!">Таймеры</a></li>
    <li><a href="#!">Устройства плавного пуска</a></li>
    <li><a href="#!">Молниезащита</a></li>
    <li><a href="#!">Управление освещением </a></li>
    <li><a href="#!">Распределительные щиты</a></li>
    <li><a href="#!">Автоматические выключатели CBI</a></li>
    <li><a href="#!">Стабилизаторы напряжения</a></li>
  </ul>
</div>