<footer>
  <div class="footer-partners">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_1.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_2.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_3.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_4.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_5.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_6.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_7.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_8.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_9.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_10.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_11.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_12.png" alt=""></a></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer-block">
      <div class="row footer-top">
        <div class="hidden-sm col-sm-4 footer-search">
          <form method="get" action="/search">
            <input type="text" name="q" placeholder="поиск по всему сайту">
            <button type="submit">Найти</button>
          </form>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-offset-1 col-lg-7">
          <div class="row footer-sign">
            <div class="col-sm-6 col-md-6 footer-sign-block">
              <input type="text" placeholder="e-mail">
              <button type="submit">Подписаться</button>
            </div>
            <div class="col-sm-6 col-md-6 footer-agree">
              <input type="checkbox" id="footer-agree">
              <label for="footer-agree"> Согласен с политикой конфиденциальности и соглашением об использовании сайта</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row footer-bottom">
        <div class="col-sm-4 col-md-3 logo">
          <a href=<%= root_path %>><%= image_tag('logo/logo.png', alt: 'Компания "ПОЛИГОН"') %></a>
          <div class="slogan">дистрибуция электротехники</div>
          <div class="twenty">Нам 20 лет!</div>
        </div>
        <div class="col-sm-4 col-md-3 footer-info">
          Информация на сайте <a href="#">poligon.info</a> не является публичной офертой.
          При использовании материалов ссылка на сайт обязательна. 18+.
          <p><a href="#">Политика конфиденциальности.</a></p>
          <p><a href="#">Соглашение об использовании сайта.</a></p>
          <div class="copyright">© 1997-2018 ООО "ПОЛИГОН".</div>
        </div>
        <div class="hidden-sm col-md-2 footer-catalog">
          <p>Скачать каталоги PDF <br>
            Товары на складе <br>
            Примеры применения <br>
            Статьи и обзоры <br>
            Распродажа <br>
            <a href="#!">ПЕРЕЙТИ В КАТАЛОГ &gt;&gt;</a>
          </p>
        </div>
        <div class="col-sm-4 col-md-4 footer-contacts">
          <p><a href="tel:88123254220">8-812-325-42-20</a> - Санкт-Петербург</p>
          <p><a href="tel:88001234567">8-800-123-45-67</a> - бесплатно по России</p>
          <p>e-mail: <a href="mailto:elcomp@poligon.info">elcomp@poligon.info</a></p>
          <p class="footer-address">Санкт-Петербург, Льва Толстого, д.7</p>
          <div class="footer-carousel">
            <div class="owl-carousel" id="footer-carousel">
              <div class="item"><a href="#"><img src="img/artphoto_1.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_2.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_3.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_4.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_5.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_6.jpg" alt=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>