<div class="modal fade" id="special" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="x" id="close-special" type="button" data-dismiss="modal" aria-hidden="true"></button>
      <div class="modal-body">
        <div class="form-block">
          <div class="form-content">
            <h2>Запросить проектные условия и получить коммерческое предложение</h2>
            <div class="special-row">Наименование изделия <span>Наименование</span></div>
            <div class="special-row">Количество товара (шт.) <span class="number-plus-minus"><input type="number" value="60"></span></div>
            <form id="special-form">
              <div class="form-input req"><input class="modal-input name-send" type="text" name="name-send" required placeholder="Имя"></div>
              <div class="row special-row">
                <div class="col-sm-6 form-input req">
                  <input class="modal-input phone-send" type="text" name="phone-send" required placeholder="Телефон">
                </div>
                <div class="col-sm-6 form-input req">
                  <input class="modal-input mail-send" type="text" name="mail-send" required placeholder="E-mail">
                </div>
              </div>
              <div class="form-textarea"><textarea class="message-send" name="message-send" placeholder="Ваше сообщение"></textarea></div>
              <div class="button-send"><button type="submit">Запросить</button></div>
              <div class="modal-agree">Нажимая кнопку «Отправить» я даю согласие на <a href="<%= company_personal_path %>">обработку персональных данных.</a></div>
              <div class="expl"><span>*</span> Поля обязательные для заполнения</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>