<div class="col-sm-9 main-slider">
  <div class="owl-carousel" id="main-slider">
    <div class="item"><a href="#!"><img src="img/slide1.jpg" alt=""></a></div>
    <div class="item"><a href="#!"><img src="img/slide2.jpg" alt=""></a></div>
    <div class="item"><a href="#!"><img src="img/slide1.jpg" alt=""></a></div>
    <div class="item"><a href="#!"><img src="img/slide2.jpg" alt=""></a></div>
    <div class="item"><a href="#!"><img src="img/slide1.jpg" alt=""></a></div>
    <div class="item"><a href="#!"><img src="img/slide2.jpg" alt=""></a></div>
  </div>
</div>
<div class="col-sm-3 advs-block">
  <div class="advs">
    <p><strong>20 лет дистрибуции </strong> электротехнического оборудования и электронных компонентов.</p>
    <p><strong>20000 позиций</strong> и собственный склад.</p>
    <p><strong>Качественное и надежное</strong> оборудование из Европы.</p>
    <p><strong>Приглашаем дилеров</strong> к сотрудничеству.</p>
  </div>
</div>