<div class="row trio">
  <div class="col-sm-4 trio-item"><a href="#" data-toggle="modal" data-target="#recall-form">Заказать подбор аналогов<br> и получить предложение</a></div>
  <div class="col-sm-4 trio-item"><a href="<%= examples_index_path %>">Готовые решения<br> и публикации</a></div>
  <div class="col-sm-4 trio-item"><%= link_to "Наши акции<br> и спецпредложения".html_safe, offers_index_path %> </div>
</div>