<div class="row trio">
  <div class="col-sm-4 trio-item"><a href="#!" data-toggle="modal" data-target="#recall">Заказать подбор аналогов<br> и получить предложение</a></div>
  <div class="col-sm-4 trio-item"><a href="#!">Готовые решения<br> и публикации</a></div>
  <div class="col-sm-4 trio-item"><a href="#!">Наши акции<br> и спецпредложения</a></div>
</div>