<div class="col-xs-6 col-sm-4 col-lg-3">
  <div class="category-info-item">
    <div class="col-sm-3 category-item-photo">
      <a href="#!"><img src="img/mid_photo.jpg" alt=""></a>
    </div>
    <div class="col-sm-9 category-item-text">
      <a href="#!">Серии 55. Миниатюрные реле общего назначения (7-10 А)Серии 55. Миниатюрные реле</a>
    </div>
  </div>
</div>