<% case locals[:vendor_id] %>
  <% when 142  %>
      <% pdf_path = "/PDF/TELE/TELE_Main_Catalogue_2011-2012_RU.pdf" %>
  <% when 5094 %>
      <% pdf_path = "/PDF/BENEDICT/benedict-general-catalogue-D946E-2015.pdf" %>
  <% when 74   %>
      <% pdf_path = "/PDF/CITEL/citel-catalog-rus.pdf" %>
  <% when 5414 %>
      <% pdf_path = "/PDF/GRAESSLIN/Trade_Program_2014-2015_EN.pdf" %>
  <% when 5535 %>
      <% pdf_path = "/PDF/SONDER/Manual_TA1000_TA3000.pdf" %>
  <% when 5818 %>
      <% pdf_path = "/PDF/RELEQUICK/Catalogue.pdf" %>
  <% when 5933 %>
      <% pdf_path = "/PDF/RELECO/Comat-Releco_World_of_relays_2015-2016.pdf" %>
  <% when 5583 %>
      <% pdf_path = "/PDF/EMKO/EMKO_Main_Catalogue(thermocontrollers)_rus.pdf" %>
  <% when 5512 %>
      <% pdf_path = "/PDF/CBI/CBI-circuit_breaker.en.pdf" %>
  <%# when 6441 %>
  <% when 4847 %>
      <% pdf_path = "http://www.hubersuhner.com/ru/Service-Contact/Downloads" %>
  <% when 6321 %>
      <% pdf_path = "http://poligonspb.ru/about/sertifikaty/" %>
  <% when 5650 %>
      <% pdf_path = "/PDF/VEMER/VEMER_main.pdf" %>
  <% else %>
    <% pdf_path = "" %>
<% end %>
<% if pdf_path != "" %>
  <%= link_to(pdf_path, target: "_blank") do |a|%><span></span>Каталог производителя<% end %>
<% end %>