<div id="category-catalogs-div">
  <table class="category-catalogs-table">
    <% @vendors_categories_ids %>
    <% @topCategory = @parents_array.reverse.first.id %>
    <% if @vendors_categories_ids.include?(@topCategory) %>
      <% vendor = Vendor.find_by(code: @topCategory) %>
      <% if vendor && vendor.booklets.where(vendor_show: true).count > 0 %>
        <% vendor.booklets.where(vendor_show: true).each do |booklet| %>
          <tr>
            <p>
              <% pdfPath = "#{booklet.file.url}" %>
              <td><%= link_to( booklet.title, pdfPath, target: "_blank") %></td>
            </p>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>

