<% example = locals[:example] %>
<div class="col-xs-6 col-sm-3">
  <div class="apl-item">
    <div class="apl-photo">
      <%= link_to image_tag(example.example_images.try(:first).try(:url)), example_path(example) %>
    </div>
    <div class="apl-link">
      <% if example.scope.nil? %>
        <% scope_name = '' %>
      <% else %>
        <% scope_name = example.scope.name %>
      <% end %>
      <%= link_to scope_name, example_path(example) %>
    </div>
    <div class="apl-text">
      <h4><%= example.title %></h4>
      <p>
        <%= link_to example.solution[0..250].gsub(/\s\w+$/,'...'), example_path(example) %>
      </p>
    </div>
  </div>
</div>