<% example = locals[:example] %>
<div class="col-xs-6 col-sm-3">
  <div class="apl-item">
    <div class="apl-photo">
      <a href="#!"><%= image_tag("applications/aplphoto_1.jpg")%></a>
    </div>
    <div class="apl-link"><a href="#!">Насосы и двигатели</a></div>
    <div class="apl-text">
      <h4><%= example.title %></h4>
      <p><a href="#!">Two pumps are installed at a sewage pumping station that are to be run alternately
        for equal periods to ensure equal wear. previous next.</a></p>
    </div>
  </div>
</div>