<% example = locals[:example] %>
<div class="col-xs-6 col-sm-3">
  <div class="apl-item">
    <div class="apl-photo">
      <%= link_to image_tag("applications/aplphoto_1.jpg"), examples_show_path(id: example.id) %>
    </div>
    <div class="apl-link">
      <%= link_to example.scope.name, examples_show_path(id: example.id) %>
    </div>
    <div class="apl-text">
      <h4><%= example.title %></h4>
      <p>
        <%= link_to example.solution[0..250].gsub(/\s\w+$/,'...'), examples_show_path(id: example.id) %>
      </p>
    </div>
  </div>
</div>