<% if (locals[:retail_price] != 0) %>
  <%= rub_case_with_kopeiki locals[:retail_price] %>
<% else %>
  <p>
    <b style="font-size: 12px; color: red; font-weight: bolder;">Звоните: (812) 325-42-20</b>
  </p>
<% end %>
