<table class="table table-condensed table-responsive prices-table">
  <tr class="info">
    <td width="18%" style="text-align:left">
      Тип цены
    </td>
    <td width="5%" style="text-align:left">
      Скидка
    </td>
    <td width="27%" style="color: blue; text-align:right; ">
      Цена в Евро
    </td>
    <td width="25%" style="color: green; text-align:right; ">
      Цена в рублях
    </td>
    <td width="25%" style="color: orange; text-align:right; ">
      Цена без НДС
    </td>
  </tr>
</table>
