<% sorted_products = @products %>

<div class="products">
  <% sorted_products.each do |product_array| %>
    <%= render "shared/product_list_element", locals: { product_array: product_array } %>
  <% end %>
</div>