  <ul>
  <% @functions.each do |f| %>
    <li>
      <table class="table-responsive">
        <thead><h4 style="color: blueviolet"><%= f.title %> ( <b><%= f.symbol %></b> )</h4></thead>
        <tbody>
        <tr>
          <td><%= f.description %></td>
        </tr>
        <tr>
          <td>
            <br>
              <% f_filename = "http://www.poligon.info/images/catalog/TELE/funcs/" + f.picture_name %>
              <% f_filename_alt = "http://www.poligon.info/images/catalog/TELE/funcs/" + f.picture_name %>
            <p>
              <%= link_to(image_tag(f_filename, class: "img-responsive center-block", :width => '500px'), f_filename, class: "fancybox") %>
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </li>
    <br>
  <% end %>
</ul>
