<table class="table table-condensed table-responsive prices-table">
  <tr class="info-table">
    <td width="18%" style="text-align:left">
      Тип
    </td>
    <td width="5%" style="text-align:left">
      Скидка
    </td>
    <td width="27%" style="color: blue; text-align:right; ">
      Евро
    </td>
    <td width="25%" style="color: green; text-align:right; ">
      Рубли
    </td>
    <td width="25%" style="color: brown; text-align:right; ">
      Без НДС
    </td>
  </tr>
</table>
