<table class="table table-condensed table-responsive prices-table">
  <tr class="success">
    <td width="21%" style="text-align:left">
      Тип
    </td>
    <td width="10%" style="text-align:center">
      Скидка
    </td>
    <td width="23%" style="color: blue; text-align:center; ">
      Евро
    </td>
    <td width="23%" style="color: green; text-align:center; ">
      Рубли
    </td>
    <td width="23%" style="color: brown; text-align:center; ">
      Без НДС
    </td>
  </tr>
</table>
