<!-- propose we would get maximum 3 schemes per product -->
<script type="text/javascript">
    function ImgError(source){
       source.style.display = 'none';
    }
</script>
<% for i in (1..3) do %>
  <% count = locals[:count] %>
  <% count = i unless locals[:count] == nil %>
  <% image_path = prop_image_path_for(locals[:product], locals[:pic_type], count) %>
  <% if image_path %>
    <% begin %>
      <p>
        <%= link_to(image_tag(image_path, class: "img-responsive center-block tab-image", style: "max-width: 400px;", height: '200px', onerror: "ImgError(this);"), image_path, class: "fancybox") %>
      </p>
      <% break if count == nil %>
    <% end %>
  <% else %>
    <% break %>
  <% end %>
  <br>
<% end %>
