 <% if @product.outdated == 1 %>
        <p>
        <b><span style="color: red;" >Данный товар снят с производства</b></span>
        </p> 
        <p>Для подбора замены, рекомендуемой производителем, обращайтесь к нашим специалистам:
        </p>
        <p>по телефону 8 (812) 325-42-20 доб. 148 
        </p>
        <p>на электронную почту keo@poligon.info
        </p>
      <% else %>
      <% end %>


<%= @product.full_description
  .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
  .gsub('src="/images', 'src="http://www.poligon.info/images')
  .html_safe if !@product.full_description.nil? %>
