<!-- propose we would get maximum 3 schemes per product -->
<% if @product.dims != nil %>
        <p><%# Выводим схему подключения %>
          <% if @product.dims[0] != 'c' %>
            <% imagePath = @product.dims.gsub("\\\\Server03\\бд_сайта\\poligon_images", "http://www.poligon.info/images").gsub("\\", "/") %>
          <% else %>
            <% imagePath = @product.dims.gsub("c:\\poligon_images", "http://www.poligon.info/images").gsub("\\", "/") %>
          <% end %>
          <%# imagePath = @productImage.path.gsub!("c:\\poligon_images", "http://www.poligon.info/images")
            .gsub("\\\\Server03\\бд_сайта\\poligon_images", "http://www.poligon.info/images").gsub!("\\", "/") %>
          <%= link_to(image_tag(imagePath, class: "img-responsive center-block", style: "max-width: 400px;", height: 'auto'), imagePath, class: "fancybox") %>
        </p>
      <% else %>
        <p></p>
      <% end %>



