  <ul>
  <% @functions.each do |f| %>
    <li>
      <table class="table-responsive">
        <thead><h4 style="color: blueviolet"><%= f.title %> ( <b><%= f.symbol %></b> )</h4></thead>
        <tbody>
        <tr>
          <td><%= f.description %></td>
        </tr>
        <tr>
          <td>
            <br>
            <p>
              <%= image_tag(
                          f.picture_path.gsub!("\\", "/").gsub!("C:/poligon_images/", "http://www.poligon.info/images/"), class: "img-responsive center-block", :width => '500px') %>
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </li>
    <br>
  <% end %>
</ul>
