<% sorted_products = @products.sort_by! {|obj| obj[0].title}.reverse %>
<% sorted_products = sorted_products.sort_by {|obj| obj[2]}.reverse %>

<div class="products">
  <div class='products-list'>
    <% @paginated.each do |product_array| %>
      <%= render "shared/product_list_element", locals: { product_array: product_array } %>
    <% end %>
  </div>
</div>
