 <% if @product.outdated == 1 %>
        <p>
        <b><span style="color: red;" >Данный товар снят с производства</b>
        </p> 
        <p><span style="color: black;" >Для подбора замены, рекомендуемой производителем, обращайтесь к нашим специалистам по телефону 8 (812) 325-42-20 или на электронную почту elcomp@poligon.info
        </p>
      <% else %>
      <% end %>


<%= @product.full_description
  .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
  .gsub('src="/images', 'src="http://www.poligon.info/images')
  .html_safe if !@product.full_description.nil? %>
