<% image_path = locals[:sertificate].image_path.gsub!("c:\\poligon_sertificates", "http://www.poligon.info/poligon_sertificates").gsub!("\\", "/") %>
<% pdf_path   = locals[:sertificate].pdf_path.gsub!(  "c:\\poligon_sertificates", "http://www.poligon.info/poligon_sertificates").gsub!("\\", "/") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <p>
        <%= link_to image_tag( image_path,
          alt: locals[:sertificate].title,
          title: locals[:sertificate].title,
          :class => 'img-responsive' ), pdf_path %>
      </p>
    </div>
    <div class="col-md-8">
      <h4><%= locals[:sertificate].doc_type + ' ' %>
        <span style="color: green;"><%= locals[:sertificate].title %></span>
      </h4>
      <p><%= simple_format locals[:sertificate].description %></p>
    </div>
  </div>
</div>
