<div class="static-content category">
  <% locals[:content].each do |static_content| %>
    <% if static_content.directory == locals[:directory] and static_content.page == locals[:page] %>
      <% title = static_content.title %>
      <% generate_meta_from title %>
      <h1 align="center"><%= title %></h1>
      <p>
        <%= static_content.content.html_safe %>
      </p>
    <% end %>
  <% end %>
</div>
