<% category = locals[:category] %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="category-picture-container">
        <% unless category.image_path.nil? %>
          <% category_image_path = category.image_path.gsub(
          '\\\\Server03\\бд_сайта\\poligon_images', 'http://www.poligon.info/images')
          .gsub("\\", "/") %>
          <%= image_tag(
              category_image_path,
              alt: category.title,
              class: "img img-responsive"
            ) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <p>
        <%= category.description
          .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
          .gsub('src="/images', 'src="http://www.poligon.info/images')
          .html_safe if !@recentCategory.description.nil? %>
      </p>
      <p>
        <%= link_to "Подробнее", category_path(category.id), class: "btn btn-info btn-xs" %>
      </p>
    </div>
  </div>
</div>
