<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">
            <div class="navbar-header">
              <a class="navbar-brand" style="margin-bottom: 5px; margin-top: -25px" href=<%= root_path %>><%= image_tag('logo/poligon_logo_185w.png', class: 'poligon-logo', alt: 'Компания "ПОЛИГОН"') %></a>
            </div>
          </h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>

      <div class="inner hello-cover">

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>&copy; ООО "ПОЛИГОН" 2016</p>
        </div>
      </div>

    </div>

  </div>

</div>
