<h1>Список новостей</h1>

<table class="table table-striped">

<% @news_items.each do |news_item| %>
  <tr>
    <td><%= news_item.title %></td>
    <td><%= news_item.created_at.strftime("%d.%m.%Y") %></td>
    <td><%= link_to 'Читать', news_item %></td>
  </tr>
<% end %>
</table>

<br />
