<h1>Список новостей</h1>

<table>
  <tr>
    <th>Заголовок</th>
    <th></th>
  </tr>

<% @news_items.each do |news_item| %>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= news_item.title %></td>
    <td><%= link_to 'Читать', news_item %></td>
  </tr>
<% end %>
</table>

<br />
