<div class="row breadcrumbs">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Новости', news_items_path %></li>
    </ol>
  </nav>
</div>

<% title = "Список новостей" %>
<% generate_meta_from title %>
<h1 align="center"><%= title %></h1>

<%= render 'shared/articles_list', locals: { items: @news_items } %>

<br />
