<p>
  <h1><%= @news_item.title %></h1>
</p>
<br/>
<div class="container-fluid">
  <%= @news_item.content.html_safe %>
  <br/>
  <p style="float: right; color: #bcbcbc">
    <b>Дата создания:</b>
    <%= @news_item.created_at.strftime("%d.%m.%Y") %>
  </p>
</div>
<br/>
<b><%= link_to 'К списку новостей', news_items_path %></b>
