<br>

<p>
  <b><%= @news_item.title %></b>
</p>

<p>
  <%= @news_item.content.html_safe %>
</p>

<p>
  <b>Дата создания:</b>
  <%= @news_item.created_at.strftime("%d.%m.%Y") %>
</p>


<%= link_to 'К списку новостей', news_items_path %>
