<p>
  <h1><%= @news_item.title %></h1>
</p>
<br/>
<div class="container-fluid">
  <div class="row" >
    <div class="col-md-3" >
      <% image_path = @news_item.image_path.gsub!("c:\\poligon_images", "http://www.poligon.info/images").gsub!("\\", "/") %>
      <%= image_tag(image_path, alt: @news_item.title, title: @news_item.title, class: 'img img-responsive news-image') %>
    </div>
    <div class="col-md-9" >
      <%= @news_item.content.html_safe %>
    </div>
  </div>
</div>

<%= render 'shared/article_footer', locals: { item: @news_item } %>
