

<h2>Серия B3 (D=22,5 мм)</h2>
<table class="table ">
        <tr>
            <td width="50%"><img height="100" alt="кнопки B3D GN, B3P14RT, B3KN2" width="326" border="0" src="/images/design/categories/BENEDICT/A_Buttons1.jpg"></td>
            <td width="50%">
            <ul>
                <li>Кнопки</li>
                <li>Кнопки аварийного останова</li>
                <li>Поворотные переключатели</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td width="50%"><img height="100" alt="поворотные выключатели B3KL2, B3SAR1 и кнопки с подсветкой B3DLR GE" width="290" border="0" src="/images/design/categories/BENEDICT/A_RotarySwitches1.jpg"></td>
            <td width="50%">
            <ul>
                <li>Поворотные выключатели</li>
                <li>Поворотные кнопки с подсветкой</li>
                <li>Кнопки с подсветкой</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td width="50%"><img src="/images/design/categories/BENEDICT/A_Buttons2.jpg" alt="B3DT G/R, B3R RT, B3-MB24 RTB" width="226" height="99" border="0"></td>
            <td width="50%">
            <ul>
                <li>Двойные кнопки</li>
                <li>Колпачки для индикаторов</li>
                <li>Моноблочные светодиодные индикаторы</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td width="50%"><img height="100" alt="B3S, B3TO1" width="195" border="0" src="/images/design/categories/BENEDICT/A_Connectors.jpg"></td>
            <td width="50%">
            <ul>
                <li>Коннекторы</li>
                <li>Вставные дополнительные контакты</li>
                <li>Держатели для ламп</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td width="50%"><img height="100" alt="B3-L24 BLB" width="275" border="0" src="/images/design/categories/BENEDICT/Lamps.jpg"></td>
            <td width="50%">
            <ul>
                <li>Лампы</li>
                <li>Аксессуары</li>
                <li>Маркировочная система</li>
            </ul>
            </td>
        </tr>
    </tbody>
</table>

<p> </p>
<h2>Серия B5 (D=30,5 мм)</h2>
<table class="table">
        <tr>
            <td width="50%"><img height="100" alt="B5KN2, B5D RT" width="211" border="0" src="/images/design/categories/BENEDICT/B_Buttons.jpg"></td>
            <td width="50%">
            <ul>
                <li>Кнопки</li>
                <li>Поворотные кнопки</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td width="50%"><img height="100" alt="B5SAT0" width="206" border="0" src="/images/design/categories/BENEDICT/B_RotarySwitches.jpg"></td>
            <td width="50%">
            <ul>
                <li>Поворотные переключатели с ключами</li>
                <li>Поворотные кнопки</li>
                <li>Колпачки для индикаторов</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td width="50%"><img height="99" alt="B3S, B3T10" width="226" border="0" src="/images/design/categories/BENEDICT/B_Connectors.jpg"></td>
            <td width="50%">
            <ul>
                <li>Коннекторы</li>
                <li>Блок контакты и держатели для ламп</li>
                <li>Лампы и аксессуары</li>
            </ul>
            </td>
        </tr>
</table>
