<table class="table benedict"><caption id="contactors">3-полюсные контакторы</caption>
<thead>
<tr style="background: #CCCCCC;">
	<th rowspan="2"></th>
	<th colspan="2">Двигатель AC3</th>
	<th rowspan="2">Номинальный ток,<br/>
 A при 690V AC1</th>
	<th colspan="3">Контакты</th>
	<th rowspan="2">Тип <sup class="help" title="... — напряжение катушки: 12, 24, 42, 48, 60, 110, 127, 180, 200, 220, 230, 400">(?)</sup></th>
</tr>
<tr style="background: #CCCCCC;">
	<th>380V, 400V, 415V [kW]</th>
	<th>[A]</th>
	<th>NO</th>
	<th>NC</th>
	<th>Доп. </th>
</tr>
</thead>
<tfoot>
	<tr>
		<td colspan="8">Более подробную информацию можно получить в каталоге <a href="/PDF/BENEDICT/Benedict_2012-Contactors_rus.pdf">Benedict — контакторы</a></td>
	</tr>
</tfoot>
<tbody>
<tr>
	<td rowspan="8"><img alt="контактор Benedict" src="/images/design/categories/BENEDICT/K3-10.jpg"></td>
	<td>4</td>
	<td>10</td>
	<td>25</td>
	<td>1</td>
	<td>-</td>
	<td>до 4 HN или HA</td>
	<td><a href="/search?q=K3-10ND10">K3-10ND10 ...</a></td>
</tr>
<tr>
	<td>4</td>
	<td>10</td>
	<td>25</td>
	<td>-</td>
	<td>1</td>
	<td>до 4 HN или HA</td>
	<td><a href="/search?q=K3-10ND01">K3-10ND01 ...</a></td>
</tr>
<tr>
	<td>5,5</td>
	<td>14</td>
	<td>25</td>
	<td>1</td>
	<td>-</td>
	<td>до 4 HN или HA</td>
	<td><a href="/search?q=K3-14ND10">K3-14ND10 ...</a></td>
</tr>
<tr>
	<td>5,5</td>
	<td>14</td>
	<td>25</td>
	<td>-</td>
	<td>1</td>
	<td>до 4 HN или HA</td>
	<td><a href="/search?q=K3-14ND01">K3-14ND01 ...</a></td>
</tr>
<tr>
	<td>7,5</td>
	<td>18</td>
	<td>32</td>
	<td>1</td>
	<td>-</td>
	<td>до 4 HN или HA</td>
	<td><a href="/search?q=K3-18ND10">K3-18ND10 ...</a></td>
</tr>
<tr>
	<td>7,5</td>
	<td>18</td>
	<td>32</td>
	<td>-</td>
	<td>1</td>
	<td>до 4 HN или HA</td>
	<td><a href="/search?q=K3-18ND01">K3-18ND01 ...</a></td>
</tr>
<tr>
	<td>11</td>
	<td>22</td>
	<td>32</td>
	<td>1</td>
	<td>-</td>
	<td>до 4 HN или HA</td>
	<td><a href="/search?q=K3-22ND10">K3-22ND10 ...</a></td>
</tr>
<tr>
	<td>11</td>
	<td>22</td>
	<td>32</td>
	<td>-</td>
	<td>1</td>
	<td>до 4 HN или HA</td>
	<td><a href="/search?q=K3-22ND01">K3-22ND01 ...</a></td>
</tr>


<tr>
	<td rowspan="3"><img alt="контактор Benedict" src="/images/design/categories/BENEDICT/k3-24.jpg"></td>
	<td>11</td>
	<td>24</td>
	<td>50</td>
	<td>-</td>
	<td>-</td>
	<td>до 4 HN или HA и 2HB</td>
	<td><a href="/search?q=K3-24A00">K3-24A00 ...</a></td>
</tr>
<tr>
	<td>15</td>
	<td>32</td>
	<td>65</td>
	<td></td>
	<td></td>
	<td>до 4 HN или HA и 2HB</td>
	<td><a href="/search?q=K3-32A00">K3-32A00 ...</a></td>
</tr>
<tr>
	<td>18,5</td>
	<td>40</td>
	<td>80</td>
	<td>-</td>
	<td>-</td>
	<td>до 4 HN или HA и 2HB</td>
	<td><a href="/search?q=K3-40A00">K3-40A00 ...</a></td>
</tr>




<tr>
	<td rowspan="3"><img alt="контактор Benedict" src="/images/design/categories/BENEDICT/k3-50.jpg"></td>
	<td>22</td>
	<td>50</td>
	<td>110</td>
	<td>-</td>
	<td>-</td>
	<td>до 4 HN или HA и 2HB</td>
	<td><a href="/search?q=K3-50A00">K3-50A00 ...</a></td>
</tr>
<tr>
	<td>30</td>
	<td>62</td>
	<td>120</td>
	<td>-</td>
	<td>-</td>
	<td>до 4 HN или HA и 2HB</td>
	<td><a href="/search?q=K3-62A00">K3-62A00 ...</a></td>
</tr>
<tr>
	<td>37</td>
	<td>74</td>
	<td>130</td>
	<td>-</td>
	<td>-</td>
	<td>до 4 (3<sup><a href="#first-note" class="note">*</a></sup>) HN или HA и 2HB</td>
	<td><a href="/search?q=K3-74A00">K3-74A00 ...</a></td>
</tr>




<tr>
	<td rowspan="2"><img alt="контактор Benedict" src="/images/design/categories/BENEDICT/k3-90.jpg"></td>
	<td>45</td>
	<td>90</td>
	<td>180</td>
	<td>-</td>
	<td>-</td>
	<td>до 7 HN или HA и 2HB</td>
	<td><a href="/search?q=K3-90A00">K3-90A00 ...</a> <sup><a href="#second-note" class="note">**</a></sup></td>
</tr>
<tr>
	<td>55</td>
	<td>115</td>
	<td>200</td>
	<td>-</td>
	<td>-</td>
	<td>до 7 HN или HA и 2HB</td>
	<td><a href="/search?q=K3-115A00">K3-115A00 ...</a> <sup><a href="#second-note" class="note">**</a></sup></td>
</tr>




<tr>
	<td rowspan="5"><img alt="контактор Benedict" src="/images/design/categories/BENEDICT/k3-151.jpg"></td>
	<td>75</td>
	<td>150</td>
	<td>230</td>
	<td>-</td>
	<td>-</td>
	<td>1 HKT.. и 2 HKA11</td>
	<td><a href="/search?q=K3-151A00">K3-151A00 ...</a> <sup><a href="#second-note" class="note">**</a></sup></td>
</tr>
<tr>
	<td>90</td>
	<td>175</td>
	<td>250</td>
	<td>-</td>
	<td>-</td>
	<td>1 HKT.. и 2 HKA11</td>
	<td><a href="/search?q=K3-176A00">K3-176A00 ...</a> <sup><a href="#second-note" class="note">**</a></sup></td>
</tr>
<tr>
	<td>110</td>
	<td>210</td>
	<td>350</td>
	<td>-</td>
	<td>-</td>
	<td>1 HKT.. и 2 HKA11</td>
	<td><a href="/search?q=K3-210A00">K3-210A00 ...</a> <sup><a href="#second-note" class="note">**</a></sup></td>
</tr>
<tr>
	<td>132</td>
	<td>260</td>
	<td>450</td>
	<td>-</td>
	<td>-</td>
	<td>1 HKT.. и 2 HKA11</td>
	<td><a href="/search?q=K3-260A00">K3-260A00 ...</a> <sup><a href="#second-note" class="note">**</a></sup></td>
</tr>
<tr>
	<td>160</td>
	<td>315</td>
	<td>500</td>
	<td>-</td>
	<td>-</td>
	<td>1 HKT.. и 2 HKA11</td>
	<td><a href="/search?q=K3-316A00">K3-316A00 ...</a> <sup><a href="#second-note" class="note">**</a></sup></td>
</tr>



<tr>
	<td rowspan="6"><img alt="контактор Benedict" src="/images/design/categories/BENEDICT/K3-450.jpg"></td>
	<td>250</td>
	<td>450</td>
	<td>600</td>
	<td>2</td>
	<td>2</td>
	<td>1 HKF22</td>
	<td><a href="/search?q=K3-450A22">K3-450A22 ...</a></td>
</tr>
<tr>
	<td>300</td>
	<td>550</td>
	<td>760</td>
	<td>2</td>
	<td>2</td>
	<td>1 HKF22</td>
	<td><a href="/search?q=K3-550A22">K3-550A22 ...</a></td>
</tr>
<tr>
	<td>400</td>
	<td>700</td>
	<td>1000</td>
	<td>2</td>
	<td>2</td>
	<td>1 HKF22</td>
	<td><a href="/search?q=K3-700A22">K3-700A22 ...</a></td>
</tr>
<tr>
	<td>500</td>
	<td>860</td>
	<td>1100</td>
	<td>2</td>
	<td>2</td>
	<td>1 HKF22</td>
	<td><a href="/search?q=K3-860A22">K3-860A22 ...</a></td>
</tr>
<tr>
	<td>580</td>
	<td>1000</td>
	<td>1200</td>
	<td>1</td>
	<td>2</td>
	<td>2 HKB11</td>
	<td><a href="/search?q=K3-1000A12">K3-1000A12 ...</a></td>
</tr>
<tr>
	<td>680</td>
	<td>1200</td>
	<td>1350</td>
	<td>1</td>
	<td>2</td>
	<td>2 HKB11</td>
	<td><a href="/search?q=K3-1200A12">K3-1200A12 ...</a></td>
</tr>
</tbody>

</table>
