<h3>Дополнительные вспомогательные контактные блоки </h3>
<table class="table">
    <tbody>
        <tr>
            <td width="50%"><img src="http://www.poligon.info/images/design/categories/BENEDICT/front_aux_contact2.JPG" alt="front_aux_contact" width="442" height="87"></td>
            <td width="50%"> Доп. контакты фронтального монтажа для контакторов до 115А </td>
        </tr>
        <tr>
          <td width="50%"><img src="http://www.poligon.info/images/design/categories/BENEDICT/side_aux_contact.JPG" alt="HB11" width="163" height="89"></td>
          <td width="50%">Доп. контакты бокового монтажа для контакторов до 115А</td>
        </tr>
        <tr>
          <td width="50%"><img src="http://www.poligon.info/images/design/categories/BENEDICT/HKF22.JPG" alt="HKF22" width="89" height="113"> <img src="http://www.poligon.info/images/design/categories/BENEDICT/HKB11.JPG" alt="HKB11" width="128" height="113"></td>
          <td width="50%">Доп. контакты фронтального монтажа для контакторов  <br>
          150А -1200А</td>
        </tr>
        <tr>
          <td width="50%"><img src="http://www.poligon.info/images/design/categories/BENEDICT/HKS11.JPG" alt="HKS11" width="145" height="123"></td>
          <td width="50%">Доп. контакты бокового монтажа для контакторов 150А -175А </td>
        </tr>
    </tbody>
</table>
<p>Более подробную информацию по доп. контактам и другим аксессуарам вы можете получить в <a href="http://www.poligon.info/PDF/BENEDICT/Benedict_2012-Contactors_rus.pdf#page=8" class="pdf">каталоге Benedict - контакторы </a></p>
