<table class="table benedict" >
<caption id="mini-contactors">Мини-контакторы</caption>
<thead>
<tr style="background: #CCCCCC;">
	<th></th>
	<th width="85">Тип</th>
	<th>Питание<br/>катушки</th>
	<th>AC15 230V</th>
	<th>Номинальный<br/>ток</th>
	<th>Доп. контакты</th>
	<th>Схема</th>
</tr>
</thead>
<tfoot>
	<tr>
		<td colspan="7">Более подробную информацию вы можете получить в <a href="/PDF/BENEDICT/Benedict_2012-Mini_contactors_rus.pdf">каталоге Benedict - мини-контакторы </a></td>
	</tr>
</tfoot>
<tbody>

	<tr>
		<th colspan="7">Мини-контакторы с катушкой переменного тока</th>
	</tr>

	<tr>
		<td rowspan="4"><img alt="мини-контактор Benedict" src="/images/design/categories/BENEDICT/K1-07D40E.jpg"></td>
		<td><a href='/products/40016'  title='' style=''>K1-07D40 230</a></td>
		<td>230VAC</td>
		<td>3A</td>
		<td>10A</td>
		<td>1 HK..</td>
		<td rowspan="2"><img alt="схема контактов" src="/images/design/categories/BENEDICT/K1-07D40.jpg"></td>
	</tr>
	<tr>
		<td><a href='/products/40018'  title='' style=''>K1-07D40 24</a></td>
		<td>24VAC</td>
		<td>3A</td>
		<td>10A</td>
		<td>1 HK..</td>
	</tr>

	<tr>
		<td><a href='/products/39967'  title='' style=''>K1-07D22 230</a></td>
		<td>230VAC</td>
		<td>3A</td>
		<td>10A</td>
		<td>1 HK..</td>
		<td rowspan="2"><img alt="схема контактов" src="/images/design/categories/BENEDICT/K1-07D22.jpg"></td>
	</tr>
	<tr>
		<td><a href='/products/39969'  title='' style=''>K1-07D22 24</a></td>
		<td>24VAC</td>
		<td>3A</td>
		<td>10A</td>
		<td>1 HK..</td>
	</tr>

	<tr>
		<th colspan="7">Мини-контакторы с катушкой постоянного тока</th>
	</tr>

	<tr>
		<td rowspan="2"><img alt="мини-контактор Benedict" src="/images/design/categories/BENEDICT/K1-07D40E.jpg"><br>катушка 3W</td>
		<td><a href='/products/40031'  title='' style=''>K1-07D40= 24</a></td>
		<td>24VDC</td>
		<td>3A</td>
		<td>10A</td>
		<td>1 HK..</td>
		<td><img alt="схема контактов" src="/images/design/categories/BENEDICT/K1-07D40.jpg"></td>
	</tr>
	<tr>
		<td><a href='/products/39981'  title='' style=''>K1-07D22= 24</a></td>
		<td>24VDC</td>
		<td>3A</td>
		<td>10A</td>
		<td>1 HK..</td>
		<td><img alt="схема контактов" src="/images/design/categories/BENEDICT/K1-07D22.jpg"></td>
	</tr>

	<tr>
		<th colspan="7">Мини-контакторы с катушкой переменного тока</th>
	</tr>
	<tr  style="background: #CCCCCC;">
		<td></td>
		<th>Тип</th>
		<th>Питание катушки</th>
		<th>Двигатель<br/>AC3 kW</th>
		<th>Номинальный ток</th>
		<th>Доп. контакты</th>
		<th>Схема</th>
	</tr>

	<tr>
		<td rowspan="4"><img alt="мини-контактор Benedict" src="/images/design/categories/BENEDICT/K1-09D10.jpg"></td>
		<td><a href='/products/39870'  title='' style=''>K1-09D10 230</a></td>
		<td>230VAC</td>
		<td>4kW</td>
		<td>20A</td>
		<td>1 HKM..</td>
		<td rowspan="4"><img alt="схема контактов" src="/images/design/categories/BENEDICT/K1-09D10_.jpg"></td>
	</tr>
	<tr>
		<td><a href='/products/39873'  title='' style=''>K1-09D10 24</a></td>
		<td>24VAC</td>
		<td>4kW</td>
		<td>20A</td>
		<td>1 HKM..</td>
	</tr>
	<tr>
		<td><a href='/products/39955'  title='' style=''>K1-12D10 230</a></td>
		<td>230VAC</td>
		<td>5.5kW</td>
		<td>20A</td>
		<td>1 HKM..</td>
	</tr>
	<tr>
		<td><a href='/products/39956'  title='' style=''>K1-12D10 24</a></td>
		<td>24VAC</td>
		<td>5.5kW</td>
		<td>20A</td>
		<td>1 HKM..</td>
	</tr>

	<tr>
		<th colspan="7">Мини-контакторы с катушкой постоянного тока</th>
	</tr>

	<tr>
		<td rowspan="2"><img alt="мини-контактор Benedict" src="/images/design/categories/BENEDICT/K1-09D10.jpg"><br>катушка 3W</td>
		<td><a href='/products/39886'  title='' style=''>K1-09D10= 24</a></td>
		<td>24VDC</td>
		<td>4kW</td>
		<td>20A</td>
		<td>1 HKM..</td>
		<td rowspan="2"><img alt="схема контактов" src="/images/design/categories/BENEDICT/K1-09D10_.jpg"></td>
	</tr>
	<tr>
		<td><a href='/products/39963'  title='' style=''>K1-12D10= 24</a></td>
		<td>24VDC</td>
		<td>5.5kW</td>
		<td>20A</td>
		<td>1 HKM..</td>
	</tr>

</tbody></table>
