<table class="table benedict">
<thead>
	<tr class="th" style="background: #CCCCCC;">
		<td></td>
		<th>Параметры AC23 при<br/> 380 В<br/> 400 В<br/> 415 В<br/> кВт</th>
		<th>Тип контактора в комплекте</th>
		<th>Место под доп. контакты HN</th>
		<th>Тип подключаемого реле перегрузки</th>
		<th>Степень защиты</th>
		<th>Кабельные вводы</th>
		<th>Тип</th>
	</tr>
</thead>
<tbody>
<tr>
	<th class="th" colspan="8">Пускатели в оболочке с кнопкой пуск-возрат</th>
</tr>
<tr>
	<td class="img" rowspan="3"><img style="min-height: 200px; max-height: 200px;"  src="http://www.poligon.info/images/design/categories/BENEDICT/P1T.jpg" alt="Пускатель в оболочке"/></td>
	<td>4</td>
	<td>K3-10A10</td>
	<td>2</td>
	<td>U12/16 K3</td>
	<td>IP65</td>
	<td>&#216; 20,5 мм</td>
	<td>PIT10</td>
</tr>
<tr>
	<td>7,5</td>
	<td>K3-18A10</td>
	<td>2</td>
	<td>U12/16 K3</td>
	<td>IP65</td>
	<td>&#216; 20,5 мм</td>
	<td>P1T18</td>
</tr>
<tr>
	<td>11</td>
	<td>K3-22A10</td>
	<td>2</td>
	<td>U12/16 K3</td>
	<td>IP65</td>
	<td>&#216; 20,5 мм</td>
	<td>P1W22</td>
</tr>

<tr>
	<th class="th" colspan="8">Пускатели в оболочке с селективным переключателем</th>
</tr>
<tr>
	<td class="img" rowspan="3"><img style="min-height: 200px; max-height: 200px;"  src="http://www.poligon.info/images/design/categories/BENEDICT/P1W.jpg" alt="Пускатель в оболочке с переключателем"/></td>
	<td>4</td>
	<td>K3-10A10</td>
	<td>2</td>
	<td>U12/16 K3</td>
	<td>IP65</td>
	<td>&#216; 20,5 мм</td>
	<td>P1W10</td>
</tr>
<tr>
	<td>7,5</td>
	<td>K3-18A10</td>
	<td>2</td>
	<td>U12/16 K3</td>
	<td>IP65</td>
	<td>&#216; 20,5 мм</td>
	<td>P1W18</td>
</tr>
<tr>
	<td>11</td>
	<td>K3-22A10</td>
	<td>2</td>
	<td>U12/16 K3</td>
	<td>IP65</td>
	<td>&#216; 20,5 мм</td>
	<td>P1W22</td>
</tr>

<tr>
	<th colspan="8" class="th">Пускатели в оболочке с селективным переключателем и пневматической приставкой для сырых помещений</td>
</tr>
<tr>
	<td class="img"><img style="min-height: 200px; max-height: 200px;"  src="http://www.poligon.info/images/design/categories/BENEDICT/P1W18.jpg" alt="Пускатель для помещений с высокой влажностью"/></th>
	<td>7,5</td>
	<td>K3-18A10</td>
	<td>2</td>
	<td>U12/16 K3</td>
	<td>IP65</td>
	<td>&#216; 20,5 мм</td>
	<td>P1W18P</td>
</tr>
</tbody></table>
