
<table class="table"  border="1" cellspacing="1" cellpadding="1">
  <tr>
    <td rowspan="15"><img src="/images/design/categories/BENEDICT/MU25A.JPG" width="95" height="137"></td>
    <td><div align="center">
      <p>Диапазон <br>
        установок теплового расцепителя<br>
        A...A, </p>
    </div></td>
    <td><p align="center">AC3<br>
      400V<br>
      (кВт)
    </p>
    </td>

    <td><div align="center"><br>
        690V<br>
      (кВт)</div></td>
    <td><p align="center">Уставка<br>
      электромагнитного расцепителя,</p>
    <p align="center">А </p></td>
    <td><div align="center">Тип</div></td>
  </tr>
  <tr>
    <td><div align="center">0,1 - 0,16 </div></td>
    <td>0,02</td>
    <td>0,06</td>
    <td><div align="center">1,92</div></td>
    <td><a href="/products/39743">MU25A-0,16</a></td>
  </tr>
  <tr>
    <td><div align="center">0,16 - 0,25</div></td>
    <td>0,06</td>
    <td>0,12</td>
    <td><div align="center">3,0</div></td>
    <td><a href="/products/39744">MU25A-0,25</a></td>
  </tr>
  <tr>
    <td><div align="center">0,25 - 0,4 </div></td>
    <td>0,09</td>
    <td>0,18</td>
    <td><div align="center">4,8</div></td>
    <td><a href="/products/39745">MU25A-0,4</a></td>
  </tr>
  <tr>
    <td><div align="center">0,4 - 0,63 </div></td>
    <td>0,12</td>
    <td>0,25</td>
    <td><div align="center">7,6</div></td>
    <td><a href="/products/39746">MU25A-0,63</a></td>
  </tr>
  <tr>
    <td><div align="center">0,63 - 1 </div></td>
    <td>0,25</td>
    <td>0,55</td>
    <td><div align="center">12,0</div></td>
    <td><a href="/products/39747">MU25A-1</a></td>
  </tr>
  <tr>
    <td><div align="center">1 - 1,6 </div></td>
    <td>0,55</td>
    <td>1,1</td>
    <td><div align="center">19,2</div></td>
    <td><a href="/products/39748">MU25A-1,6</a></td>
  </tr>
  <tr>
    <td><div align="center">1,6 - 2,5 </div></td>
    <td>0,75</td>
    <td>1,5</td>
    <td><div align="center">30</div></td>
    <td><a href="/products/39751">MU25A-2,5</a></td>
  </tr>
  <tr>
    <td><div align="center">2,5 - 4 </div></td>
    <td>1,5</td>
    <td>3</td>
    <td><div align="center">48</div></td>
    <td><a href="/products/39755">MU25A-4</a></td>
  </tr>
  <tr>
    <td><div align="center">4 - 6,3 </div></td>
    <td>2,5</td>
    <td>4</td>
    <td><div align="center">75,6</div></td>
    <td><a href="/products/39756">MU25A-6,3</a></td>
  </tr>
  <tr>
    <td><div align="center">6,3 - 10 </div></td>
    <td>4</td>
    <td>7,5</td>
    <td><div align="center">120</div></td>
    <td><a href="/products/39749">MU25A-10</a></td>
  </tr>
  <tr>
    <td><div align="center">10 - 16 </div></td>
    <td>7,5</td>
    <td>11</td>
    <td><div align="center">192</div></td>
    <td><a href="/products/39750">MU25A-16</a></td>
  </tr>
  <tr>
    <td><div align="center">16 - 20 </div></td>
    <td>9</td>
    <td>12</td>
    <td><div align="center">240</div></td>
    <td><a href="/products/39752">MU25A-20</a></td>
  </tr>
  <tr>
    <td><div align="center">20 - 25 </div></td>
    <td>12,5</td>
    <td>22</td>
    <td><div align="center">300</div></td>
    <td><a href="/products/39753">MU25A-25</a></td>
  </tr>
  <tr>
    <td><div align="center">25 - 32 </div></td>
    <td>15</td>
    <td><div align="center">384</div></td>
    <td><div align="center">384</div></td>
	<td><a href="/products/39754">MU25A-32</a></td>
  </tr>
</table>

<p>Дополнительную информацию и аксессуары к мотор-автоматам MU25A-... вы можете найти в  <a href="/PDF/BENEDICT/Benedict%20-%20Manual%20Motor-Starters.pdf"><img src="/images/pdf_doc.gif">каталоге Benedict - Manual Motor Starters </a></p>
