<table class="table" border="2" cellpadding="1">
	<tbody>
		<tr>
			<td><p align="left"><strong>Кулачковые переключатели(Cam Switches)</strong></p></td>
			<td><p><img src="/images/design/categories/BENEDICT/Cam_Switch_1.JPG" alt="Кулачковый переключатель(Cam Switch) " width="73" height="74"></p>
			 <p><img src="/images/design/categories/BENEDICT/Cam_Switch_2.JPG" alt="Кулачковый переключатель(Cam Switch) " width="73" height="58"></p>
			</td>
			<td>
			<ul>
				<li>Выключатели On/Off</li>
				<li>Переключатели Звезда-Треугольник</li>
				<li>Старт Звезда-Треугольник (несколько скоростей)</li>
				<li>Переключатели цепей управления</li>
				<li>Сблокированные переключатели</li>
				<li>Переключатели измерения</li>
				<li>Многопозиционныйе переключатели</li>
			</ul>
		 </td>
		</tr>
		<tr>
		 <td>
		 <div align="left"></div>
		 <p><strong>Кулачковые мини-переключатели(Mini-Cam Switches)</strong></p>
		 <p align="right">  </p></td>
		 <td><img src="/images/design/categories/BENEDICT/Mini_Cam_Switch.JPG" alt="Кулачковый мини-переключатель(Mini-Cam Switch) " width="70" height="57"></td>
		 <td>
		<ul>
			<li>Выключатели On/Off</li>
			<li>Переключатели Звезда-Треугольник</li>
			<li>Переключатели цепей управления</li>
			<li>Переключатели измерения</li>
			<li>Многопозиционные переключатели</li>
			<li>Сблокированные переключатели</li>
		</ul>
		</td>
		</tr>
		<tr>
		 <td><p><strong>Главные выключатели(Main switches)</strong></p></td>
		 <td><img src="/images/design/categories/BENEDICT/Main_Switch.JPG" alt="Главный выключатель(Main Switch)" width="94" height="73"></td>
		 <td>
		<ul>
			<li>Выключатели с блокировочным замком</li>
			<li>Аксессуары</li>
			<li>Кулачковые переключатели с блокировочным замком</li>
		</ul>
		 </td>
		</tr>
		<tr>
		 <td><p><strong>Выключатели нагрузки/Выключатели-разъединители (Switch Disconectors) </strong></p></td>
		 <td><img src="/images/design/categories/BENEDICT/Switch_disconnector.JPG" alt="Выключатели-разъединители (Switch Disconectors)" width="54" height="62"></td>
		 <td>
       <ul>
   			<li>Выключатели On/Off</li>
   		</ul>
     </td>
		</tr>
		<tr>
		 <td><strong>Переключатели нагрузки (load switches) </strong></td>
		 <td><img src="/images/design/categories/BENEDICT/Load_Switch.JPG" alt="Переключатели нагрузки (load switches) " width="70" height="67"></td>
		 <td>
		 <ul>
			<li>Выключатели On/Off</li>
			<li>Реверсивные переключатели</li>
		</ul>
		</td>
		</tr>
		<tr>
		 <td><strong>Ручки и передние панели</strong></td>
		 <td><img src="/images/design/categories/BENEDICT/Handle.JPG" alt="Ручка (Handle)" width="50" height="67"></td>
		 <td>
		 <ul>
			<li>Ручки, головки</li>
			<li>Передние панели выключателей</li>
			<li>Различные углы вращения </li>
		</ul>
		</td>
		</tr>
		<tr>
		 <td><strong>Дополнительные опции </strong></td>
		 <td><p><img src="/images/design/categories/BENEDICT/Drive_unit_Fuss1.JPG" alt="Drive unit" width="74" height="54"></p>
		 <p><img src="/images/design/categories/BENEDICT/key_operated_switches_sa.JPG" alt="Key opereted switch" width="65" height="53"></p></td>
		 <td>
		 <ul>
			<li>Рабочие механизмы</li>
			<li>Крепления для монтажа в дверь</li>
			<li>Переключатели управляемые ключом</li>
			<li>Замки Padlock</li>
			<li>Блокировка переключателей, механические соединения</li>
			<li>Аксессуары</li>
		</ul>
		 </td></tr>
	</tbody>
</table>
<p>Дополнительную информацию по переключателям Вы можете получить <a href="/PDF/BENEDICT/Switches_d371e.pdf" class="pdf">в каталоге Benedict - Switches</a></p>
