<table class="table benedict"><caption id="contactors">Контакторы серии KG3</caption>
<thead>
<tr>
	<th></th>
	<th>Тип</th>
	<th>Питание катушки</th>
	<th>AC15 230V</th>
	<th>Номинальный ток</th>
	<th>Доп. контакты</th>
	<th>Схема</th>
</tr>
</thead>
<tfoot>
	<tr>
		<td style="text-align: left;" colspan="7">
		<p><strong>Другие напряжения питания катушки по запросу</strong>.</p>
		<p>Более подробная информация в каталоге <a href="/PDF/BENEDICT/Benedict_2012-Contactors_rus.pdf">Benedict — Контакторы</a>.</p>
		</td>
	</tr>
</tfoot>
<tbody>


	<tr>
		<th colspan="7">Контакторы с катушкой постоянного тока</th>
	</tr>
	<tr>
		<td rowspan="4"><img style="float: left;" alt="контактор Benedict" src="/images/design/categories/BENEDICT/K3-10.jpg">
		</td><td><a href='/products/38681'  title='' style=''>KG3-10A10 24</a></td>
		<td>24VDC</td>
		<td>4A</td>
		<td>25A</td>
		<td>4 HN..</td>
		<td rowspan="4"><img alt="схема контактов" src="/images/design/categories/BENEDICT/K1-09D10_.jpg"><br>
встроенная защита<br>
от помех<br>
катушка 3W</td>


	</tr>
	<tr>
		<td><a href='/products/38772'  title='' style=''>KG3-14A10 24</a></td>
		<td>24VDC</td>
		<td>5.5A</td>
		<td>25A</td>
		<td>4 HN...</td>
	</tr>
	<tr>
		<td><a href='/products/38913'  title='' style=''>KG3-18A10 24</a></td>
		<td>24VDC</td>
		<td>7.5A</td>
		<td>32A</td>
		<td>4 HN..</td>
	</tr>
	<tr>
		<td><a href='/products/38335'  title='' style=''>KG3-22A10 24</a></td>
		<td>24VDC</td>
		<td>11A</td>
		<td>32A</td>
		<td>4 HN..</td>
	</tr>

	<tr>
		<td rowspan="3"><img style="float: left;" alt="контактор Benedict" src="/images/design/categories/BENEDICT/kg3-40.jpg"></td>
		<td><a href='/products/38339'  title='' style=''>KG3-24A00 24</a></td>
		<td>24VDC</td>
		<td>11A</td>
		<td>50A</td>
		<td>4 HN..+2 HB..</td>
		<td rowspan="3"><img alt="схема контактов" src="/images/design/categories/BENEDICT/K1-09D10_.jpg"><br>
втроенная защита<br>
от помех<br>
катушка 4W</td>

	</tr>
	<tr>
		<td><a href='/products/38414'  title='' style=''>KG3-32A00 24</a></td>
		<td>24VDC</td>
		<td>15A</td>
		<td>65A</td>
		<td>4 HN..+2 HB..</td>
	</tr>
	<tr>
		<td><a href='/products/38454'  title='' style=''>KG3-40A00 24</a></td>
		<td>24VDC</td>
		<td>18.5A</td>
		<td>80A</td>
		<td>4 HN..+2 HB..</td>
	</tr>

</tbody></table>
