<% if @recentCategory.id == 161 %>
  <table class="table table-striped">
    <caption>Таблица характеристик УПП производства TELE (Австрия)</caption>
    <tbody>

      <tr><th colspan="7">Устройства плавного пуска серий TSG и MSG</th></tr>
      <tr>
      	<th>Контроль двигателя</th>
      	<th>Ном. ток</th>
      	<th>Ном. мощность двигателя</th>
      	<th>Размеры ШxВxГ(мм)</th>
      	<th>Вес(кг)</th>
      	<th>Тип</th>
      	<th>Артикул</th>
      </tr>
      <tr>
      	<th rowspan="2">1-фазный</th>
      	<td>5А</td>
      	<td>1,3кВт (1~230В)</td>
      	<td>75х22,5х111</td>
      	<td>0,2</td>
      	<td><entity prop="link" name="TSG 2,2 230VAC"/></td>
      	<td><entity prop="article" name="TSG 2,2 230VAC"/></td>
      </tr>
      <tr>
      	<td>5А</td>
      	<td>2,2кВт (3~400В)</td>
      	<td>75х22,5х111</td>
      	<td>0,2</td>
      	<td><entity prop="link" name="TSG 2,2 400VAC"/></td>
      	<td><entity prop="article" name="TSG 2,2 400VAC"/></td>
      </tr>
      <tr>
      	<th rowspan="4">3-фазный</th>
      	<td>6А</td>
      	<td>3кВт (макс. время запуска 3с)</td>
      	<td>76х45х117</td>
      	<td>0,33</td>
      	<td><entity prop="link" name="MSG 3-3s 400VAC"/></td>
      	<td><entity prop="article" name="MSG 3-3s 400VAC"/></td>
      </tr>
      <tr>
      	<td>6А</td>
      	<td>3кВт</td>
      	<td>76х45х117</td>
      	<td>0,33</td>
      	<td><entity prop="link" name="MSG 3-30s 400VAC"/></td>
      	<td><entity prop="article" name="MSG 3-30s 400VAC"/></td>
      </tr>
      <tr>
      	<td>11А</td>
      	<td>5,5кВт</td>
      	<td>76х70х117</td>
      	<td>0,41</td>
      	<td><entity prop="link" name="MSG 5,5 400VAC"/></td>
      	<td><entity prop="article" name="MSG 5,5 400VAC"/></td>
      </tr>
      <tr>
      	<td>22А</td>
      	<td>11кВт</td>
      	<td>76х100х117</td>
      	<td>0,62</td>
      	<td><entity prop="link" name="MSG 11 400VAC"/></td>
      	<td><entity prop="article" name="MSG 11 400VAC"/></td>
      </tr>

      <tr>
      	<th colspan="7">Устройства плавного пуска серии EUROSTART</th>
      </tr>
      <tr>
      	<th rowspan="15">3-фазный</th>
      	<td>4А</td>
      	<td>1,5кВт</td>
      	<td>200х83х106</td>
      	<td>1,2</td>
      	<td><entity prop="link" name="EUROSTART 1,5"/></td>
      	<td><entity prop="article" name="EUROSTART 1,5"/></td>
      </tr>
      <tr>
      	<td>5А</td>
      	<td>2,2кВт</td>
      	<td>200х83х106</td>
      	<td>1,2</td>
      	<td><entity prop="link" name="EUROSTART 2,2"/></td>
      	<td><entity prop="article" name="EUROSTART 2,2"/></td>
      </tr>
      <tr>
      	<td>7А</td>
      	<td>3,0кВт</td>
      	<td>200х83х106</td>
      	<td>1,2</td>
      	<td><entity prop="link" name="EUROSTART 3"/></td>
      	<td><entity prop="article" name="EUROSTART 3"/></td>
      </tr>
      <tr>
      	<td>9А</td>
      	<td>4,0кВт</td>
      	<td>200х83х106</td>
      	<td>1,2</td>
      	<td><entity prop="link" name="EUROSTART 4"/></td>
      	<td><entity prop="article" name="EUROSTART 4"/></td>
      </tr>
      <tr>
      	<td>12А</td>
      	<td>5,5кВт</td>
      	<td>200х83х106</td>
      	<td>1,2</td>
      	<td><entity prop="link" name="EUROSTART 5,5"/></td>
      	<td><entity prop="article" name="EUROSTART 5,5"/></td>
      </tr>
      <tr>
      	<td>16А</td>
      	<td>7,5кВт</td>
      	<td>200х85х205</td>
      	<td>2,2</td>
      	<td><entity prop="link" name="EUROSTART 7,5"/></td>
      	<td><entity prop="article" name="EUROSTART 7,5"/></td>
      </tr>
      <tr>
      	<td>23А</td>
      	<td>11кВт</td>
      	<td>200х85х205</td>
      	<td>2,2</td>
      	<td><entity prop="link" name="EUROSTART 11"/></td>
      	<td><entity prop="article" name="EUROSTART 11"/></td>
      </tr>
      <tr>
      	<td>31А</td>
      	<td>15кВт</td>
      	<td>200х85х205</td>
      	<td>2,2</td>
      	<td><entity prop="link" name="EUROSTART 15"/></td>
      	<td><entity prop="article" name="EUROSTART 15"/></td>
      </tr>
      <tr>
      	<td>39А</td>
      	<td>18,5кВт</td>
      	<td>200х85х205</td>
      	<td>2,2</td>
      	<td><entity prop="link" name="EUROSTART 18,5"/></td>
      	<td><entity prop="article" name="EUROSTART 18,5"/></td>
      </tr>
      <tr>
      	<td>46А</td>
      	<td>22кВт</td>
      	<td>200х85х205</td>
      	<td>2,2</td>
      	<td><entity prop="link" name="EUROSTART 22"/></td>
      	<td><entity prop="article" name="EUROSTART 22"/></td>
      </tr>
      <tr>
      	<td>64А</td>
      	<td>30кВт</td>
      	<td>200х306х140</td>
      	<td>4,5</td>
      	<td><entity prop="link" name="EUROSTART 30"/></td>
      	<td><entity prop="article" name="EUROSTART 30"/></td>
      </tr>
      <tr>
      	<td>77А</td>
      	<td>37кВт</td>
      	<td>200х306х140</td>
      	<td>4,5</td>
      	<td><entity prop="link" name="EUROSTART 37"/></td>
      	<td><entity prop="article" name="EUROSTART 37"/></td>
      </tr>
      <tr>
      	<td>94А</td>
      	<td>45кВт</td>
      	<td>200х306х140</td>
      	<td>4,5</td>
      	<td><entity prop="link" name="EUROSTART 45"/></td>
      	<td><entity prop="article" name="EUROSTART 45"/></td>
      </tr>
      <tr>
      	<td>115А</td>
      	<td>55кВт</td>
      	<td>200х306х140</td>
      	<td>4,5</td>
      	<td><entity prop="link" name="EUROSTART 55"/></td>
      	<td><entity prop="article" name="EUROSTART 55"/></td>
      </tr>
      <tr>
      	<td>155А</td>
      	<td>75кВт</td>
      	<td>200х306х140</td>
      	<td>4,5</td>
      	<td><entity prop="link" name="EUROSTART 75"/></td>
      	<td><entity prop="article" name="EUROSTART 75"/></td>
      </tr>

      <tr><th colspan="7">Устройства плавного пуска серии ESG</th></tr>
      <tr>
      	<th rowspan="14">3-фазный;<br/> без ограничения тока</th>
      	<td>5А</td>
      	<td>2,2кВт</td>
      	<td>200х140х115</td>
      	<td>1,3</td>
      	<td><entity prop="link" name="ESG 2,2-400"/></td>
      	<td><entity prop="article" name="ESG 2,2-400"/></td>
      </tr>
      <tr>
      	<td>6А</td>
      	<td>3кВт</td>
      	<td>200х140х115</td>
      	<td>1,4</td>
      	<td><entity prop="link" name="ESG 3-400"/></td>
      	<td><entity prop="article" name="ESG 3-400"/></td>
      </tr>
      <tr>
      	<td>8,5А</td>
      	<td>4кВт</td>
      	<td>200х140х115</td>
      	<td>1,5</td>
      	<td><entity prop="link" name="ESG 4-400"/></td>
      	<td><entity prop="article" name="ESG 4-400"/></td>
      </tr>
      <tr>
      	<td>12А</td>
      	<td>5,5кВт</td>
      	<td>160х260х170</td>
      	<td>2,8</td>
      	<td><entity prop="link" name="ESG 5,5-400"/></td>
      	<td><entity prop="article" name="ESG 5,5-400"/></td>
      </tr>
      <tr>
      	<td>15А</td>
      	<td>7,5кВт</td>
      	<td>160х260х170</td>
      	<td>2,8</td>
      	<td><entity prop="link" name="ESG 7,5-400"/></td>
      	<td><entity prop="article" name="ESG 7,5-400"/></td>
      </tr>
      <tr>
      	<td>22А</td>
      	<td>11кВт</td>
      	<td>160х260х170</td>
      	<td>3</td>
      	<td><entity prop="link" name="ESG 11-400"/></td>
      	<td><entity prop="article" name="ESG 11-400"/></td>
      </tr>
      <tr>
      	<td>30А</td>
      	<td>15кВт</td>
      	<td>160х260х170</td>
      	<td>3</td>
      	<td><entity prop="link" name="ESG 15-400"/></td>
      	<td><entity prop="article" name="ESG 15-400"/></td>
      </tr>
      <tr>
      	<td>40А</td>
      	<td>18,5кВт</td>
      	<td>160х260х170</td>
      	<td>3</td>
      	<td><entity prop="link" name="ESG 18,5-400"/></td>
      	<td><entity prop="article" name="ESG 18,5-400"/></td>
      </tr>
      <tr>
      	<td>45А</td>
      	<td>22кВт</td>
      	<td>160х260х170</td>
      	<td>3,5</td>
      	<td><entity prop="link" name="ESG 22-400"/></td>
      	<td><entity prop="article" name="ESG 22-400"/></td>
      </tr>
      <tr>
      	<td>60А</td>
      	<td>30кВт</td>
      	<td>200х360х200</td>
      	<td>8</td>
      	<td><entity prop="link" name="ESG 30-400"/></td>
      	<td><entity prop="article" name="ESG 30-400"/></td>
      </tr>
      <tr>
      	<td>70А</td>
      	<td>37кВт</td>
      	<td>200х360х200</td>
      	<td>8,5</td>
      	<td><entity prop="link" name="ESG 37-400"/></td>
      	<td><entity prop="article" name="ESG 37-400"/></td>
      </tr>
      <tr>
      	<td>90А</td>
      	<td>45кВт</td>
      	<td>200х360х200</td>
      	<td>8,5</td>
      	<td><entity prop="link" name="ESG 45-400"/></td>
      	<td><entity prop="article" name="ESG 45-400"/></td>
      </tr>
      <tr>
      	<td>110А</td>
      	<td>55кВт</td>
      	<td>200х360х200</td>
      	<td>9</td>
      	<td><entity prop="link" name="ESG 55-400"/></td>
      	<td><entity prop="article" name="ESG 55-400"/></td>
      </tr>
      <tr>
      	<td>150А</td>
      	<td>75кВт</td>
      	<td>200х360х200</td>
      	<td>9,5</td>
      	<td><entity prop="link" name="ESG 75-400"/></td>
      	<td><entity prop="article" name="ESG 75-400"/></td>
      </tr>
      <tr>
      	<th rowspan="24">3-фазный;<br/> c ограничением тока</th>
      	<td>5А</td>
      	<td>2,2кВт</td>
      	<td>200х140х115</td>
      	<td>1,3</td>
      	<td><entity prop="link" name="ESG-I 2,2-400"/></td>
      	<td><entity prop="article" name="ESG-I 2,2-400"/></td>
      </tr>
      <tr>
      	<td>6А</td>
      	<td>3кВт</td>
      	<td>200х140х115</td>
      	<td>1,4</td>
      	<td><entity prop="link" name="ESG-I 3-400"/></td>
      	<td><entity prop="article" name="ESG-I 3-400"/></td>
      </tr>
      <tr>
      	<td>8,5А</td>
      	<td>4кВт</td>
      	<td>200х140х115</td>
      	<td>1,5</td>
      	<td><entity prop="link" name="ESG-I 4-400"/></td>
      	<td><entity prop="article" name="ESG-I 4-400"/></td>
      </tr>
      <tr>
      	<td>12А</td>
      	<td>5,5кВт</td>
      	<td>160х260х170</td>
      	<td>2,8</td>
      	<td><entity prop="link" name="ESG-I 5,5-400"/></td>
      	<td><entity prop="article" name="ESG-I 5,5-400"/></td>
      </tr>
      <tr>
      	<td>15А</td>
      	<td>7,5кВт</td>
      	<td>160х260х170</td>
      	<td>2,8</td>
      	<td><entity prop="link" name="ESG-I 7,5-400"/></td>
      	<td><entity prop="article" name="ESG-I 7,5-400"/></td>
      </tr>
      <tr>
      	<td>22А</td>
      	<td>11кВт</td>
      	<td>160х260х170</td>
      	<td>3</td>
      	<td><entity prop="link" name="ESG-I 11-400"/></td>
      	<td><entity prop="article" name="ESG-I 11-400"/></td>
      </tr>
      <tr>
      	<td>30А</td>
      	<td>15кВт</td>
      	<td>160х260х170</td>
      	<td>3</td>
      	<td><entity prop="link" name="ESG-I 15-400"/></td>
      	<td><entity prop="article" name="ESG-I 15-400"/></td>
      </tr>
      <tr>
      	<td>40А</td>
      	<td>18,5кВт</td>
      	<td>160х260х170</td>
      	<td>3</td>
      	<td><entity prop="link" name="ESG-I 18,5-400"/></td>
      	<td><entity prop="article" name="ESG-I 18,5-400"/></td>
      </tr>
      <tr>
      	<td>45А</td>
      	<td>22кВт</td>
      	<td>160х260х170</td>
      	<td>3,5</td>
      	<td><entity prop="link" name="ESG-I 22-400"/></td>
      	<td><entity prop="article" name="ESG-I 22-400"/></td>
      </tr>
      <tr>
      	<td>60А</td>
      	<td>30кВт</td>
      	<td>200х360х200</td>
      	<td>8</td>
      	<td><entity prop="link" name="ESG-I 30-400"/></td>
      	<td><entity prop="article" name="ESG-I 30-400"/></td>
      </tr>
      <tr>
      	<td>70А</td>
      	<td>37кВт</td>
      	<td>200х360х200</td>
      	<td>8,5</td>
      	<td><entity prop="link" name="ESG-I 37-400"/></td>
      	<td><entity prop="article" name="ESG-I 37-400"/></td>
      </tr>
      <tr>
      	<td>90А</td>
      	<td>45кВт</td>
      	<td>200х360х200</td>
      	<td>8,5</td>
      	<td><entity prop="link" name="ESG-I 45-400"/></td>
      	<td><entity prop="article" name="ESG-I 45-400"/></td>
      </tr>
      <tr>
      	<td>110А</td>
      	<td>55кВт</td>
      	<td>200х360х200</td>
      	<td>9</td>
      	<td><entity prop="link" name="ESG-I 55-400"/></td>
      	<td><entity prop="article" name="ESG-I 55-400"/></td>
      </tr>
      <tr>
      	<td>150А</td>
      	<td>75кВт</td>
      	<td>200х360х200</td>
      	<td>9,5</td>
      	<td><entity prop="link" name="ESG-I 75-400"/></td>
      	<td><entity prop="article" name="ESG-I 75-400"/></td>
      </tr>
      <tr>
      	<td>180А</td>
      	<td>90кВт</td>
      	<td>200х360х200</td>
      	<td>10,5</td>
      	<td><entity prop="link" name="ESG-I 90-400"/></td>
      	<td><entity prop="article" name="ESG-I 90-400"/></td>
      </tr>
      <tr>
      	<td>200А</td>
      	<td>110кВт</td>
      	<td>400х360х240</td>
      	<td>18</td>
      	<td><entity prop="link" name="ESG-I 110-400"/></td>
      	<td><entity prop="article" name="ESG-I 110-400"/></td>
      </tr>
      <tr>
      	<td>230А</td>
      	<td>140кВт</td>
      	<td>400х360х240</td>
      	<td>18</td>
      	<td><entity prop="link" name="ESG-I 140-400"/></td>
      	<td><entity prop="article" name="ESG-I 140-400"/></td>
      </tr>
      <tr>
      	<td>300А</td>
      	<td>160кВт</td>
      	<td>545х600х346</td>
      	<td>41</td>
      	<td><entity prop="link" name="ESG-I 160-400"/></td>
      	<td><entity prop="article" name="ESG-I 160-400"/></td>
      </tr>
      <tr>
      	<td>350А</td>
      	<td>200кВт</td>
      	<td>545х600х346</td>
      	<td>41</td>
      	<td><entity prop="link" name="ESG-I 200-400"/></td>
      	<td><entity prop="article" name="ESG-I 200-400"/></td>
      </tr>
      <tr>
      	<td>450А</td>
      	<td>250кВт</td>
      	<td>545х600х346</td>
      	<td>42</td>
      	<td><entity prop="link" name="ESG-I 250-400"/></td>
      	<td><entity prop="article" name="ESG-I 250-400"/></td>
      </tr>
      <tr>
      	<td>550А</td>
      	<td>315кВт</td>
      	<td>545х600х346</td>
      	<td>42</td>
      	<td><entity prop="link" name="ESG-I 315-400"/></td>
      	<td><entity prop="article" name="ESG-I 315-400"/></td>
      </tr>
      <tr>
      	<td>700А</td>
      	<td>355кВт</td>
      	<td>545х600х346</td>
      	<td>44</td>
      	<td><entity prop="link" name="ESG-I 355-400"/></td>
      	<td><entity prop="article" name="ESG-I 355-400"/></td>
      </tr>
      <tr>
      	<td>800А</td>
      	<td>400кВт</td>
      	<td>715х850х396</td>
      	<td>51</td>
      	<td><entity prop="link" name="ESG-I 400-400"/></td>
      	<td><entity prop="article" name="ESG-I 400-400"/></td>
      </tr>
      <tr>
      	<td>1100А</td>
      	<td>560кВт</td>
      	<td>715х850х396</td>
      	<td>53</td>
      	<td><entity prop="link" name="ESG-I 560-400"/></td>
      	<td><entity prop="article" name="ESG-I 560-400"/></td>
      </tr>
    </tbody>
  </table>
<% elsif @recentCategory.id == 4993 %>
  <table class="table load-monitor">
    <thead>
    	<tr>
    		<th></th>
    		<th colspan="10">Контроль активной мощности</th>
    		<th>Ток</th>
    		<th colspan="3">Контроль cos&#966;</th>
    	</tr>
    </thead>

    <tbody>
      <tr>
      	<th>Функции</th>
      	<th colspan="14"> </th>
      </tr>
      <tr>
        <td>Контроль нагрузки на понижение</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
      </tr>
      <tr>
        <td>Контроль нагрузки на повышение</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
      </tr>
      <tr>
        <td>Контроль на понижение и повышение (в окне)</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
      </tr>
      <tr>
        <td>Обнаружение I=0 (нулевой ток)</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
      </tr>
      <tr>
        <td>Контроль температуры обмотки двигателя</td>
        <td>&#9632;</td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>Регулируемые пороговые значения</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
      </tr>
      <tr>
        <td>Регулируемый гистерезис</td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
      </tr>
      <tr>
        <td>Функция защёлки</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
      </tr>
      <tr>
        <td>Задержка срабатывания при включении (Start-up)</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
      </tr>
      <tr>
        <td>Задержка срабатывания</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
      </tr>
      <tr>
        <td>Уменьшеное время срабатывания</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
        <td>&#9632;</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>Цифровое управление (кнопки на лицевой панели)</td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
      	<th>Выходы</th>
      	<td colspan="14"></td>
      </tr>
      <tr>
        <td>1 перекидной контакт</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
      </tr>
      <tr>
        <td>2 перекидных контакта</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>&#9632;</td>
        <td>&#9632;</td>
        <td> </td>
      </tr>
      <tr>
        <td>Диапазон измерения тока</td>
        <td>16A</td>
        <td>16A</td>
        <td>12A</td>
        <td>12A</td>
        <td>12A</td>
        <td>12A</td>
        <td>12A</td>
        <td>12A</td>
        <td>12A</td>
        <td>12A</td>
        <td>15A</td>
        <td>10A</td>
        <td>2A</td>
        <td>10A</td>
      </tr>
      <tr>
        <td>Аналоговый выход</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td style="font-size: 10px;">4 - 20mA</td>
        <td style="font-size: 10px;">4 - 20mA</td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr class="with-img">
        <th>Измеряемое напряжение</th>
        <td><img src="http://www.poligon.info/classes/showimage.php?400/690V AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?400/690V AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?230/400V AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?277/400V AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?277/480V AC&font=2" alt=""/></td>
        <td>|</td>
        <td><img src="http://www.poligon.info/classes/showimage.php?230/400V AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?230/400V AC&font=2" alt=""/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?230/400V AC&font=2" alt=""/></td>
      </tr>
      <tr class="with-img">
        <th>Напряжение питания</th>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?24-500V AC/DC&font=2" alt="24-500V AC/DC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?24-240V AC/DC&font=2" alt="24-240V AC/DC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?24-240V AC/DC&font=2" alt="24-240V AC/DC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
        <td><img src="http://www.poligon.info/classes/showimage.php?12-400V AC&font=2"alt="12-400V AC"/></td>
      </tr>
      <tr class="with-img">
        <th>Тип</th>
        <td><a href="products/72945"><img src="http://www.poligon.info/classes/showimage.php?G4BM690V16ATL20" alt="G4BM690V16ATL20" title=""/></a></td>
        <td><a href="products/72946"><img src="http://www.poligon.info/classes/showimage.php?G4BM690V16AL20" alt="G4BM690V16AL20" title="G4BM690V16AL20"/></a></td>
        <td><a href="products/72947"><img src="http://www.poligon.info/classes/showimage.php?G4BM480V12ADTL20" alt="G4BM480V12ADTL20" title="G4BM480V12ADTL20"/></a></td>
        <td><a href="products/72948"><img src="http://www.poligon.info/classes/showimage.php?G4BM480V12ADTL20 24-240VAC/DC" alt="G4BM480V12ADTL20 24-240VAC/DC"/></a></td>
        <td><a href="products/72949"><img src="http://www.poligon.info/classes/showimage.php?G4BM480V12ATL20" alt="G4BM480V12ATL20"/></a></td>
        <td><a href="products/72950"><img src="http://www.poligon.info/classes/showimage.php?G4BM480V12AFTL20" alt="G4BM480V12AFTL20"/></a></td>
        <td><a href="products/72951"><img src="http://www.poligon.info/classes/showimage.php?G2BM480V12AFL10" alt="G2BM480V12AFL10"/></a></td>
        <td><a href="products/269"><img src="http://www.poligon.info/classes/showimage.php?G2BM400V12AL10" alt="G2BM400V12AL10"/></a></td>
        <td><a href="products/271"><img src="http://www.poligon.info/classes/showimage.php?G2BM400V12AFL10" alt="G2BM400V12AFL10"/></a></td>
        <td><a href="products/72952"><img src="http://www.poligon.info/classes/showimage.php?G2BA480V12A" alt="G2BA480V12A"/></a></td>
        <td><a href="products/72953"><img src="http://www.poligon.info/classes/showimage.php?G2IA15A" alt="G2IA15A"/></a></td>
        <td><a href="products/272"><img src="http://www.poligon.info/classes/showimage.php?G2CM400V10AL20" alt="G2CM400V10AL20"/></a></td>
        <td><a href="products/273"><img src="http://www.poligon.info/classes/showimage.php?G2CM400V2AL20" alt="G2CM400V2AL20"/></a></td>
        <td><a href="products/274"><img src="http://www.poligon.info/classes/showimage.php?G2CU400V10AL10" alt="G2CU400V10AL10"/></a></td>
      </tr>
    </tbody>
  </table>
  <p>* Для расширения диапазона расширения см. <a href="/categories/5035">трансформаторы тока</a>. </p>
<% elsif @recentCategory.id == 5004 %>
  <table class="tele-zebra w100p" id="tr">
    <caption>Встраиваемые модули питания TELE (PowerModule) — AC</caption>
    <thead>
      <tr>
        <th colspan="2">Серия</th>
        <th>Номинальное потребление</th>
        <th>Первичная цепь <br/>(AC 50/60Hz)</th>
        <th>Тип</th>
        <th>Артикул</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th rowspan="9"><img src="http://www.poligon.info/images/design/categories/TELE/TR2_230V.jpg" alt="Модуль питания TR2" class="w100px"/></th>
        <th rowspan="9">TR2</th>
        <th rowspan="9">2VA</th>
        <td>12V</td>
        <td>
          <entity name="TR2-12VAC" prop="onStoreImage"/>
          <entity name="TR2-12VAC" prop="link"/>
        </td>
        <td>
          <entity name="TR2-12VAC" prop="article"/>
        </td>
      </tr>
      <tr>
        <td>24V</td>
        <td>
          <entity name="TR2-24VAC" prop="onStoreImage"/>
          <entity name="TR2-24VAC" prop="link"/>
        </td>
        <td><entity name="TR2-24VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>42V</td>
        <td>
          <entity name="TR2-42VAC" prop="onStoreImage"/>
          <entity name="TR2-42VAC" prop="link"/>
        </td>
        <td><entity name="TR2-42VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>48V</td>
        <td>
          <entity name="TR2-48VAC" prop="onStoreImage"/>
          <entity name="TR2-48VAC" prop="link"/>
        </td>
        <td><entity name="TR2-48VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>110V</td>
        <td>
          <entity name="TR2-110VAC" prop="onStoreImage"/>
          <entity name="TR2-110VAC" prop="link"/>
        </td>
        <td><entity name="TR2-110VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>127V</td>
        <td>
          <entity name="TR2-127VAC" prop="onStoreImage"/>
          <entity name="TR2-127VAC" prop="link"/>
        </td>
        <td><entity name="TR2-127VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>230V</td>
        <td>
          <entity name="TR2-230VAC" prop="onStoreImage"/>
          <entity name="TR2-230VAC" prop="link"/>
        </td>
        <td><entity name="TR2-230VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>400V</td>
        <td>
          <entity name="TR2-400VAC" prop="onStoreImage"/>
          <entity name="TR2-400VAC" prop="link"/>
        </td>
        <td><entity name="TR2-400VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>440V</td>
        <td>
          <entity name="TR2-440VAC" prop="onStoreImage"/>
          <entity name="TR2-440VAC" prop="link"/>
        </td>
        <td><entity name="TR2-440VAC" prop="article"/></td>
      </tr>
      <tr>
        <th rowspan="9"><img src="http://www.poligon.info/images/design/categories/TELE/TR3_400V.jpg" alt="Модуль питания TR3" class="w100px"/></th>
        <th rowspan="9">TR3</th>
        <th rowspan="9">4VA</th>
        <td>12V</td>
        <td>
          <entity name="TR3-12VAC" prop="onStoreImage"/>
          <entity name="TR3-12VAC" prop="link"/>
        </td>
        <td><entity name="TR3-12VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>24V</td>
        <td>
          <entity name="TR3-24VAC" prop="onStoreImage"/>
          <entity name="TR3-24VAC" prop="link"/>
        </td>
        <td><entity name="TR3-24VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>42V</td>
        <td>
          <entity name="TR3-42VAC" prop="onStoreImage"/>
          <entity name="TR3-42VAC" prop="link"/>
        </td>
        <td><entity name="TR3-42VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>48V</td>
        <td>
          <entity name="TR3-48VAC" prop="onStoreImage"/>
          <entity name="TR3-48VAC" prop="link"/>
        </td>
        <td><entity name="TR3-48VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>110V</td>
        <td>
          <entity name="TR3-110VAC" prop="onStoreImage"/>
          <entity name="TR3-110VAC" prop="link"/>
        </td>
        <td><entity name="TR3-110VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>230V</td>
        <td>
          <entity name="TR3-230VAC" prop="onStoreImage"/>
          <entity name="TR3-230VAC" prop="link"/>
        </td>
        <td><entity name="TR3-230VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>400V</td>
        <td>
          <entity name="TR3-400VAC" prop="onStoreImage"/>
          <entity name="TR3-400VAC" prop="link"/>
        </td>
        <td><entity name="TR3-400VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>440V</td>
        <td>
          <entity name="TR3-440VAC" prop="onStoreImage"/>
          <entity name="TR3-440VAC" prop="link"/>
        </td>
        <td><entity name="TR3-440VAC" prop="article"/></td>
      </tr>
      <tr>
        <td>500V</td>
        <td>
          <entity name="TR3-500VAC" prop="onStoreImage"/>
          <entity name="TR3-500VAC" prop="link"/>
        </td>
        <td><entity name="TR3-500VAC" prop="article"/></td>
      </tr>
    </tbody>
  </table>

  <table class="tele-zebra w100p"><caption>Встраиваемые модули питания TELE (PowerModule) — DC</caption>
    <thead>
      <tr>
        <th>Серия</th>
        <th>Напряжение питания</th>
        <th>Тип</th>
        <th>Артикул</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SNT</td>
        <td>24VDC</td>
        <td>SNT2 24V DC</td>
        <td>282050</td>
      </tr>
    </tbody>
  </table>

  <h3>Внешний потенциометр RONDO R2</h3>
  <p>Внешний потенциометр для монтажа на панель. Позволяет удалённо задавать выдержки времени. </p>
  <table class="table table-striped">
    <caption>Диапазоны регулировки:</caption>
    <tbody>
      <tr>
        <td>1M&#937;</td>
        <td>(R2 1M&#937; 0.1)</td>
        <td>шкала от 0,1 до 1</td>
      </tr>
      <tr>
        <td>1M&#937;</td>
        <td>(R2 1M&#937; 0.3)</td>
        <td>шкала от 0,3 до 3</td>
      </tr>
      <tr>
        <td rowspan="3">Подключение</td>
        <td>1</td>
        <td>Первый</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ползунок</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Последний</td>
      </tr>
    </tbody>
  </table>
  <p>Базовая погрешность: ±10% (от максимального значения на шкале). Погрешность повторения: &#8804;0,01%.</p>

  <table class="tele-zebra w100p">
    <thead>
    <tr>
      <th colspan="2">Тип</th>
      <th>Описание</th>
      <th>Артикул</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="3"><img src="http://www.poligon.info/images/design/categories/TELE/R2.jpg" class="w100px" alt="Внешний потенциометр"/></td>
        <td>
          <entity name="R2 1MOHM 0,1" prop="onStoreImage"/>
          <entity name="R2 1MOHM 0,1" prop="link"/>
        </td>
        <td>Внешний потенциометр, шкала 0,1-1</td>
        <td><entity name="R2 1MOHM 0,1" prop="article"/></td>
      </tr>
      <tr>
        <td>
          <entity name="R2 1MOHM 0,3" prop="onStoreImage"/>
          <entity name="R2 1MOHM 0,3" prop="link"/>
        </td>
        <td>Внешний потенциометр, шкала 0,3-3</td>
        <td><entity name="R2 1MOHM 0,3" prop="article"/></td>
      </tr>
      <tr>
        <td>
          <entity name="R20 10KOHM" prop="onStoreImage"/>
          <entity name="R20 10KOHM" prop="link"/>
        </td>
        <td>Внешний потенциометр, шкала 1-10</td>
        <td><entity name="R20 10KOHM" prop="article"/></td>
      </tr>
    </tbody>
  </table>

  <h3>Датчики уровня Серия SK</h3>
  <ul class="mark">
    <li>Датчики для контроля уровня проводящих жидкостей</li>
    <li>Нержавеющие датчики, с ПВХ-покрытием, IP рейтинг IP44</li>
  </ul>
  <table class="tele-zebra w100p"><caption>Датчики уровня</caption>
    <thead>
      <tr>
        <th></th>
        <th>Кол-во электродов</th>
        <th>Длина</th>
        <th>Max. t°</th>
        <th class="w100px">Тип</th>
        <th>Артикул</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Погружаемый датчик (электрод)</strong></td>
        <td></td>
        <td>-</td>
        <td>60</td>
        <td>
          <entity name="SK1" prop="onStoreImage"/>
          <entity name="SK1" prop="link"/>
        </td>
        <td>
          <entity name="SK1" prop="article"/>
        </td>
      </tr>
      <tr>
        <th rowspan="3">Датчик касания</th>
        <td>2</td>
        <td>500мм</td>
        <td>90</td>
        <td>
          <entity name="SK2" prop="onStoreImage"/>
          <entity name="SK2" prop="link"/>
        </td>
        <td>
          <entity name="SK2" prop="article"/>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>500мм</td>
        <td>90</td>
        <td>
          <entity name="SK3-500" prop="onStoreImage"/>
          <entity name="SK3-500" prop="link"/>
        </td>
        <td>
          <entity name="SK3-500" prop="article"/>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>1000мм</td>
        <td>90</td>
        <td>
          <entity name="SK3-1000" prop="onStoreImage"/>
          <entity name="SK3-1000" prop="link"/>
        </td>
        <td>
          <entity name="SK3-1000" prop="article"/>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Защитная крышка GAMMA</h3>
  <p>Пломбируемая пластиковая защитная крышка для реле контроля и времени серии GAMMA 22,5 мм — <entity name="FA-G2 (IPS 22,5)" prop="link"/>, артикул 070160.</p>

  <h3>Монтажная рейка MP</h3>
  <p>Монтажная рейка для монтажа устройств TELE на стене. Самозатухающий пластик, три отверстия диаметром 4мм.</p>
  <table class="tele-zebra w100p">
    <caption>Монтажная рейка</caption>
    <tbody>
      <tr>
        <td>
          <entity name="MP" prop="onStoreImage"/>
          <entity name="MP" prop="link"/>
        </td>
        <td>Монтажная рейка</td>
        <td>075474</td>
      </tr>
      <tr>
        <td>
          <entity name="MP Gamma" prop="onStoreImage"/>
          <entity name="MP Gamma" prop="link"/>
        </td>
        <td>Монтажная рейка для серии GAMMA</td>
        <td>075574</td>
      </tr>
    </tbody>
  </table>
<% end %>
