<table class="table new-citel"><tbody><tr>
<td colspan="2">
Грозозащита с газовым разрядником
</td>
</tr>
<tr>

<td>
<img title="P8AX" alt="P8AX" src="http://www.poligon.info/images/design/categories/CITEL/P8AX.jpg">
</td>

<td><a href="/categories/5504"><b>P8AX</b></a>

<br><br>Рабочая частота от 0 до 6,9 ГГц. Профессиональная защита для построения сетей радиосвязи. Неограниченный срок эскплуатации благодаря сменному элементу - газовому разряднику.
</td>
</tr>





<tr>

<td>
<img title="CNP" alt="CNP" src="http://www.poligon.info/images/design/categories/CITEL/CNP.jpg" class="show">
</td>

<td><a href="/categories/5569"><b>CNP</b></a>

<br><br>Эффективное и экономичное решение для эфирных, кабельных и спутниковых бытовых теле- и радиоприемников.<br>
Вход/Выход - F-разъем.<br>
Гальваническая развязка внешней экранирующей оплетки кабеля от шины заземления.<br>
CNP90TV
</td>
</tr>


</tbody></table>
