<table class="table table-striped citel-cs">
<tfoot>
<tr>
	<td colspan="2"><p id="note-1" class="note-content">L-B : линия—экран / B-PE : экран—земля</p></td>
</tr>
</tfoot>
<tbody>
<tr>
<th>Название устройства по номенклатуре CITEL</th>
<th>CNP-90TV</th>
</tr>
<tr>
<td><b>Номер по каталогу</b></td>
<td><b>59001</b></td>
</tr>
<tr>
<td>Область применения<br></td>
<td>ТВ (спутниковое или кабельное)</td>
</tr>
<tr>
<td>Макс. допустимое рабочее напряжение пост./пер. ток (Uc)</td>
<td>75 В</td>
</tr>
<tr>
<td>Уровень защиты С3 (Up) при In</td>
<td>&lt; 600 В</td>
</tr>
<tr>
<td>Номинальный импульсный ток С2 (In) импульс 8/20 мкс</td>
<td>2,5 кА / 10 кА (L-B / B-PE<a href="#note-1" class="note">*</a>)</td>
</tr>
<tr>
<td>Диапазон частот</td>
<td>0—1000 МГц</td>
</tr>
<tr>
<td>Вносимое затухание</td>
<td>&lt; 0,3 дБ</td>
</tr>
<tr>
<td>Механические свойства</td>
<td>Пластиковый/ металлический корпус<br> Установка на несущую систему<br> Размеры корпуса: см. рисунок<br> Заземление с помощью дополнительного проводника</td>
</tr>
<tr>
<td>Диапазон температур</td>
<td>от - 40 °C до 80 °C</td>
</tr>
</tbody>
</table>





<table class="table table-striped citel-cs">
<caption>Информация для заказа антенных грозоразрядников для грозозащиты эфирного и спутникого телевидения</caption>
<thead>
	<tr>
		<th style="width: 20ex;">Код заказа</th>
		<th>Тип разъема и<br/>волновое сопротивление</th>
		<th>Описание устройства грозозащиты ВЧ-тракта</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>
			CNP90TV-B/MF<br/>
			CNP90TV-B/FF<br/>
			CNP90TV-B/MM
		</td>
		<td>BNC<br/>75 Ом</td>
		<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа BNC, с волновым сопротивлением 75 Ом, диапазон частот 0-2ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
	</tr>
	<tr>
		<td>
			<a href='/products/75059'  title='' style=''>CNP90TV-F/MF</a><br/>
			<a href='/products/75058'  title='' style=''>CNP90TV-F/FF</a><br/>
			CNP90TV-F/MM
		</td>
		<td>F<br/>75 Ом</td>
		<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа F, с волновым сопротивлением 75 Ом, диапазон частот 0-2 ГГц. Тип разъема "папа" (M) / "мама" (F) указан в коде заказа.</td>
	</tr>
</tbody>
</table>
