<h2>Размеры корпуса</h2>
<h3>P8AX09-N/MF (Пример)</h3>
<img src="http://www.poligon.info/images/design/categories/CITEL/P9AX.sizes.jpg" alt="Размеры устройства" class="show"/>

<table class="table table-striped citel-cs">
<caption>Спецификации</caption>
<tbody>
<tr>
<th>Серия продуктов CITEL</th>
<th>Р8АХ</th></tr>
<tr>
<td>Технология<br></td>
<td>Газовый разрядник (GDT)<br></td></tr>
<tr>
<td>Область применения</td>
<td>антенно-фидерные тракты с возможность. подачи питающего напряжения по коаксиальному кабелю<br></td></tr>
<tr>
<td>Диапазон частот (fmax)</td>
<td>от 0 до 6,9 ГГц</td></tr>
<tr>
<td>Вносимое затухание</td>
<td>&lt; 0,2 дБ</td></tr>
<tr>
<td>Коэффициент стоячей волны<br></td>
<td>&lt; 1,2</td></tr>
<tr>
<td>Мощность максимальная в кабеле</td>
<td>
<p>25 Вт для P8AX09<br>70 Вт для P8AX15<br>190 Вт для P8AX25<br>770 Вт для P8AX50<br>1100 Вт для P8AX60</p></td></tr>
<tr>
<td>Уровень защиты (Up) In (8/20 мкс)</td>
<td>&lt; 700 В для P8AX09, P8AX15, P8AX25<br>&lt; 1200 В для P8AX50, P8AX60<br></td></tr>
<tr>
<td>Макс. импульсный ток (Imax) 8/20мкс</td>
<td>20 кA</td></tr>
<tr>
<td>Макс. ток грозового разряда (Iimp) 10/350мкс</td>
<td>5 кA</td></tr>
<tr>
<td>Механические свойства</td>
<td>- Материал корпуса: латунь CuZnSn<br>- Немагнитный корпус</td></tr>
<tr>
<td>Диапазон температур</td>
<td>от -50 °C до +85 °C</td></tr></tbody></table>


<table class="table table-striped citel-cs">
<caption>Информация для заказа грозоразрядников ВЧ-тракта с возможностью подачи питающего напряжения по ВЧ-кабелю</caption>
<thead>
	<tr>
		<th style="width: 18ex;">Код заказа</th>
		<th>Тип разъема и<br/>волновое сопротивление</th>
		<th>Описание устройства грозозащиты ВЧ-тракта</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>
			P8AX09-B/MF/75<br/>
			P8AX09-B/FF/75<br/>
			P8AX15-B/FF/75<br/>
			P8AX25-B/FF/75
		</td>
		<td>
			BNC<br/>
			75 Ом
		</td>
		<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа BNC, с волновым сопротивлением 75 Ом, диапазон частот до 2 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
	</tr>
	<tr>
		<td>
			<a href='/products/42443'  title='' style=''>P8AX09-B/FF</a><br/>
			<a href='/products/75368'  title='' style=''>P8AX15-B/FF</a><br/>
			<a href='/products/42444'  title='' style=''>P8AX25-B/FF</a><br/>
			<a href='/products/75394'  title='' style=''>P8AX50-B/FF</a><br/>
			<a href='/products/42445'  title='' style=''>P8AX09-B/MF</a><br/>
			<a href='/products/75369'  title='' style=''>P8AX15-B/MF</a><br/>
			<a href='/products/42446'  title='' style=''>P8AX25-B/MF</a><br/>
			<a href='/products/75395'  title='' style=''>P8AX50-B/MF</a>
		</td>
		<td>
			BNC<br/>
			50 Ом
		</td>
		<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа BNC, с волновым сопротивлением 50 Ом, диапазон частот до 2/3,5 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
	</tr>
	<tr>
		<td>
			<a href='/products/42457'  title='' style=''>P8AX09-U/MF</a><br/>
			<a href='/products/42458'  title='' style=''>P8AX25-U/MF</a><br/>
			<a href='/products/75404'  title='' style=''>P8AX50-U/MF</a><br/>
			<a href='/products/75365'  title='' style=''>P8AX09-U/FF</a><br/>
			<a href='/products/42459'  title='' style=''>P8AX25-U/FF</a>
		</td>
		<td>
			UHF<br/>
			50 Ом
		</td>
		<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через  разъемы типа UHF, с волновым сопротивлением 50 Ом, диапазон частот до 2.5  ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
	</tr>
	<tr>
		<td>
			<a href='/products/75393'  title='' style=''>P8AX50-716/MM</a><br/>
			<a href='/products/42461'  title='' style=''>P8AX09-716/FF</a><br/>
			<a href='/products/75366'  title='' style=''>P8AX15-716/FF</a><br/>
			<a href='/products/75386'  title='' style=''>P8AX25-716/FF</a><br/>
			<a href='/products/75391'  title='' style=''>P8AX50-716/FF</a><br/>
			<a href='/products/75364'  title='' style=''>P8AX09-716/MF</a><br/>
			<a href='/products/75367'  title='' style=''>P8AX15-716/MF</a><br/>
			<a href='/products/42462'  title='' style=''>P8AX25-716/MF</a><br/>
			<a href='/products/75392'  title='' style=''>P8AX50-716/MF</a><br/>
			P8AX80-716/MF
		</td>
		<td>
			7/16<br/>
			50 Ом
		</td>
		<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа 7/16, с волновым сопротивлением 50 Ом, диапазон частот до 2/2.5/3.5 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
	</tr>
	<tr>
		<td>
			<a href='/products/42470'  title='' style=''>P8AX09-SMA/MF</a><br/>
			<a href='/products/75375'  title='' style=''>P8AX15-SMA/MF</a><br/>
			<a href='/products/75388'  title='' style=''>P8AX25-SMA/MF</a><br/>
			<a href='/products/42471'  title='' style=''>P8AX09-SMA/FF</a><br/>
			<a href='/products/75374'  title='' style=''>P8AX15-SMA/FF</a><br/>
			<a href='/products/75387'  title='' style=''>P8AX25-SMA/FF</a>
		</td>
			<td>
				SMA<br/>
				50 Ом
			</td>
			<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа SMA, с волновым сопротивлением 50 Ом, диапазон частот до 2/3.5 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
		</tr>
		<tr>
			<td>
				<a href='/products/75360'  title='' style=''>P8AX09-6G-SMA/FF</a><br/>
				<a href='/products/75382'  title='' style=''>P8AX25-6G-SMA/FF</a><br/>
				<a href='/products/75361'  title='' style=''>P8AX09-6G-SMA/MF</a><br/>
				<a href='/products/75383'  title='' style=''>P8AX25-6G-SMA/MF</a>
			</td>
			<td>
				SMA<br/>
				50 Ом
			</td>
			<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа SMA, с волновым сопротивлением 50 Ом, диапазон частот до 6 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
		</tr>
		<tr>
			<td>
				<a href='/products/42473'  title='' style=''>P8AX09-T/FF</a><br/>
				<a href='/products/75376'  title='' style=''>P8AX15-T/FF</a><br/>
				<a href='/products/75389'  title='' style=''>P8AX25-T/FF</a><br/>
				<a href='/products/75401'  title='' style=''>P8AX50-T/FF</a><br/>
				<a href='/products/42472'  title='' style=''>P8AX09-T/MF</a><br/>
				<a href='/products/75377'  title='' style=''>P8AX15-T/MF</a><br/>
				<a href='/products/75390'  title='' style=''>P8AX25-T/MF</a><br/>
				<a href='/products/75402'  title='' style=''>P8AX50-T/MF</a>
			</td>
			<td>
				TNC<br/>
				50 Ом
			</td>
			<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа TNC, с волновым сопротивлением 50 Ом, диапазон частот до 2/3.5ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
		</tr>
		<tr>
			<td>
				P8AX09-6G-T/FF<br/>
				P8AX25-6G-T/FF<br/>
				P8AX09-6G-T/MF<br/>
				P8AX25-6G-T/MF
			</td>
			<td>
				TNC<br/>
				50 Ом
			</td>
			<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа TNC, с волновым сопротивлением 50 Ом, диапазон частот до 6 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
		</tr>
		<tr>
			<td>
				<a href='/products/42475'  title='' style=''>P8AX09-F/FF</a><br/>
				<a href='/products/75370'  title='' style=''>P8AX15-F/FF</a><br/>
				<a href='/products/42476'  title='' style=''>P8AX25-F/FF</a><br/>
				<a href='/products/75396'  title='' style=''>P8AX50-F/FF</a><br/>
				<a href='/products/42474'  title='' style=''>P8AX09-F/MF</a><br/>
				<a href='/products/75371'  title='' style=''>P8AX15-F/MF</a><br/>
				<a href='/products/42477'  title='' style=''>P8AX25-F/MF</a>
			</td>
			<td>
				F<br/>
				75 Ом
			</td>
			<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа F, с волновым сопротивлением 75 Ом, диапазон частот до 2 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
		</tr>
		<tr>
			<td>
				<a href='/products/42451'  title='' style=''>P8AX09-N/MF</a><br/>
				<a href='/products/75373'  title='' style=''>P8AX15-N/MF</a><br/>
				<a href='/products/42452'  title='' style=''>P8AX25-N/MF</a><br/>
				<a href='/products/75398'  title='' style=''>P8AX50-N/MF</a><br/>
				P8AX60-N/MF<br/>
				<a href='/products/42449'  title='' style=''>P8AX09-N/FF</a><br/>
				<a href='/products/75372'  title='' style=''>P8AX15-N/FF</a><br/>
				<a href='/products/42450'  title='' style=''>P8AX25-N/FF</a><br/>
				<a href='/products/42469'  title='' style=''>P8AX50-N/FF</a><br/>
				P8AX60-N/FF
			</td>
			<td>
				N<br/>
				50 Ом
			</td>
			<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа N, с волновым сопротивлением 50 Ом, диапазон частот до 2/2.5/3.5 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
		</tr>
		<tr>
			<td>
				<a href='/products/75358'  title='' style=''>P8AX09-6G-N/FF</a><br/>
				<a href='/products/75380'  title='' style=''>P8AX25-6G-N/FF</a><br/>
				<a href='/products/75359'  title='' style=''>P8AX09-6G-N/MF</a><br/>
				<a href='/products/75381'  title='' style=''>P8AX25-6G-N/MF</a>
			</td>
				<td>
					N<br/>
					50 Ом</td>
				<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа N, с волновым сопротивлением 50 Ом, диапазон частот до 6 ГГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
			</tr>
			<tr>
				<td>
					<a href='/products/74875'  title='' style=''>BK-F</a><br/>
					<a href='/products/74876'  title='' style=''>BK-N</a><br/>
					<a href='/products/74877'  title='' style=''>BK-SMA</a><br/>
					<a href='/products/74878'  title='' style=''>BK-T</a><br/>
					<a href='/products/74873'  title='' style=''>BK-B</a><br/>
					<a href='/products/80097'  title='' style=''>BK-716</a>
				</td>
				<td>
					F<br/>
					N<br/>
					SMA<br/>
					T<br/>
					BNC<br/>
					7/16
				</td>
				<td>Скоба Г-образная монтажная, для крепления грозозоразрядника серии P8AX. Тип разъема указан в коде заказа.</td>
			</tr>
</tbody>
</table>
