<table class="table table-striped citel-cs">
<caption>Модельный ряд устройств RAK</caption>
<thead>
<tr>
	<th>Устройство</th>
	<th>RAKxx-E-C5E<br/>RAKxx-E-C6</th>
	<th>RAKxx-E-C6-60V</th>
	<th>RAKxx-T</th>
	<th>RAKxx-B</th>
	<th>RAKxx-G</th>
	<th>RAKxx-POE-A</th>
	<th>RAKxx-POE-B</th>
	<th><entity prop="link" name="RAK16-BNC"/></th>
	<th><entity prop="link" name="RAK16-CMS"/></th>
</tr>
</thead>
<tbody>
<tr>
	<td>Макс. скорость передачи данных</td>
	<td>1 000 Мб/с</td>
	<td>1 000 Мб/с</td>
	<td>100 Мб/с</td>
	<td>40 Мб/с</td>
	<td>40 Мб/с</td>
	<td>100 Мб/с</td>
	<td>100 Мб/с</td>
	<td>1 000 Мб/с</td>
	<td>1 000 Мб/с</td>
</tr>
<tr>
	<td>Макс. напряжение питания</td>
	<td>7,5VDC</td>
	<td>60VDC</td>
	<td>18VDC</td>
	<td>60VDC</td>
	<td>240VDC</td>
	<td>60VDC</td>
	<td>pin 1,2,3,6: 7,5VDC<br/>pin 4,5,7,8: 60VDC</td>
	<td>7,5VDC</td>
	<td>90VDC</td>
</tr>
<tr>
	<td>Макс. ток питания</td>
	<td colspan="9" style="text-align: center;">750mA</td>
</tr>
<tr>
	<td>Пиковое значение импульсного тока</td>
	<td>132A(-C5E)<br/>100A(-C6)</td>
	<td>45A</td>
	<td>60A</td>
	<td>50A</td>
	<td>75A</td>
	<td>50A</td>
	<td>pin 1,2,3,6: 132A<br/>pin 4,5,7,8: 50A</td>
	<td>132A</td>
	<td>20kA</td>
</tr>
<tr>
	<td>Макс. параллельная ёмкость</td>
	<td>&lt;40pF(-C5E)<br/>&lt;(-C6)</td>
	<td>&lt;15pF</td>
	<td>&lt;40pF</td>
	<td>&lt;75pF</td>
	<td>&lt;95pF</td>
	<td>&lt;25pF</td>
	<td>&lt;25pF</td>
	<td>&lt;30pF</td>
	<td>&lt;1pF</td>
</tr>
<tr>
	<td>Кол-во доступных портов</td>
	<td colspan="7" style="text-align: center;">16/32</td>
	<td colspan="2" style="text-align: center;">16</td>
</tr>
<tr>
	<td>Дистанционный вариант</td>
	<td colspan="7" style="text-align: center;">есть</td>
	<td colspan="2" style="text-align: center;">нет</td>
</tr>
<tr>
	<td>Применение</td>
	<td>100/1000Base T, RS422, RS485, RS423, Ethernet</td>
	<td>High Voltage Ethernet</td>
	<td>RS232</td>
	<td>ISDN, T1, DDD</td>
	<td>Dial-up modem, fax</td>
	<td>Power over Ethernet, Mode A</td>
	<td>Power over Ethernet, Mode B</td>
	<td>CCTV</td>
	<td>Cable TV, Satellite</td>
</tr>
<tr>
	<td>Соединение</td>
	<td colspan="7" style="text-align: center;">RJ45-мама</td>
	<td>BNC-мама</td>
	<td>F-мама</td>
</tr>
<tr>
	<td>Распиновка</td>
	<td colspan="7" style="text-align: center;">8 проводов на разъем</td>
	<td>N/A</td>
	<td>N/A</td>
</tr>
<tr>
	<td>Заземление</td>
	<td colspan="9">При помощи винта или от корпуса</td>
</tr>
</tbody></table>
