<table class="table table-striped">
<caption>Модельный ряд УЗИП DS215/DS415 для однофазных и трехфазных сетей переменного тока 220/380В</caption>
<thead>
<tr>
	<th style="width: 20ex;">Код заказа</th>
	<th>Описание</th>
</tr>
</thead>
<tbody>
<tr>
	<td>
		<p><a href="/products/41993" title="" style="">DS215-230</a></p>
		<p><a href="/products/41994" title="" style="">DS215S-230</a></p>
	</td>
	<td>Схема защиты 2+0. УЗИП суперкомпактное модульное двухполюсное Класса Защиты 3 для однофазных сетей TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href="/products/41995" title="" style="">DS215-230/G</a></p>
		<p><a href="/products/41996" title="" style="">DS215S-230/G</a></p>
	</td>
	<td>Схема защиты 1+1. УЗИП суперкомпактное модульное  двухполюсное Класса Защиты 3 для однофазных сетей TT и TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href="/products/75233" title="" style="">DS415-230</a></p>
		<p><a href="/products/75239" title="" style="">DS415S-230</a></p>
	</td>
	<td>Схема защиты 4+0. УЗИП суперкомпактное модульное четырехполюсное Класса Защиты 3 для трехфазных сетей TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href="/products/75234" title="" style="">DS415-230/G</a></p>
		<p><a href="/products/75240" title="" style="">DS415S-230/G</a></p>
	</td>
	<td>Схема защиты 3+1. УЗИП суперкомпактное модульное четырехполюсное Класса Защиты 3 для трехфазных сетей TT и TNS, пятипроводное подключение. Визуальный индикатор
рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
</tbody>
</table>
