<table class="table table-striped zebra"><caption>Характеристики</caption>
<thead>
	<tr>
		<th>Тип устройства</th>
		<th><a href='/products/75035'  title='' style=''>CMJ8-POE-A</a></th>
		<th><a href='/products/75036'  title='' style=''>CMJ8-POE-B</a></th>
	</tr>
</thead><tbody>
<tr>
	<td>Применение</td>
	<td colspan="2">PoE и гигабитные Ethernet-сети</td>
</tr>
<tr>
	<td>Максимальная скорость передачи данных</td>
	<td colspan="2">1000 Мб/с - CAT 5E</td>
</tr>
<tr>
	<td>Соответствие стандартам</td>
	<td colspan="2">
		IEEE 802-3af<br/>
		IEC 61000-4-5
	</td>
</tr>
<tr>
	<td>Соединение (вход и выход)</td>
	<td colspan="2">экранированный RJ45 </td>
</tr>
<tr>
	<td>Распиновка</td>
	<td colspan="2">8 проводов+экран</td>
</tr>
<tr>
	<td>Максимальное питание (DC)</td>
	<td>60 V - 650 mA</td>
	<td>
		7.5 V (1, 2, 3, 6 - 650 mA<br/>
		60 V (4, 5, 7, 8) - 650 mA
	</td>
</tr>
<tr>
	<td>Номинальный разрядный ток:<br/>
	Линия/линия<br/>
	Линия/земля</td>
	<td colspan="2"><br/>
	&lt;500 A @ 8/20&#956;s<br/>
	2000 A @ 8/20&#956;s
	</td>
</tr>
<tr>
	<td>PCB part #</td>
	<th>CMJ8-POE-A/PCB</th>
	<th>CMJ8-POE-B/PCB</th>
</tr>
<tr>
	<td>Класс защиты</td>
	<td colspan="2">IP65</td>
</tr>
<tr>
	<td>Подключение к сети</td>
	<td colspan="2">винтовое</td>
</tr>
</tbody></table>
