<table class="table table-striped citel-cs">
<caption>Модельный ряд кроссовой защиты серии LSA</caption>
<thead>
<tr>
	<th>Тип устройства</th>
	<th>E1LSA-T</th>
	<th>E1LSA-06DBC</th>
	<th>LSA10-T</th>
	<th>LSA10-06DBC</th>
</tr>
</thead>
<tbody>
<tr>
	<td>Использование</td>
	<td>аналоговые линии, ADSL</td>
	<td>T2, T1, 10BaseT</td>
	<td>аналоговые линии, ADSL</td>
	<td>T2, T1, 10BaseT</td>
</tr>
<tr>
	<td>Конфигурация</td>
	<td>1 пара</td>
	<td>1 пара</td>
	<td>10 пар</td>
	<td>10 пар</td>
</tr>
<tr>
	<td>Ном. напряжение линии</td>
	<td>150В</td>
	<td>6В</td>
	<td>150В</td>
	<td>6В</td>
</tr>
<tr>
	<td>Макс. напр. линии</td>
	<td>170В</td>
	<td>8В</td>
	<td>170В</td>
	<td>8В</td>
</tr>
<tr>
	<td>Макс. ток в линии</td>
	<td>300мА</td>
	<td>300мА</td>
	<td>300мА</td>
	<td>300мА</td>
</tr>
<tr>
	<td>Макс. частота</td>
	<td>3МГц</td>
	<td>&gt;20МГц</td>
	<td>3МГц</td>
	<td>&gt;20МГц</td>
</tr>
<tr>
	<td>Уровень защиты</td>
	<td>230В</td>
	<td>25В</td>
	<td>230В</td>
	<td>25В</td>
</tr>
<tr>
	<td>Макс. имп. ток</td>
	<td>5кА</td>
	<td>5кА</td>
	<td>5кА</td>
	<td>5кА</td>
</tr>
<tr>
	<td>Выход из строя</td>
	<td colspan="4">короткое замыкание</td>
</tr>

</tbody></table>
