<h2>Основные характеристики (СХР-DCB):</h2>
<ul>
    <li>Наличие фильтра постоянного тока</li>
    <li>Вносимое затухание &lt; 0,15 дБ</li>
    <li>VSWR &lt; 1,2</li>
    <li>Iimp: 5 кA (10/350 мкс)</li>
    <li>Imax: 10 кA (8/20 мкс)</li>
    <li>Диапазон частот: от 125 до 1000 МГц</li>
    <li>Способы подключения: N, BNC</li>
</ul>

<p>Доступны версии для всех возможных вариантов подключений. Низкий уровень потерь сигнала.</p>
<h2>Размеры корпуса</h2>
<h3>CXP06-F/FF-DCB (Пример)</h3>
<img src="http://www.poligon.info/images/CITEL/sizes/CXP-DCB.sizes.jpg" alt="Размеры СХР-DCB"/>

<table class="table table-striped citel-cs">
<caption>Спецификации</caption>
<tbody>
<tr>
<td><b>Серия продуктов CITEL</b></td>
<td><b>CXP-DCB</b></td>
</tr>
<tr>
<td>Технология<br></td>
<td>Газовый разрядник (GDT) + фильтр</td>
</tr>
<tr>
<td>Область применения</td>
<td>ВЧ-системы</td>
</tr>
<tr>
<td>Диапазон частот (fmax)</td>
<td>от 125 до 1000 МГц</td>
</tr>
<tr>
<td>Вносимое затухание</td>
<td>&lt; 0,15 дБ</td>
</tr>
<tr>
<td>VSWR</td>
<td>&lt; 1,2</td>
</tr>
<tr>
<td>Макс. потребляемая мощность</td>
<td>25 Вт: CXP09-DCB<br> 190 Вт: CXP25-DCB</td>
</tr>
<tr>
<td>Уровень защиты С3 (Up) In (8/20 мкс)</td>
<td>&lt; 100 В</td>
</tr>
<tr>
<td>Макс. импульсный ток (Imax) 8/20 мкс</td>
<td>10 кA</td>
</tr>
<tr>
<td>Макс. ток грозового разряда D1 (Iimp) 10/350 мкс</td>
<td>5 кА</td>
</tr>
<tr>
<td>Механические свойства</td>
<td>- Материал: латунь<br> - Немагнитный корпус</td>
</tr>
<tr>
<td>Диапазон температур</td>
<td>от - 40 °C до 80 °C</td>
</tr>
</tbody>
</table>
