<table class="table new-citel">
<tbody>
<tr>
<td colspan="2">Четвертьволновой разрядник</td>
</tr>


<tr>

<td width="30%">
<img title="PRC" alt="PRC" src="/images/design/categories/CITEL/PRC.jpg" >
</td>

<td width="70%"><a href="/categories/5505"><b>PRC</b></a>

<br><br>Всепогодное исполнение. Высочайшая надежность конструкции, не требующая обслуживания.<br>
Рабочий диапазон частот - от 400 МГц до 6 ГГц<br>
Imax 100кА.
</td>
</tr>


<tr>
<td colspan="2">
Грозозащита с газовым разрядником
</td>
</tr>
<tr>

<td>
<img style="max-heihgt: 200px;"  title="P8AX" alt="P8AX" src="/images/design/categories/CITEL/P8AX.jpg">
</td>

<td><a href="/categories/5504"><b>P8AX</b></a>

<br><br>Рабочая частота от 0 до 6,9 ГГц. Профессиональная защита для построения сетей радиосвязи. Неограниченный срок эскплуатации благодаря сменному элементу - газовому разряднику.
</td>
</tr>





<tr>

<td>
<img style="max-heihgt: 200px;"  title="CNP" alt="CNP" src="/images/design/categories/CITEL/CNP.jpg" >
</td>

<td><a href="/categories/5569"><b>CNP</b></a>

<br><br>Эффективное и экономичное решение для эфирных, кабельных и спутниковых бытовых теле- и радиоприемников.<br>
Вход/Выход - F-разъем.<br>
Гальваническая развязка внешней экранирующей оплетки кабеля от шины заземления.<br>
CNP90TV
</td>
</tr>




<tr>
<td colspan="2">
Гибридная грозозащита
</td>
</tr>


<tr>

<td>
<img style="max-heihgt: 200px;"  title="CXC" alt="CXC" src="/images/design/categories/CITEL/CXC.jpg" class="show"/>
</td>

<td><a href="/categories/5571"><b>CXC</b></a>

<br><br>Самый широкий спектр рабочих частот, конструктивных исполнений и типов разъемов.<br>
Применение в сетях Ethernet 10Base2, системах видеонаблюдения и кабельного телевидения для грозозащиты центральных и абонентских устройств.<br>
Диапазоны частот<br>
0-70 МГц<br>
110-400 МГц<br>
1475-1675 МГц <br>
1700-2600 МГц<br>
3300-3400 МГц
</td>
</tr>


<tr>

<td>
<img style="max-heihgt: 200px;"  title="MSP-VM" alt="MSP-VM" src="/images/design/categories/CITEL/MSP-VM.jpg" class="show"/>
</td>

<td><a href="/categories/5381"><b>MSP-VM</b></a>

<br><br>Устройство для комплексной грозозащиты видеокамер наружного наблюдения. Грозозащита видеосигнала, Грозозащита сигнала управления видеокамерой, грозозащита линии питания видеокамеры.<br>
<br>
MSP-VM
</td>
</tr>


<tr>

<td>
<img style="max-heihgt: 200px;"  title="RAK" alt="RAK" src="/images/design/categories/CITEL/RAK-group.jpg" class="show"/>
</td>

<td><a href="/categories/5573"><b>RAK</b></a>
<br><br>Групповой модуль коаксиальной грозозащиты 16 портов для монтажа в 19-дюймовую стойку. Грозозащита многопортового видеорегистратора, грозозащита видеонаблюдения.
</td>

</tr>
</tbody></table>
