<table class="table table-striped citel-cs">
<caption>Модельный ряд УЗИП DS250VG-300 для однофазных и трехфазных сетей переменного тока 220/380В</caption>
<thead>
<tr>
	<th style="width: 20ex;">Код заказа</th>
	<th>Описание</th>
</tr>
</thead>
<tbody>

<tr>
	<td><a href='/products/73716'  title='' style=''>DS252VG-300</a></td>
	<td>Схема защиты 2+0. Моноблочная сборка. УЗИП двухполюсное Класса Защиты 1+2+3 для однофазных сетей TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния и перекидные контакты для удаленной сигнализации.</td>
</tr>
<tr>
	<td><a href='/products/73717'  title='' style=''>DS252VG-300/G</a></td>
	<td>Схема защиты 1+1. Моноблочная сборка. УЗИП двухполюсное Класса Защиты 1+2+3 для однофазных сетей TT и TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния и перекидные контакты для удаленной сигнализации.</td></tr>
<tr>
	<td><a href='/products/73718'  title='' style=''>DS253VG-300</a></td>
	<td>Схема защиты 3+0. Моноблочная сборка. УЗИП трехполюсное Класса Защиты 1+2+3 для трехфазных сетей TNC, четырехпроводное подключение. Визуальный индикатор рабочего состояния и перекидные контакты для удаленной сигнализации.</td></tr>
<tr>
	<td><a href='/products/73719'  title='' style=''>DS254VG-300</a></td>
	<td>Схема защиты 4+0. Моноблочная сборка. УЗИП четрырехполюсное Класса Защиты 1+2+3 для трехфазных сетей TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния и перекидные контакты для удаленной сигнализации.</td></tr>
<tr>
	<td><a href='/products/73720'  title='' style=''>DS254VG-300/G</a></td>
	<td>Схема защиты 3+1. Моноблочная сборка. УЗИП четырехполюсное Класса Защиты 1+2+3 для трехфазных сетей TT и TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния и перекидные контакты для удаленной сигнализации.</td>
</tr>
</tbody>
</table>

<h3>Монтаж</h3>
<p>Монтаж УЗИП серии DS250VG осуществляется на стандартную DIN рейку. Допускается горизонтальная и вертикальная ориентация при монтаже. Каждый монополюсный блок DS250VG имеет по две клеммы подключения фазного проводника, что дает возможность V-образного включения в сеть и исключения падения напряжения на подводящих проводниках.</p>

<h3>Эксплуатация</h3>
<p>Благодаря применению передовой технологии VG при производстве УЗИП серии DS250VG, и отсутствию токов утечки, характерных для варисторных УЗИП, внутренние элементы УЗИП не подвержены износу и старению. Конструкция УЗИП DS250VG не содержит сменных элементов и рассчитана на работу в течение многих лет. Для проведения регламентных работ на электросети не требуется электрического отключения УЗИП DS250VG. Сигналы дистанционной сигнализации для централизованного мониторинга оповещают обслуживающий персонал о рабочем состоянии каждого отдельного фазного УЗИП или всей установки в целом. </p>

<p>Характеристики УЗИП DS250VG-300 для сети 220/380 Вольт (параметрические значения на один полюс, измеряемые на клеммах УЗИП):</p>
<ul>
    <li>Максимально допустимое рабочее напряжение Uc : 255~ Вольт</li>
    <li>Максимальное допустимое временное перенапряжение Ut : 400~ Вольт</li>
    <li>Максимальный импульсный ток молнии (10/350 мкс) Iimp: 25 кА</li>
    <li>Остаточное напряжение (при Iimp) Ures : не более 0.8  кВ</li>
    <li>Максимальный разрядный ток (1 импульс 8/20 мкс) Imax: 70 кА</li>
    <li>Номинальный разрядный ток (15 импульсов 8/20 мкс) In: 30 кА</li>
    <li>Напряжение ограничения (при In) Up : не более 1.5 кВ</li>
    <li>Встроенная схема безопасности для аварийного отключения</li>
    <li>Визуальный индикатор состояния и перекидные контакты для подключения удаленной сигнализации</li>
    <li>Соответствие требованиям ГОСТ 51992-2002, IEC 61643-11, EN 61643-11, UL1449 ed.2 </li>
</ul>
<p>Многополюсные УЗИП серии DS250VG-300 для трехфазных и однофазных сетей с изолированной и глухозаземленной нейтралью составляются из однополюсных моноблоков DS250VG-300 с использованием шины внешних соединений.  На следующем рисунке представлен пример сборки четырехполюсного УЗИП DS254VG-300/G для трехфазной сети с режимом нейтрали TNS или TT. </p>
<img src="http://www.poligon.info/images/design/categories/CITEL/DS254-example.jpg" alt="пример моноблочной сборки"/>

<table class="table table-striped">
<caption>DS250VG-300 — полный или расширенный аналог для следующих серий и изделий лругих производителей:</caption>
<tbody>
<tr> <td>
	<div>ABB</div>
   </td> <td>
	<div>серии — OVR, OVR T1, OVR T1+2, Limitor </div>
   </td> </tr>

<tr> <td>
	<div>HAKEL</div>
   </td> <td>
	<div>серии — PIV 230, PIVT 230, SPC </div>
   </td> </tr>

<tr> <td>
	<div>DEHN + SOHNE</div>
   </td> <td>
	<div>серии — DV M *** 255, DV ZP *** 255 </div>
   </td> </tr>

<tr> <td>
	<div>OBO Betterman</div>
   </td> <td>
	<div>серии — V50-B+C, V25-B+C, C25-B+C </div>
   </td> </tr>

<tr> <td>
	<div>Legrand</div>
   </td> <td>
	<div>изделия — 039 20, 039 21, 039 22, 039 23 </div>
   </td> </tr>
</tbody>
</table>
