<table class="table table-striped citel-cs">
<caption>Модельный ряд УЗИП DS40-230 для применения в однофазных и трехфазных сетях переменного тока 220/380В</caption>
<thead>
<tr>
	<th style="width: 20ex;">Код заказа</th>
	<th>Описание</th>
</tr>
</thead>
<tbody>
<tr>
	<td>
		<p><a href='/products/41823'  title='' style=''>DS41-230</a></p>
		<p><a href='/products/41828'  title='' style=''>DS41S-230</a></p>
	</td>
	<td>Схема защиты 1+0. УЗИП модульное однополюсное Класса Защиты 2+3 для однофазных сетей TNC, двухпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td><p><a href='/products/7774'  title='' style=''>DS42-230</a></p>
		<p><a href='/products/41829'  title='' style=''>DS42S-230</a></p>
	</td>
	<td>Схема защиты 2+0. УЗИП модульное двухполюсное Класса Защиты 2+3 для однофазных сетей TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41827'  title='' style=''>DS42-230/G</a></p>
		<p><a href='/products/41833'  title='' style=''>DS42S-230/G</a></p>
	</td>
	<td>Схема защиты 1+1. УЗИП модульное  двухполюсное Класса Защиты 2+3 для однофазных сетей TT и TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41824'  title='' style=''>DS43-230</a></p>
		<p><a href='/products/41830'  title='' style=''>DS43S-230</a></p>
	</td>
	<td>Схема защиты 3+0. УЗИП модульное трехполюсное Класса Защиты 2+3 для трехфазных сетей TNC, четырехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41825'  title='' style=''>DS44-230</a></p>
		<p><a href='/products/41831'  title='' style=''>DS44S-230</a></p>
	</td>
	<td>Схема защиты 4+0. УЗИП модульное четырехполюсное Класса Защиты 2+3 для трехфазных сетей TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41826'  title='' style=''>DS44-230/G</a></p>
		<p><a href='/products/41832'  title='' style=''>DS44S-230/G</a></p>
	</td>
	<td>Схема защиты 3+1. УЗИП модульное четырехполюсное Класса Защиты 2+3 для трехфазных сетей TT и TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
</tbody>
</table>
