
<h3>Модули защиты от перенапряжений (тип 2) для сетей постоянного тока и фотогальванических энергетических установок, Imax: 80 кA DS50PV, DS50PV 800</h3>

<p>DS50 PV был разработан специально для защиты от перенапряжений фотогальванических энергетических установок и выпускается в версиях, рассчитанных на напряжение 500, 800 и 1000 В (пост. ток).</p>

<p>Данный защитный модуль типа 2 состоит из 2 компонентов и может монтироваться на DIN-рейку. Наличие сменного модуля позволяет быстро произвести его замену в случае отказа.</p>

<p>Защитная схема включает варисторы высокой мощности с тепловым предохранителем. В случае отказа отключение прибора от сети обеспечивает тепловое размыкающее устройство, информация об этом отображается посредством механического индикатора. В качестве дополнительной опции DS50 PV может быть оснащен удаленной сигнализацией.</p>

<ul >
    <li>Отказоустойчивое соединение типа «звезда»</li>
    <li>Защитный модуль (тип 2) для фотогальванических энергетических установок</li>
    <li>Номинальный / максимальный импульсный ток: In: 20 кA / Imax: 40 кA (на каждый полюс)</li>
    <li>Сменный защитный модуль</li>
    <li>Удаленная сигнализация (опционально)</li>
    <li>Соответствие стандартам EN 61643-11 и IEC 61643-1</li>
</ul>

<h3>Размеры и принципиальная электрическая схема</h3>
<img src="http://www.poligon.info/images/design/categories/CITEL/DS50PV.sizes&schemes.jpg" alt="Размеры и схемы" class="show"/>

<table class="table table-striped citel-cs">
<caption>Технические данные</caption>
<tbody>
<tr>
<td><b>Защита от перенапряжения (SPD) в соответствии с EN61643-11/IEC61643-1</b></td>
<td colspan="3"><b>Тип 2 / Класс II / C</b></td>
</tr>
<tr>
<td> </td>
<td><b>DS50PV-500</b></td>
<td><b>DS50PV-800</b></td>
<td><b>DS50PV-1000</b></td>
</tr>
<tr>
<td>Макс. допустимое рабочее напряжение Un DC</td>
<td>530 В</td>
<td>840 В</td>
<td>1 060 В</td>
</tr>
<tr>
<td>Макс. импульсный ток (8/20) мкс Imax total</td>
<td>80 кA</td>
<td>80 кA</td>
<td>80 кA</td>
</tr>
<tr>
<td>Номинальный импульсный ток (8/20) мкс In total</td>
<td>40 кA</td>
<td>40 кA</td>
<td>40 кA</td>
</tr>
<tr>
<td>Уровень защиты Up</td>
<td>1,5 кВ</td>
<td>3,4 кВ</td>
<td>4 кВ</td>
</tr>
<tr>
<td>Остаточное напряжение (5 кА) Ures</td>
<td>1 кВ</td>
<td>2,4 кВ</td>
<td>3 кВ</td>
</tr>
<tr>
<td>Ток утечки / рабочий ток Ic</td>
<td colspan="3">&lt; 1 мA</td>
</tr>
<tr>
<td>Сопровождающий ток If</td>
<td colspan="3">не возникает</td>
</tr>
<tr>
<td>Способность гашения сопровождающего тока Ifi</td>
<td colspan="3">не ограничена</td>
</tr>
<tr>
<td>Время срабатывания tA</td>
<td colspan="3">&lt; 25 нс</td>
</tr>
<tr>
<td>Стойкость к коротким замыканиям Ip</td>
<td colspan="3">10 кA</td>
</tr>
<tr>
<td>Номинал предохранителя</td>
<td colspan="3">125 A gL</td>
</tr>
<tr>
<td>Индикатор неисправности</td>
<td colspan="3">Механический, красного цвета</td>
</tr>
<tr>
<td>Диапазон температур</td>
<td colspan="3">от - 40 °C до +85 °C</td>
</tr>
<tr>
<td>Поперечное сечение проводника</td>
<td colspan="3">4—25 мм<sup>2</sup></td>
</tr>
<tr>
<td>Класс защиты</td>
<td colspan="3">IP20</td>
</tr>
<tr>
<td>Монтаж</td>
<td colspan="3">DIN-рейка 35 мм</td>
</tr>
<tr>
<td>Размеры</td>
<td>2 TE</td>
<td colspan="2">3 TE DIN 43880</td>
</tr>
<tr>
<td>Материал корпуса</td>
<td colspan="3">Термопласт UL94-V0</td>
</tr>
<tr>
<td>Удаленная сигнализация (опция)</td>
<td colspan="3">Сухие контакты реле</td>
</tr>
<tr>
<td>Макс. разрывная мощность</td>
<td colspan="3">250 В / 0,5 A (перем. ток) — 30 В / 2 A (пост. ток)</td>
</tr>
<tr>
<td>Поперечное сечение проводника удаленной сигнализации</td>
<td colspan="3">не более 1,5 мм<sup>2</sup></td>
</tr>
<tr>
<td colspan="4"><b>Стандарты испытаний</b></td>
</tr>
<tr>
<td>DIN EN 61643-11 (Германия)</td>
<td colspan="3">Защитный модуль тип 2</td>
</tr>
<tr>
<td>IEC 61643-1 (международный)</td>
<td colspan="3">Устройства защиты линий низкого напряжения - тест класса ІI</td>
</tr>
<tr>
<td>EN 61643-11 (Европа)</td>
<td colspan="3">Устройства защиты линий низкого напряжения - тест класса ІI</td>
</tr>
<tr>
<td>UL1449 ed.2 (США)</td>
<td colspan="3">Системы подавления выбросов напряжения (TVSS) для линий низкого        напряжения</td>
</tr>
<tr>
<td colspan="4"><b>Информация для заказа</b></td>
</tr>
<tr>
<td>Номер по каталогу</td>
<td>44902</td>
<td>44923</td>
<td>44933</td>
</tr>
<tr>
<td>Тип без удаленной сигнализации</td>
<td>DS50PV-500</td>
<td>DS50PV-800</td>
<td>DS50PV-1000</td>
</tr>
<tr>
<td>Номер по каталогу</td>
<td>44912</td>
<td>44924</td>
<td>44943</td>
</tr>
<tr>
<td>Тип без удаленной сигнализации</td>
<td>DS50PV-500 FS</td>
<td>DS50PV-800 FS</td>
<td>DS50-PV-1000 FS</td>
</tr>
</tbody>
</table>


<h3>Модули защиты от перенапряжений (тип 2) для сетей постоянного тока и фотогальванических энергетических установок, Imax: 80 кA
DS50PV-500/G, DS50PV-800/G, DS50PV-1000/G, DS50PV-1000/G FS</h3>

<p>DS50 PV/G был разработан специально для защиты от перенапряжений фотогальванических энергетических установок и выпускается в версиях, рассчитанных на напряжение 500, 800 и 1000 В (пост. ток).</p>

<p>Данный защитный модуль типа 2 состоит из 2 компонентов и может монтироваться на DIN-рейку. Наличие сменного модуля позволяет быстро произвести его замену в случае отказа.</p>

<p>Защитная схема включает отказоустойчивое соединение типа «звезда» с варисторами высокой мощности и газовый разрядник. Особенности конструкции и соединения компонентов устройства позволяют безошибочно измерять сопротивление изоляции, так как ток утечки отсутствует. Стандартная версия DS50 PV/G предусматривает наличие удаленной сигнализации.</p>
<ul>
    <li>Отсутствие тока утечки</li>
    <li>Отказоустойчивое соединение типа «звезда»</li>
    <li>Защитный модуль (тип 2) для фотогальванических энергетических установок</li>
    <li>Номинальный / максимальный импульсный ток: In: 20 кA / Imax: 40 кA (на каждый полюс)</li>
    <li>Сменный защитный модуль</li>
    <li>Удаленная сигнализация (опционально)</li>
    <li>Соответствие стандартам EN 61643-11 и IEC 61643-1</li>
</ul>
<h3>Размеры и принципиальная электрическая схема</h3>
<img src="http://www.poligon.info/images/CITEL/sizes/DS50PVG.sizes&schemes.jpg" alt="Размеры и схемы" class="show"/>

<table class="table table-striped citel-cs">
<caption>Технические данные</caption>
<tbody>
<tr>
<td><b>Защита от перенапряжения (SPD) в соответствии с EN61643-11/IEC61643-1</b></td>
<td colspan="3"><b>Тип 2 / Класс II / C</b></td>
</tr>
<tr>
<td> </td>
<td><b>DS50PV-500/G</b></td>
<td><b>DS50PV-800/G </b></td>
<td><b>DS50PV-1000/G</b></td>
</tr>
<tr>
<td>Макс. допустимое рабочее напряжение Un DC</td>
<td>530 В</td>
<td>840 В</td>
<td>1 060 В</td>
</tr>
<tr>
<td>Макс. импульсный ток (8/20) мкс Imax total</td>
<td>80 кA</td>
<td>80 кA</td>
<td>80 кA</td>
</tr>
<tr>
<td>Номинальный импульсный ток (8/20) мкс In total</td>
<td>40 кA</td>
<td>40 кA</td>
<td>40 кA</td>
</tr>
<tr>
<td>Уровень защиты Up</td>
<td>1,5 кВ</td>
<td>3,4 кВ</td>
<td>4 кВ</td>
</tr>
<tr>
<td>Остаточное напряжение (5 кА) Ures</td>
<td>1 кВ</td>
<td>2,4 кВ</td>
<td>3 кВ</td>
</tr>
<tr>
<td>Ток утечки / рабочий ток Ic</td>
<td colspan="3">&lt; 1 мA</td>
</tr>
<tr>
<td>Сопровождающий ток If</td>
<td colspan="3">не возникает</td>
</tr>
<tr>
<td>Способность гашения сопровождающего тока Ifi</td>
<td colspan="3">не ограничена</td>
</tr>
<tr>
<td>Время срабатывания tA</td>
<td colspan="3">&lt; 25 нс</td>
</tr>
<tr>
<td>Стойкость к коротким замыканиям Ip</td>
<td colspan="3">10 кA</td>
</tr>
<tr>
<td>Номинал предохранителя</td>
<td colspan="3">125 A gL</td>
</tr>
<tr>
<td>Индикатор неисправности</td>
<td colspan="3">Механический, красного цвета</td>
</tr>
<tr>
<td>Диапазон температур</td>
<td colspan="3">от - 40 °C до +85 °C</td>
</tr>
<tr>
<td>Поперечное сечение проводника</td>
<td colspan="3">4—25 мм<sup>2</sup></td>
</tr>
<tr>
<td>Класс защиты</td>
<td colspan="3">IP20</td>
</tr>
<tr>
<td>Монтаж</td>
<td colspan="3">DIN-рейка 35 мм</td>
</tr>
<tr>
<td>Размеры</td>
<td colspan="3">3 TE DIN 43880</td>
</tr>
<tr>
<td>Материал корпуса</td>
<td colspan="3">Термопласт UL94-V0</td>
</tr>
<tr>
<td>Удаленная сигнализация (опция)</td>
<td colspan="3">Сухие контакты реле</td>
</tr>
<tr>
<td>Макс. разрывная мощность</td>
<td colspan="3">250 В / 0,5 A (перем. ток) — 30 В / 2 A (пост. ток)</td>
</tr>
<tr>
<td>Поперечное сечение проводника удаленной сигнализации</td>
<td colspan="3">не более 1,5 мм<sup>2</sup></td>
</tr>
<tr>
<td colspan="4"><b>Стандарты испытаний</b></td>
</tr>
<tr>
<td>DIN EN 61643-11 (Германия)</td>
<td colspan="3">Защитный модуль тип 2</td>
</tr>
<tr>
<td>IEC 61643-1 (международный)</td>
<td colspan="3">Устройства защиты линий низкого напряжения - тест класса ІI</td>
</tr>
<tr>
<td>EN 61643-11 (Европа)</td>
<td colspan="3">Устройства защиты линий низкого напряжения - тест класса ІI</td>
</tr>
<tr>
<td>UL1449 ed.2 (США)</td>
<td colspan="3">Системы подавления выбросов напряжения (TVSS) для линий низкого        напряжения</td>
</tr>
<tr>
<td colspan="4"><b>Информация для заказа</b></td>
</tr>
<tr>
<td>Номер по каталогу</td>
<td>44913</td>
<td>44925</td>
<td>44944</td>
</tr>
<tr>
<td>Тип без удаленной сигнализации</td>
<td>DS50PV<br> 500/G FS<br></td>
<td>DS50PV<br> 800/G FS<br></td>
<td>DS50PV<br> 1000G/ FS</td>
</tr>
</tbody>
</table>
