<table class="table table-striped citel-cs">
<caption>Модельный ряд УЗИП DS40VG-230 для однофазных и трехфазных сетей переменного тока 220/380В</caption>
<thead>
<tr>
	<th style="width: 20ex;">Код заказа</th>
	<th>Описание</th>
</tr>
</thead>
<tbody>
<tr>
	<td>
		<p><a href='/products/75244'  title='' style=''>DS41VG-230</a></p>
		<p><a href='/products/75246'  title='' style=''>DS41VGS-230</a></p>
	</td>
	<td>Схема защиты 1+0. УЗИП модульное однополюсное Класса Защиты 2+3 для однофазных сетей TNC, двухпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/75249'  title='' style=''>DS42VG-230</a></p>
		<p><a href='/products/75253'  title='' style=''>DS42VGS-230</a></p>
	</td>
	<td>Схема защиты 2+0. УЗИП модульное двухполюсное Класса Защиты 2+3 для однофазных сетей TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/75250'  title='' style=''>DS42VG-230/G</a></p>
		<p><a href='/products/75254'  title='' style=''>DS42VGS-230/G</a></p>
	</td>
	<td>Схема защиты 1+1. УЗИП модульное  двухполюсное Класса Защиты 2+3 для однофазных сетей TT и TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/75256'  title='' style=''>DS43VG-230</a></p>
		<p><a href='/products/75258'  title='' style=''>DS43VGS-230</a></p>
	</td>
	<td>Схема защиты 3+0. УЗИП модульное трехполюсное Класса Защиты 2+3 для трехфазных сетей TNC, четырехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/75275'  title='' style=''>DS44VG-230</a></p>
		<p><a href='/products/75279'  title='' style=''>DS44VGS-230</a></p>
	</td>
	<td>Схема защиты 4+0. УЗИП модульное четырехполюсное Класса Защиты 2+3 для трехфазных сетей TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/75276'  title='' style=''>DS44VG-230/G</a></p>
		<p><a href='/products/75280'  title='' style=''>DS44VGS-230/G</a></p>
	</td>
	<td>Схема защиты 3+1. УЗИП модульное четырехполюсное Класса Защиты 2+3 для трехфазных сетей TT и TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
</tbody>
</table>

<ul>
	<li>Индекс S в маркировке изделия обозначает вариант исполнения УЗИП с перекидными контактами НО/НЗ для дистанционной сигнализации о рабочем состоянии УЗИП.</li>
	<li>Возможна поставка УЗИП на различные номинальные напряжения сети (например, DS40VG-120 для сети 120/208 Вольт) по заказной спецификации.</li>
	<li>Сменная вставка DSM40VG-230 предназначена для замены защитного элемента одного полюса УЗИП.</li>
</ul>
