<table class="table new-citel">
<tbody>
<tr>
<td colspan="2">Четвертьволновой разрядник</td>
</tr>

<tr>
<td>
<img title="PRC" alt="PRC" src="/images/design/categories/CITEL/PRC.jpg" class="show"  style="max-height: 200px;" />
</td>

<td><a href="/categories/5505"><b>PRC</b></a>
<br><br>Всепогодное исполнение. Высочайшая надежность конструкции, не требующая обслуживания.<br>
Рабочий диапазон частот - от 400 МГц до 6 ГГц<br>
Imax 100кА.
</td>
</tr>
</tbody>
</table>
