<table class="table table-striped zebra"><caption>Характеристики</caption>
<thead>
	<tr>
		<th>Тип устройства</th>
		<th>MJ6-1T</th>
		<th>MJ8-12V</th>
		<th>MJ8-2RN</th>
		<th>MJ8-170V</th>
	</tr>
</thead><tbody>
<tr>
	<td>Применение</td>
	<td>PSNT/ADSL</td>
	<td>12 V сигнал</td>
	<td>ISDN</td>
	<td>PSTN/ASDL</td>
</tr>
<tr>
	<td>Максимальная скорость передачи данных</td>
	<td colspan="4">30 Мб/с</td>
</tr>
<tr>
	<td>Максимальный DC-сигнал</td>
	<td>
		150 V<br/>
		300 mA
	</td>
	<td>
		18 V<br/>
		600 mA
	</td>
	<td>
		60 V<br/>
		600mA
	</td>
	<td>
		150 V<br/>
		600 mA
	</td>
</tr>
<tr>
	<td>Выходные контакты</td>
	<td>(1-3)</td>
	<td>(1-2)(3-6)<br/>
		(4-5)(7-8)</td>
	<td>(3-6)(4-5)</td>
	<td>(1-2)(3-6)<br/>
		(4-5)(7-8)</td>
</tr>
<tr>
	<td>Номинальный разрядный ток:<br/>
	Линия/линия<br/>
	Линия/земля</td>
	<td><br/>
		&lt;2500 A<br/>
		2500 A
	</td>
	<td colspan="3"><br/>
		&lt;500 A<br/>
		2000 A
		</td>
</tr>
<tr>
	<td>Соединение (вход и выход)</td>
	<td>RJ11</td>
	<td colspan="3">экранированный RJ45</td>
</tr>
<tr>
	<td>Корпус</td>
	<td colspan="4">металлический</td>
</tr>
<tr>
	<td>Заземление</td>
	<td>крепежный фланец, провод заземления</td>
	<td colspan="3">винтовой наконечник, DIN-рейка или крепёжный фланец</td>
</tr>
<tr>
	<td>Соответствие стандарту</td>
	<td colspan="4">IEC 61643-21</td>
</tr>
</tbody></table>
