<table class="table table-striped citel-cs">
<caption>Технические данные</caption>
<tbody>
<tr>
<td><b>Название устройства по номенклатуре CITEL</b></td>
<td><b>DDx-6V</b></td>
<td><b>DDx-24V</b></td></tr>
<tr>
<td>Конфигурация</td>
<td>грозозащита всех проводников</td>
<td>грозозащита всех проводников</td></tr>
<tr>
<td>Штекер D-Sub 25 pin</td>
<td><a href='/products/42434'  title='' style=''>DD25-6V</a></td>
<td><a href='/products/42435'  title='' style=''>DD25-24V</a></td></tr>
<tr>
<td>Штекер D-Sub 15 pin</td>
<td><a href='/products/42428'  title='' style=''>DD15-6V</a></td>
<td><a href='/products/42431'  title='' style=''>DD15-24V</a></td></tr>
<tr>
<td>Штекер D-Sub 9 pin</td>
<td><a href='/products/42432'  title='' style=''>DD9-6V</a></td>
<td><a href='/products/42433'  title='' style=''>DD9-24V</a></td></tr>
<tr>
<td>Номинальное напряжение (Un)</td>
<td>6 В</td>
<td>12 В</td></tr>
<tr>
<td>Макс. допустимое рабочее напряжение пост./пер. ток (Uc)</td>
<td>6 В / 4 В</td>
<td>15 В / 10 В</td></tr>
<tr>
<td>Емкость (С)</td>
<td>&lt; 30 пФ</td>
<td>&lt; 30 пФ</td></tr>
<tr>
<td>Макс. скорость передачи данных</td>
<td>40 Мбит/с</td>
<td>40 Мбит/с</td></tr>
<tr>
<td>Уровень защиты С3 (Up)</td>
<td>7,5 В</td>
<td>18 В</td></tr>
<tr>
<td>Номинальный импульсный ток (In)</td>
<td>400 A</td>
<td>300 A</td></tr>
<tr>
<td>Способ монтажа</td>
<td>Промежуточный штекер</td>
<td>Промежуточный штекер</td></tr>
<tr>
<td>Подключение заземления</td>
<td>через дополнительный проводник</td>
<td>через дополнительный проводник</td></tr>
<tr>
<td>Материал корпуса</td>
<td>Термопласт</td>
<td>Термопласт</td></tr>
<tr>
<td>Размеры корпуса</td>
<td>см. рисунок</td>
<td>см. рисунок</td></tr></tbody></table>
