<table class="table new-citel"><tbody>
<tr>
<td colspan="2">
Грозозащита витой пары
</td>
</tr>


<tr>

<td>
<img title="MJ8" alt="MJ8" src="/images/design/categories/CITEL/RJ45.jpg" class="show">
</td>

<td><a href="/categories/5496"><b>MJ8</b></a>

<br><br>Серия MJ8 элемент грозозащиты слаботочной сети в металлическом экранированном корпусе.<br>
Вход/Выход - Разъемы RJ45<br>
MJ8-CAT5E<br>
MJ8-POE-A<br>
MJ8-POE-B<br>
MJ8-12V<br>
MJ8-170V<br>
MJ8-ISDN
</td>
</tr>


<tr>

<td>
<img title="CMJ8" alt="CMJ8" src="/images/design/categories/CITEL/CMJ8-POE.jpg" class="show">
</td>

<td><a href="/categories/5548"><b>CMJ8</b></a>

<br><br>Грозозащита витой пары Ethernet и PoE. Поддержка гигабитных сетей.<br>
Всепогодное исполнение. Для установки на улице, на столбах, на стенах зданий.<br>
Подключение - RJ45/RJ45.<br>
Заземление - обжимная клемма на винт.<br>
Герметичный ввод кабеля в шкаф.
</td>

</tr>


<tr>

<td>
<img title="PL" alt="PL" src="/images/design/categories/CITEL/PL.jpg" class="show">
</td>

<td><a href="/categories/5474"><b>PL</b></a>

<br><br>Групповой модуль грозозащиты для монтажа в 19 дюймовую стойку. Многопортовые патч-панели с грозозащитой Ethernet.
</td>

</tr>

</tbody></table>
