<table class="table table-striped citel-cs">
<caption>Технические данные</caption>
<tfoot>
	<tr>
		<td colspan="2">
			<p class="note-content" id="note-1">1. Варианты для других напряжений доступны по запросу</p>
			<p class="note-content" id="note-2">2. L-B : линия—экран / B-PE : экран—земля</p>
		</td>
	</tr>
</tfoot>
<tbody>
<tr>
<th>Название устройства по номенклатуре CITEL</th>
<th>CXC06</th>
</tr>
<tr>
<td>Область применения<br></td>
<td>Ethernet 10Base2, передача видеосигнала</td>
</tr>
<tr>
<td>Макс. допустимое рабочее напряжение пост./пер. ток (Uc)</td>
<td>6 В<a href="#note-1" class="note">*</a></td>
</tr>
<tr>
<td>Уровень защиты С3 (Up) при In</td>
<td>25 В</td>
</tr>
<tr>
<td>Номинальный импульсный ток С2 (In) импульс 8/20 мкс</td>
<td>2,5 кА / 10 кА (L-B / B-PE<a href="#note-2" class="note">**</a>)</td>
</tr>
<tr>
<td>Диапазон частот</td>
<td>0—70 МГц</td>
</tr>
<tr>
<td>Вносимое затухание</td>
<td>&lt; 0,6 дБ</td>
</tr>
<tr>
<td>Механические свойства</td>
<td>Луженый латунный корпус<br> Размеры корпуса: см. рисунок<br> Заземление с помощью дополнительного проводника</td>
</tr>
<tr>
<td>Диапазон температур</td>
<td>от - 40 °C до 80 °C</td>
</tr>
</tbody>
</table>

<table class="table table-striped citel-cs">
<caption>Информация для заказа грозоразрядников ВЧ-тракта с низким уровнем остаточного напряжения</caption>
<thead>
<tr>
	<th style="width: 20ex;">Код заказа</th>
	<th>Тип разъема и<br/>волновое сопротивление</th>
	<th>Описание устройства грозозащиты ВЧ-тракта</th>
</tr>
</thead>
<tbody>
<tr>
	<td>
		CXC06-B/FF/75
		<br/>CXC06-B/MF/75
		<br/>CXC06-B/FM/75
	</td>
	<td>BNC
	<br/>75 Ом
	</td>
	<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа BNC, с волновым сопротивлением 75 Ом, диапазон частот 0-70MГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
</tr>
<tr>
	<td>
		<a href='/products/73889'  title='' style=''>CXC06-B/FF</a>
		<br/><a href='/products/73890'  title='' style=''>CXC06-B/MF</a>
		<br/>CXC06-B/MM
	</td>
	<td>BNC
	<br/>50 Ом
	</td>
	<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа BNC, с волновым сопротивлением 50 Ом, диапазон частот 0-70 МГц. Тип разъема Папа (M) / Мама (F) указан в коде заказа.</td>
</tr>
<tr>
	<td>
		<a href='/products/75069'  title='' style=''>CXCGPS-N/MF</a>
		<br/><a href='/products/75068'  title='' style=''>CXCGPS-N/FF</a>
	</td>
	<td>N
		<br/>50 Ом
	</td>
	<td>Грозозащита GPS приемников, 1475-1675 МГц.Тип разъема Папа (M) / Мама (F) указан в коде заказа.<br/>
	</td>
</tr>
</tbody>
</table>








<h2>Размеры (в мм)</h2>
<img src="/images/design/categories/CITEL/CXC.sizes.jpg" alt="Размеры" class="show"/>

<h2>Принципиальная электрическая схема</h2>
<img src="/images/design/categories/CITEL/CNP.scheme.jpg" alt="Принципиальная электрическая схема" class="show"/>
