<table class="table table-striped citel-cs">
<caption>Параметры</caption>
<thead>
<tr>
	<th>Название продукта</th>
	<th>CF-01</th>
</tr>
</thead>
<tbody>
<tr>
	<td>Описание модели<br></td>
	<td>Счетчик разрядов молний для установки внутри и снаружи зданий</td></tr>
<tr>
<td>Минимальный регистрируемый токовый импульс</td>
<td>0.3 кА</td></tr>
<tr>
<td>Максимальный регистрируемый токовый импульс<br></td>
<td>100 кA</td></tr>
<tr>
<td>Макс. отображаемое количество срабатываний</td>
<td>999</td></tr>
<tr>
<td>Дисплей</td>
<td>жидкокристаллический (LCD)</td></tr>
<tr>
<td>Размеры корпуса</td>
<td>65x50x45 мм</td></tr>
<tr>
<td>Вес</td>
<td>0,15 кг</td></tr>
<tr>
<td>Материал корпуса</td>
<td>Поликарбонат IP67</td></tr>
<tr>
<td>Питание</td>
<td>внутренняя батарея</td></tr>
<tr>
<td>Ожидаемый срок эксплуатации</td>
<td>более 10 лет</td></tr>
<tr>
<td>Механический Монтаж</td>
<td>На круглый (DIA 6...10 мм) или плоский (30ммх2мм) заземляющий проводник</td></tr>
<tr>
<td>Соответствие стандартам</td>
<td>NFC 17-106</td></tr></tbody></table>
