<table class="table table-striped citel-cs"><caption>Модельный ряд УЗИП DUT250VG-300 для однофазных и трехфазных сетей переменного тока 220/380В</caption>
<thead>
<tr>
	<th style="width: 20ex;">Код Заказа</th>
	<th>Описание</th>
</tr>
</thead>
<tbody>


<tr>
	<td><p><a href='/products/73779'  title='' style=''>DUT250VG-300/G</a></p></td>
	<td>Схема защиты 3+1. Моноблок. УЗИП четырехполюсное Класса Защиты 1+2+3 для трехфазных сетей TT и TNS, пятипроводное подключение L+L+L+N+PE. Визуальный индикатор рабочего состояния.</td>
</tr>
</tbody>
</table>




<table class="table table-striped citel-cs"><caption>Технические данные:</caption>
<thead>
	<tr>
		<td>DUT 250VG-300</td>
		<td>TNC</td>
		<td>TNS</td>
		<td>TT</td>
		</tr>
</thead>
<tbody>
<tr><td>Номинальное напр.: U<sub>n</sub></td> <td>230 В</td> <td>230 В</td> <td>230 В</td></tr>
<tr><td>Мах допуст. раб. напр.: U<sub>C</sub></td> <td>255В</td> <td>255В</td> <td>255В</td></tr>
<tr><td>Ток утечки/рабочий ток: I<sub>C</sub></td> <td>-</td> <td>-</td> <td>-</td></tr>
<tr><td>Сопровождающий ток: I<sub>F</sub></td> <td colspan="3">Не возникает</td></tr>
<tr><td>Номин. имп. ток (8/20) : I<sub>n</sub></td> <td>90 кА</td> <td>120кА</td> <td>120 кА</td></tr>
<tr><td>Мах имп. ток (8/20) : I<sub>max</sub></td> <td>210 кА</td> <td>280кА</td> <td>280 кА</td></tr>
<tr><td>Мах.ток гр.разр.(10/350): I<sub>imp</sub></td> <td>75 кА</td> <td>100 кА</td> <td>100 кА</td></tr>
<tr><td>Время срабатывания: t<sub>A</sub></td> <td>20 нс</td> <td>20 нс</td> <td>20 нс</td></tr>
<tr><td>Мах ток д/входн пред-ля: A<sub>gL/gG</sub></td> <td>250A</td> <td>250A</td> <td>250 A</td></tr>
<tr><td>Уровень защиты (I<sub>n</sub>) U<sub>P</sub></td> <td>1,5кВ</td> <td>1,5 кВ</td> <td>1,5 кВ</td></tr>
<tr><td>Остаточное напр. (I<sub>max</sub>) U<sub>res</sub></td> <td>0,8 кВ</td> <td>0,8 кВ</td> <td>0,8 кВ</td></tr>
<tr><td>Диапазон температур:</td> <td colspan="3">- 40° C до + 80°C</td></tr>
<tr><td>Тип защиты:</td> <td>IP 20</td> <td>IP 20</td> <td>IP 20</td></tr>
<tr><td>Монтаж:</td> <td colspan="3">DIN-рейка 35мм</td></tr>
<tr><td>Поперечное сечение соединения:</td> <td colspan="3">2,5мм<sup>2</sup> - 50мм<sup>2</sup></td></tr>
<tr><td>Класс пожарной опасности</td> <td colspan="3">UL 94 -5VG</td></tr>
<tr><td>Дистанционная сигнализация:</td> <td colspan="3">Переключатель</td></tr>
<tr><td>Разрывная мощность по перем. току:</td> <td colspan="3">250 В AC/ 0,5A</td></tr>
<tr><td>Поперечное сечение соединения:</td> <td colspan="3">max 1,5 мм<sup>2</sup></td></tr>
</tbody></table>
