<table class="table new-citel">
  <tbody>
<tr>
<td colspan="2">
Гибридная грозозащита
</td>
</tr>



<tr>

<td>
<img title="CXC" alt="CXC" src="http://www.poligon.info/images/design/categories/CITEL/CXC.jpg" class="show"/>
</td>

<td><a href="/categories/5571"><b>CXC</b></a>

<br><br>Самый широкий спектр рабочих частот, конструктивных исполнений и типов разъемов.<br>
Применение в сетях Ethernet 10Base2, системах видеонаблюдения и кабельного телевидения для грозозащиты центральных и абонентских устройств.<br>
Диапазоны частот<br>
0-70 МГц<br>
110-400 МГц<br>
1475-1675 МГц <br>
1700-2600 МГц<br>
3300-3400 МГц
</td>
</tr>


<tr>

<td>
<img title="MSP-VM" alt="MSP-VM" src="http://www.poligon.info/images/design/categories/CITEL/MSP-VM.jpg" class="show"/>
</td>

<td><a href="/categories/5381"><b>MSP-VM</b></a>

<br><br>Устройство для комплексной грозозащиты видеокамер наружного наблюдения. Грозозащита видеосигнала, Грозозащита сигнала управления видеокамерой, грозозащита линии питания видеокамеры.<br>
<br>
MSP-VM
</td>
</tr>


<tr>

<td>
<img title="RAK" alt="RAK" src="http://www.poligon.info/images/design/categories/CITEL/RAK.jpg" class="show"/>
</td>

<td><a href="/categories/5573"><b>RAK</b></a>
<br><br>Групповой модуль коаксиальной грозозащиты 16 портов для монтажа в 19-дюймовую стойку. Грозозащита многопортового видеорегистратора, грозозащита видеонаблюдения.
</td>

</tr>
</tbody></table>
