<table class="table table-striped citel-cs">
<caption>Модельный ряд УЗИП серии DS50VGPV для применения в сетях постоянного тока</caption>
<thead>
<tr>
	<th style="width: 20ex;">Код заказа</th>
	<th>Описание</th>
</tr>
</thead>
<tbody>
<tr>
	<td>
		<p><a href='/products/41883'  title='' style=''>DS50VGPVS-500</a></p>
	</td>
	<td>УЗИП модульное трехполюсное Класса Защиты 2 для применения в сетях постоянного тока с рабочим напряжением до =600В. Трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41896'  title='' style=''>DS50VGPVS-1000</a></p>
	</td>
	<td>УЗИП модульное трехполюсное Класса Защиты 2 для применения в сетях постоянного тока с рабочим напряжением до =1200В. Трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации.</td>
</tr>
</tbody>
</table>
