<table class="table table-striped citel-cs">
<caption>Технические данные:</caption>
<thead>
<tr><th colspan="9">1 пара: DLU (Конфигурация 1 пара + экран)</th></tr>
<tr>
	<th>Название устройства по номенклатуре CITEL</th>
	<th><a href='/products/75105'  title='' style=''>DLU-170</a></th>
	<th><a href='/products/73927'  title='' style=''>DLU-48D3</a></th>
	<th>DLU-48DBC</th>
	<th><a href='/products/73924'  title='' style=''>DLU-24D3</a></th>
	<th><a href='/products/73923'  title='' style=''>DLU-12D3</a></th>
	<th>DLU-12DBC</th>
	<th><a href='/products/73921'  title='' style=''>DLU-06D3</a></th>
	<th><a href='/products/73917'  title='' style=''>DLU-06DBC</a></th>
</tr>
<tr><td>Номер по каталогу</td> <td>74238</td> <td>74236</td> <td>74237</td> <td>74234</td> <td>74232</td> <td>74233</td> <td>74230</td> <td>74231</td></tr>
</thead>
<tfoot>
<tr><td colspan="9"><p id="note-1" class="note-content">*на каждую пару</p></td></tr>
</tfoot>
<tbody>
<tr>
	<td>Область применения </td>
	<td>Аналоговый телефон ADSL </td>
	<td>48 В ISDN</td>
	<td>Fipway / WorldFIP / Fieldbus-H2</td>
	<td>4-20 мА Цепь 24 В</td>
	<td>Profibus-FMS / Interbus / Fieldbus-H1 / Batibus LON</td>
	<td>Profibus-DP / LONwork</td>
	<td>RS485 / RS 422</td>
	<td>6 В высокая скорость передачи данных</td>
</tr>

<tr><td>Номинальное напряжение (Un)</td> <td>150 В</td> <td>48 В</td> <td>48 В</td> <td>24 В</td> <td>12 В</td> <td>12 В</td> <td>6 В</td> <td>6 В</td></tr>
<tr><td>Макс. допустимое рабочее напряжение пост./пер. ток (Uc)</td> <td>170 В / 121 В</td> <td>53 В / 37 В</td> <td>53 В / 37 В</td> <td>28 В / 20 В</td> <td>15 В / 10 В</td> <td>15 В / 10 В</td> <td>10 В / 7 В</td> <td>10 В / 7 В</td></tr>
<tr><td>Макс. рабочий ток (IL)</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td></tr>
<tr><td>Уровень защиты С3 (Up) при In</td> <td>220 В</td> <td>70 В</td> <td>75 В</td> <td>40 В</td> <td>30 В</td> <td>35 В</td> <td>20 В</td> <td>25 В</td></tr>
<tr><td>Номинальный импульсный ток С2 (In)<a href="#note-1" class="note">*</a> импульс 8/20 мкс</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td></tr>
<tr><td>Макс. импульсный ток (Imax)<a href="#note-1" class="note">*</a> импульс 8/20 мкс</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td></tr>
<tr><td>D1 Ток грозового разряда (Iimp)<a href="#note-1" class="note">*</a> импульс 10/350 мкс</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td></tr>
<tr><td>Сопротивление отдельной линии (R)</td> <td>&lt; 4 Ом </td><td>&lt; 4 Ом </td><td>&lt; 4 Ом </td><td>&lt; 4 Ом </td><td>&lt; 4 Ом </td><td>&lt; 4 Ом </td><td>&lt; 4 Ом </td><td>&lt; 4 Ом </td></tr>
<tr><td>Емкость (С)</td> <td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td></tr>
<tr><td>Время срабатывания</td> <td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td></tr>
<tr><td>Схема подключения</td> <td>D</td><td>D</td><td>D</td><td>D</td><td>D</td><td>D</td><td>D</td><td>D</td></tr>
<tr><td>Неисправность устройства</td> <td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td></tr>
<tr>
<td>Механические свойства</td>

<td colspan="8">DIN-рейка 35 мм<br/>
Размеры: <a href="http://www.poligon.info/images/design/categories/CITEL/DLU.sizes.jpg" class="show">см. рисунок</a><br/>
Поперечное сечение проводника - не более 1,5 мм<sup>2</sup><br/>
Материал корпуса: Термопласт UL94-V0<br/>
Заземление через DIN-рейку (DLU, DLU2) и винтовой зажим (DLU)</td>
</tr>
</tbody>
</table>

<table class="citel-cs">
<caption>Технические данные: </caption>
<thead>
<tr><th colspan="7">2 пары: DLU2 (Конфигурация 2 пары)</th></tr>
<tr>
	<th>Название устройства по номенклатуре CITEL</th>
	<th><a href='/products/75110'  title='' style=''>DLU2-170</a></th>
	<th><a href='/products/73935'  title='' style=''>DLU2-48D3</a></th>
	<th><a href='/products/73933'  title='' style=''>DLU2-24D3</a></th>
	<th><a href='/products/73932'  title='' style=''>DLU2-12D3</a></th>
	<th><a href='/products/73931'  title='' style=''>DLU2-06D3</a></th>
	<th><a href='/products/42386'  title='' style=''>DLU2-06DBC</a></th>
</tr>

<tr><td>Номер по каталогу</td> <td>74268</td> <td>74266</td> <td>74264</td> <td>74262</td> <td>74260</td> <td>74261</td></tr>
<tr>
	<td>Область применения</td>
	<td>Аналоговый телефон ADSL</td>
	<td>48 В ISDN </td>
	<td>24 В </td>
	<td>RS232</td>
	<td>RS 485 / RS422</td>
	<td>T2 - T1 / 10BaseT</td>
</tr>
</thead>

<tfoot>
	<tr><td colspan="7"><p id="note-2" class="note-content">*на каждую пару</p></td></tr>
</tfoot>
<tbody>
<tr><td>Номинальное напряжение (Un)</td> <td>150 В</td> <td>48 В</td> <td>24 В</td> <td>12 В</td> <td>6 В</td> <td>6 В</td></tr>
<tr><td>Макс. допустимое рабочее напряжение пост./пер. ток (Uc)</td> <td>170 В / 121 В</td> <td>53 В / 37 В</td> <td>28 В / 20 В</td> <td>15 В / 10 В</td> <td>10 В / 7 В</td> <td>10 В / 7 В</td></tr>
<tr><td>Макс. рабочий ток</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td></tr>
<tr><td>Уровень защиты С3 (Up) при In</td> <td>220 В</td> <td>70 В</td> <td>40 В</td> <td>30 В</td> <td>20 В</td> <td>25 В</td></tr>
<tr><td>Номинальный импульсный ток С2 (In)<a href="#note-2" class="note">*</a> импульс 8/20 мкс</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td></tr>
<tr><td>Макс. импульсный ток (Imax)<a href="#note-2" class="note">*</a> импульс 8/20 мкс</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td></tr>
<tr><td>D1 Ток грозового разряда (Iimp)<a href="#note-2" class="note">*</a> импульс 10/350 мкс</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td></tr>
<tr><td>Сопротивление отдельной линии (R)</td> <td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td></tr>
<tr><td>Емкость (С)</td> <td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td></tr>
<tr><td>Время срабатывания</td> <td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td></tr>
<tr><td>Схема подключения</td> <td>C</td><td>C</td><td>C</td><td>C</td><td>C</td><td>C</td></tr>
<tr><td>Неисправность устройства</td> <td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td></tr>
<tr>
<td>Механические свойства</td>
<td colspan="6">DIN-рейка 35 мм<br/>
Размеры: <a href="/images/CITEL/sizes/DLU.sizes.jpg" class="show">см. рисунок</a><br/>
Поперечное сечение проводника - не более 1,5 мм<sup>2</sup><br/>
Материал корпуса: Термопласт UL94-V0<br/>
Заземление через DIN-рейку (DLU, DLU2) и винтовой зажим (DLU)
</td></tr>
</tbody>
</table>
<h2>Принципиальная электрическая схема</h2>
<img src="http://www.poligon.info/images/design/categories/CITEL/DLU.scheme.jpg" alt="Принципальная электрическая схема" title="Принципальная электрическая схема" class="show"/>
