<table class="table new-citel"><tbody><tr>
<td colspan="2">
Грозозащита с газовым разрядником
</td>
</tr>
<tr>

<td>
<img title="P8AX" alt="P8AX" src="http://www.poligon.info/images/design/categories/CITEL/P8AX.jpg">
</td>

<td><a href="/categories/5504"><b>P8AX</b></a>

<br><br>Рабочая частота от 0 до 6,9 ГГц. Профессиональная защита для построения сетей радиосвязи. Неограниченный срок эскплуатации благодаря сменному элементу - газовому разряднику.
</td>
</tr>


<tr>

<td>
<img title="CXP" alt="CXP" src="http://www.poligon.info/images/design/categories/CITEL/CXP.jpg" class="show">
</td>

<td><a href="/categories/5568"><b>CXP</b></a>

<br><br>Область применения - ТВ и радиоприеники. Высокий уровень защиты.<br>
Обеспечивает прохождение постоянной составляющей для питания выносных трансиверов.<br>
Гальваническая развязка оплетки коаксиального кабеля от шины заземления.
</td>

</tr>


<tr>

<td>
<img title="CNP" alt="CNP" src="http://www.poligon.info/images/design/categories/CITEL/CNP.jpg" class="show">
</td>

<td><a href="/categories/5569"><b>CNP</b></a>

<br><br>Эффективное и экономичное решение для эфирных, кабельных и спутниковых бытовых теле- и радиоприемников.<br>
Вход/Выход - F-разъем.<br>
Гальваническая развязка внешней экранирующей оплетки кабеля от шины заземления.<br>
CNP90TV
</td>
</tr>


<tr>

<td>
<img title="CXF" alt="CXF" src="http://www.poligon.info/images/design/categories/CITEL/CXF.jpg" class="show">
</td>

<td><a href="/categories/5570"><b>CXF</b></a>

<br><br>Грозозащита коаксиального кабеля CXF.
</td>
</tr></tbody></table>
