<h2>Размеры корпуса</h2>
<h3>PRC822-716W/FF (Пример)</h3>
<img src="http://www.poligon.info/images/design/categories/CITEL/PRC.sizes.jpg"/>
<p>Подробная информация и технические спецификации коаксиальных защитных модулей от CITEL содержатся в отдельном каталоге.</p>

<table class="table table-striped citel-cs">
<caption>Технические данные</caption>
<tbody>
<tr>
<td><b>Серия продуктов CITEL</b></td>
<td><b>PRC</b></td>
</tr>
<tr>
<td>Технология<br></td>
<td>Четвертьволновой замыкатель<br></td>
</tr>
<tr>
<td>Область применения</td>
<td>UMTS, GPS, GSM, TETRA<br></td>
</tr>
<tr>
<td>Диапазон частот (fmax)</td>
<td>400 - 6000 МГц<br></td>
</tr>
<tr>
<td>Вносимое затухание</td>
<td>&lt; 0,2 дБ</td>
</tr>
<tr>
<td>VSWR</td>
<td>&lt; 1,2</td>
</tr>
<tr>
<td>Макс. пропускаемая мощность</td>
<td>1500 Вт (в зависимости от типа разъема)</td>
</tr>
<tr>
<td>Напряжение ограничения (Up) In (8/20 мкс)</td>
<td>&lt; 10 В</td>
</tr>
<tr>
<td>Макс. импульсный ток (Imax) 8/20 мкс</td>
<td>~ 100 кA (в зависимости от типа разъема)</td>
</tr>
<tr>
<td>Макс. ток грозового разряда (Iimp) 10/350 мкс</td>
<td>25 кA</td>
</tr>
<tr>
<td>Механические свойства</td>
<td>- Материал: латунь CuZnSn<br> - Немагнитный корпус</td>
</tr>
<tr>
<td>Диапазон температур</td>
<td>от - 40 °C до 80 °C</td>
</tr>
</tbody>
</table>





<table class="table table-striped citel-cs">
<caption>Информация для заказа грозоразрядников ВЧ-тракта по технологии четвертьволнового замыкателя</caption>
<thead>
	<tr>
		<td style="width: 20ex;">Код заказа</td>
		<td>Тип разъема и<br/>волновое сопротивление</td>
		<td>Описание устройства грозозащиты ВЧ-тракта</td>
	</tr>
</thead>
<tbody>
<tr>
	<td>
		<a href='/products/75429'  title='' style=''>PRC358-716W/MF</a><br/>
		<a href='/products/75431'  title='' style=''>PRC450-716/MF</a><br/>
		<a href='/products/75441'  title='' style=''>PRC822-716/MF</a><br/>
		<a href='/products/75443'  title='' style=''>PRC822-716W/MF</a><br/>
		<a href='/products/75440'  title='' style=''>PRC822-716/FF</a><br/>
		PRC822E-716W/FF<br/>
		PRC850-716W/MF<br/>
		<a href='/products/75451'  title='' style=''>PRC900-716/MF</a><br/>
		<a href='/products/75454'  title='' style=''>PRC900-716W/MF</a><br/>
		<a href='/products/75450'  title='' style=''>PRC900-716/FF</a><br/>
		PRC900E-716W/FF<br/>
		PRC1720-716/MF<br/>
		PRC1720E-716W/F<br/>
		<a href='/products/75412'  title='' style=''>PRC1800-716/MF</a><br/>
		<a href='/products/75415'  title='' style=''>PRC1800-716W/MF</a><br/>
		<a href='/products/75411'  title='' style=''>PRC1800-716/FF</a>
	</td>
	<td>7/16<br>50 Ом</td>
	<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа 7/16, с волновым сопротивлением 50 Ом, диапазон частот и тип разъема Папа (M) / Мама (F) указан в коде заказа. Максимальная полезная передаваемая мощность 2.5кВт.
	</td>
</tr>
<tr>
	<td>
		PRC822-T/MF<br/>
		PRC900-T/MF<br/>
		PRC1800-T/MF<br/>
	</td>
	<td>TNC<br>50 Ом</td>
	<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа TNC, с волновым сопротивлением 50 Ом, диапазон частот и тип разъема Папа (M) / Мама (F) указан в коде заказа. Максимальная полезная передаваемая мощность 1.5кВт.</td>
</tr>
<tr>
	<td>
		<a href='/products/75435'  title='' style=''>PRC450-N/MF</a><br/>
		<a href='/products/42463'  title='' style=''>PRC450-NW/FF</a><br/>
		<a href='/products/75436'  title='' style=''>PRC450-NW/MF</a><br/>
		<a href='/products/75445'  title='' style=''>PRC822-N/MF</a><br/>
		<a href='/products/75444'  title='' style=''>PRC822-N/FF</a><br/>
		<a href='/products/75446'  title='' style=''>PRC822-NW/FF</a><br/>
		PRC850-N/MF<br/>
		<a href='/products/75456'  title='' style=''>PRC900-N/MF</a><br/>
		<a href='/products/75457'  title='' style=''>PRC900-NW/MF</a><br/>
		<a href='/products/75455'  title='' style=''>PRC900-N/FF</a><br/>
		<a href='/products/42465'  title='' style=''>PRC900-NW/FF</a><br/>
		<a href='/products/75417'  title='' style=''>PRC1800-N/MF</a><br/>
		<a href='/products/75419'  title='' style=''>PRC1800-NW/MF</a><br/>
		<a href='/products/75416'  title='' style=''>PRC1800-N/FF</a><br/>
		<a href='/products/75418'  title='' style=''>PRC1800-NW/FF</a><br/>
		PRC2050-N/MF<br/>
		PRC2050-N/FF<br/>
		<a href='/products/75423'  title='' style=''>PRC2100-NW/FF</a><br/>
		<a href='/products/75427'  title='' style=''>PRC2400-NW/MF</a><br/>
		<a href='/products/75426'  title='' style=''>PRC2400-NW/FF</a><br/>
		<a href='/products/42468'  title='' style=''>PRC5800-N/MF</a><br/>
		<a href='/products/75437'  title='' style=''>PRC5800-N/FF</a><br/>
		<a href='/products/75438'  title='' style=''>PRC5800-NW/FF</a>
	</td>
	<td>N<br>50 Ом</td>
	<td>Грозоразрядник антенный для включения в разрыв коаксиального кабеля через разъемы типа N, с волновым сопротивлением 50 Ом, диапазон частот и тип разъема Папа (M) / Мама (F) указан в коде заказа. Максимальная полезная передаваемая мощность 1.5кВт.</td>
</tr>
</tbody>
</table>
