<table class="table table-striped citel-cs">
<thead>
<tr>
	<th>Тип устройства</th>
	<th>DS100G-600</th>
	<th>DS100EG-600</th>
	<th>DS100EG-350</th>
</tr>
</thead>
<tbody>
<tr>
	<td>Сеть</td>
	<td>230/400V</td>
	<td>230/400V</td>
	<td>120/208V</td>
</tr>
<tr>
	<td>Тип подключения</td>
	<td colspan="3">N/PE</td>
</tr>
<tr>
	<td>AC тип</td>
	<td colspan="3">TT, TNS</td>
</tr>
<tr>
	<td>Макс. рабочее напряжение</td>
	<td>225V</td>
	<td>225V</td>
	<td>150V</td>
</tr>
<tr>
	<td>Временное перенапряжение</td>
	<td>400V</td>
	<td>400V</td>
	<td>150V</td>
</tr>
<tr>
	<td>Ном. имп. ток 15X8/20 мкс</td>
	<td colspan="3">50kA</td>
</tr>
<tr>
	<td>Макс. имп. ток 8/20 мкс</td>
	<td>200kA</td>
	<td>150kA</td>
	<td>150kA</td>
</tr>
<tr>
	<td>Макс. ток гроз. разр. на полюс 10/350 мкс</td>
	<td>100kA</td>
	<td>50kA</td>
	<td>50kA</td>
</tr>
<tr>
	<td>Уровень защиты</td>
	<td colspan="3">1,5kV</td>
</tr>
<tr>
	<th colspan="4">Механические характеристики</th>
</tr>
<tr>
	<td>Соединение</td>
	<td colspan="3">винтовые клемы 6-35мм<sup>2</sup> / на шину</td>
</tr>
<tr>
	<td>Монтаж</td>
	<td colspan="3">семетричный на рейку 35мм</td>
</tr>
<tr>
	<td>Работчая температура</td>
	<td colspan="3">-40/+85°C</td>
</tr>
<tr>
	<td>Класс защиты</td>
	<td colspan="3">IP20</td>
</tr>
</tbody></table>
