<table class="table table-striped citel-cs">
<caption>Параметры</caption>
<thead>
<tr>
	<th>Описание модели</th>
	<th>Тестер для проверки газовых разрядников, металоксидных варисторов, суппрессорных диодов и модулей для защиты от перенапряжений</th>
</tr>
</thead>
<tbody>
<tr>
<td>Тестируемые параметры</td>
<td><p>Классификационное напряжение<br>Статическое напряжение пробоя<br></p></td>
</tr>
<tr>
<td>Дисплей</td>
<td>3-разрядный светодиодный дисплей</td>
</tr>
<tr>
<td>Диапазон напряжений</td>
<td><p>5-800 Вольт (Модель SPT800)<br>5-1600 Вольт (Модель SPT1600)<br></p></td>
</tr>
<tr>
<td>Скорость нарастания напряжения<br></td>
<td>50-100 В/с</td>
</tr>
<tr>
<td>Допустимое отклонение</td>
<td>+/- 3 %</td>
</tr>
<tr>
<td>Диапазон рабочих температур</td>
<td>-20/+40°C</td>
</tr>
<tr>
<td>Размеры корпуса</td>
<td>160х85х30 мм<br></td>
</tr>
<tr>
<td>Вес комплекта</td>
<td>2 кг</td>
</tr>
<tr>
<td>Проводники для подключения</td>
<td>кабели длиной 1 м (в комплекте)</td>
</tr>
<tr>
<td>Питание</td>
<td>Блок питания ~230В<br>Аккумуляторы (в комплекте)<br></td>
</tr>
</tbody>
</table>
