<table class="table table-striped citel-cs">
<caption>Технические данные:</caption>
<thead>
<tr><th>Название устройства по номенклатуре CITEL</th>
	<th><a href='/products/73909'  title='' style=''>DLA-170</a></th>
	<th><a href='/products/73908'  title='' style=''>DLA-48D3</a></th>
	<th>DLA-48DBC</th>
	<th><a href='/products/73907'  title='' style=''>DLA-24D3</a></th>
	<th><a href='/products/73906'  title='' style=''>DLA-12D3</a></th>
	<th>DLA-12DBC</th>
	<th><a href='/products/73903'  title='' style=''>DLA-06D3</a></th>
	<th><a href='/products/73904'  title='' style=''>DLA-06DBC</a></th>
</tr>
<tr><th>Номер по каталогу</th> <td>74404</td> <td>74403</td> <td>74423</td> <td>74402</td> <td>74401</td> <td>74421</td> <td>74400</td> <td>74420</td></tr>
</thead>
<tbody>
<tr>
	<td>Область применения</td>
	<td>Аналоговый телефон / ADSL</td>
	<td>ISDN-T0 48 В</td>
	<td>Fipway / WorldFIP / Fieldbus-H2</td>
	<td>Цепь 4-20 мА </td>
	<td>RS232 </td>
	<td>Profibus-DP / LONwork</td>
	<td>RS422 / RS485</td>
	<td>MIC/T2 / 10BaseT</td>
</tr>

<tr>
<td>Конфигурация</td> <td>1 пара + экран</td> <td>1 пара + экран</td> <td>1 пара + экран</td> <td>1 пара + экран</td> <td>1 пара + экран</td> <td>1 пара + экран</td> <td>1 пара + экран</td>  <td>1 пара + экран</td>
</tr>

<tr><td>Номинальное напряжение (Un)</td> <td>150 В</td> <td>48 В</td> <td>48 В</td> <td>24 В</td> <td>12 В</td> <td>12 В</td> <td>6 В</td> <td>6 В</td></tr>

<tr><td>Макс. допустимое рабочее напряжение пост./пер. ток (Uc)</td> <td>170 В / 121 В</td> <td>53 В / 37 В</td> <td>53 В / 37 В</td> <td>28 В / 20 В</td> <td>15 В / 10 В</td> <td>15 В / 10 В</td> <td>8 В / 6 В</td> <td>8 В / 6 В</td>
</tr>

<tr><td>Макс. рабочий ток (IL)</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td></tr>
<tr><td>Уровень защиты С3 (Up) при In </td> <td>220 В</td> <td>70 В</td> <td>75 В</td> <td>40 В</td> <td>30 В</td> <td>35 В</td> <td>20 В</td> <td>25 В</td></tr>

<tr><td>Номинальный импульсный ток С2 (In) импульс 8/20 мкс</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td></tr>
<tr><td>Макс. импульсный ток (Imax) импульс 8/20 мкс</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td> <td>20 кА</td></tr>
<tr><td>D1 Ток грозового разряда (Iimp) импульс 10/350 мкс</td> <td>5 кА</td><td>5 кА</td><td>5 кА</td><td>5 кА</td><td>5 кА</td><td>5 кА</td><td>5 кА</td><td>5 кА</td></tr>
<tr><td>Сопротивление отдельной линии (R)</td> <td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td><td>&lt; 4 Ом</td>
</tr>
<tr><td>Емкость (С)</td> <td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td><td>&lt; 25 пФ</td></tr>
<tr><td>Время срабатывания</td> <td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td><td>&lt; 1 нс</td>
</tr>
<tr><td>Схема подключения</td><td>D</td><td>D</td><td>D</td><td>D</td><td>D</td><td>D</td><td>D</td><td>D</td></tr>
<tr><td>Неисправность устройства</td> <td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td><td>Короткое замыкание</td></tr>
<tr><td>Сменный блок</td> <td>DLAM-170</td> <td>DLAM-48D3</td> <td>DLAM-48DBC</td> <td>DLAM-24D3</td> <td>DLAM-12D3</td> <td>DLAM-12DBC</td> <td>DLAM-06D3</td> <td>DLAM-06DBC</td></tr>
<tr><td>Номер по каталогу</td> <td>74414</td> <td>74413</td> <td>74433</td> <td>74412</td> <td>74411</td> <td>74431</td> <td>74410</td> <td>74430</td></tr>
<tr><td>Версии</td>
<td colspan="8"><dl>
<dt>DLA-xxx :</dt> <dd>Стандартная версия (при извлечении сменного блока с защитной схемой передача данных не прерывается)</dd>
<dt>DLAW-xxx :<dt> <dd>Специальная версия (при извлечении сменного блока с защитной схемой передача данных прерывается) – «доступна по запросу»</dd>
<dt>DLAH-xxx :</dt> <dd>Специальная версия для подачи питания (макс. рабочий ток = 2,4 А) – «доступна по запросу»</dd>
</td></tr>
<tr><td>Механические свойства</td>
<td colspan="8">DIN-рейка 35 мм<br/>
Размеры: см. рисунок<br/>
Поперечное сечение проводника: мин./макс. 0,4/1,5 мм<sup>2</sup><br/>
Материал корпуса: Термопласт UL94-V0<br/>
Подключение к заземляющему контуру через DIN-рейку и винтовой зажим</td></tr>
</tbody>
</table>
