<table class="table table-striped citel-cs">
<caption>Технические данные</caption>
<tbody>
<tr>
	<td><b>Номер по каталогу </b></td>
	<td><b>DSH 2x16</b></td>
	<td><b>DSH 35</b></td>
	<td><b>DSH 63</b></td>
	<td><b>DSH 100</b></td>
</tr>
<tr>
	<td>Макс. допустимое рабочее напряжение Uc</td>
	<td>550 В</td>
	<td>550 В</td>
	<td>550 В</td>
	<td>550 В</td>
</tr>
<tr>
	<td>Индуктивность L</td>
	<td>2 x 15 мкГн</td>
	<td>15 мкГн</td>
	<td>15 мкГн</td>
	<td>15 мкГн</td>
</tr>
<tr>
	<td>Сопротивление при 25°C (пост. ток) R</td>
	<td>4,1 МОм</td>
	<td>4,1 МОм</td>
	<td>4,1 МОм</td>
	<td>4,1 МОм</td>
</tr>
<tr>
	<td>Ток утечки / рабочий ток Ic</td>
	<td>2 x 16 A</td>
	<td>35 A</td>
	<td>63 A</td>
	<td>100 A</td>
</tr>
<tr>
	<td>Размеры</td>
	<td>2 TE</td>
	<td>2 TE</td>
	<td>6 TE</td>
	<td>6 TE</td>
</tr>
<tr>
	<td>Диапазон температур</td>
	<td colspan="4">от - 40 °C до +85 °C</td>
</tr>
<tr>
	<td>Диапазон частот</td>
	<td colspan="4">50—60 Гц</td>
</tr>
<tr>
	<td>Поперечное сечение проводника</td>
	<td colspan="4">6—35 мм<sup>2</sup></td>
</tr>
<tr>
	<td>Класс защиты</td>
	<td colspan="4">IP20</td>
</tr>
<tr>
	<td>Монтаж</td>
	<td colspan="4">DIN-рейка 35 мм</td>
</tr>
<tr>
	<td>Материал корпуса</td>
	<td colspan="4">Термопласт UL94-V0</td>
</tr>
	<tr>
	<td colspan="5"><b>Информация для заказа</b></td>
</tr>
<tr>
	<td>Номер по каталогу</td>
	<td>46516</td>
	<td>46535</td>
	<td>46563</td>
	<td>465100</td>
</tr>
<tr>
	<td>Тип</td>
	<td>DSH 2x16</td>
	<td>DSH 35</td>
	<td>DSH 63</td>
	<td>DSH 100</td>
</tr>
</tbody>
</table>
