<table class="table table-striped citel-cs">
<caption>Модельный ряд УЗИП DS70R-230 для однофазных и трехфазных сетей переменного тока 220/380В</caption>
<thead>
	<tr>
		<th style="width: 20ex;">Код заказа</th>
		<th>Описание</td>
	</tr>
</thead>
<tbody>
	<tr>
		<td>
			<p><a href='/products/41928'  title='' style=''>DS71R-230</a></p>
			<p><a href='/products/41934'  title='' style=''>DS71RS-230</a></p>
		</td>
		<td>Схема защиты 1+0. УЗИП модульное однополюсное Класса Защиты 2 для однофазных сетей TNC, двухпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p><a href='/products/41929'  title='' style=''>DS72R-230</a></p>
			<p><a href='/products/41935'  title='' style=''>DS72RS-230</a></p>
		</td>
		<td>Схема защиты 2+0. УЗИП модульное двухполюсное Класса Защиты 2 для однофазных сетей TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p><a href='/products/41933'  title='' style=''>DS72R-230/G</a></p>
			<p><a href='/products/41939'  title='' style=''>DS72RS-230/G</a></p>
		</td>
		<td>Схема защиты 1+1. УЗИП модульное  двухполюсное Класса Защиты 2 для однофазных сетей TT и TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p><a href='/products/41930'  title='' style=''>DS73R-230</a></p>
			<p><a href='/products/41936'  title='' style=''>DS73RS-230</a></p>
		</td>
		<td>Схема защиты 3+0. УЗИП модульное трехполюсное Класса Защиты 2 для трехфазных сетей TNC, четырехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p><a href='/products/41931'  title='' style=''>DS74R-230</a></p>
			<p><a href='/products/41937'  title='' style=''>DS74RS-230</a></p>
		</td>
		<td>Схема защиты 4+0. УЗИП модульное четырехполюсное Класса Защиты 2 для трехфазных сетей TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p><a href='/products/41932'  title='' style=''>DS74R-230/G</a></p>
			<p><a href='/products/41938'  title='' style=''>DS74RS-230/G</a></p>
		</td>
		<td>Схема защиты 3+1. УЗИП модульное четырехполюсное Класса Защиты 2 для трехфазных сетей TT и TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
</tbody>
</table>
