<h3>Варианты исполнения групповых модулей грозозащиты серии RAK по количеству защищаемых портов:</h3>
<ul>
	<li>B180 - защита одной линейной пары</li>
	<li>B280 - защита двух линейных пар</li>
	<li>B480 - защита четырех линейных пар</li>
</ul>

<h3>Варианты исполнения групповых модулей грозозащиты серии RAK по классификационному напряжению и интерфейсу подключения: </h3>
<table class="table table-striped citel-cs">
<tbody>
<tr>
	<th>Тип</th>
	<th>Описание</th>
	<th>Номинальное напряжение</th>
</tr>
<tr>
<td>
<p>B180-TD3
<br><a href='/products/42335'  title='' style=''>B280-TD3</a>
<br><a href='/products/42350'  title='' style=''>B480-TD3</a></p></td>
<td>
<p>Грозозащита телефонной линии, модема, факсимильного аппарата</td>
<td>
<p>150 Вольт</td></tr>
<tr>
<td>
<p><a href='/products/42293'  title='' style=''>B180-48D3</a>
<br><a href='/products/42333'  title='' style=''>B280-48D3</a>
<br><a href='/products/42348'  title='' style=''>B480-48D3</a></p></td>
<td>
<p>Грозозащита линий ISDN</p></td>
<td>
<p>48 Вольт</p></td></tr>
<tr>
<td>
<p><a href='/products/42291'  title='' style=''>B180-24D3</a>
<br><a href='/products/42331'  title='' style=''>B280-24D3</a>
<br><a href='/products/42346'  title='' style=''>B480-24D3</a></p></td>
<td>
<p>Грозозащита линий протокола "токовая петля 4-20 мА", Fieldbus, Profibus</p></td>
<td>
<p>24 Вольт</p></td></tr>
<tr>
<td>
<p><a href='/products/42289'  title='' style=''>B180-12D3</a>
<br><a href='/products/42330'  title='' style=''>B280-12D3</a>
<br><a href='/products/42345'  title='' style=''>B480-12D3</a></p></td>
<td>
<p>Грозозащита линии RS232</p></td>
<td>
<p>12 Вольт</p></td></tr>
<tr>
<td>
<p><a href='/products/42287'  title='' style=''>B180-06D3</a>
<br><a href='/products/42328'  title='' style=''>B280-06D3</a>
<br><a href='/products/42344'  title='' style=''>B480-06D3</a></p></td>
<td>
<p>Грозозащита линии RS485, RS422</p></td>
<td>
<p>6 Вольт</p></td></tr>
<tr>
<td>
<p><a href='/products/42297'  title='' style=''>B180-06DBC</a>
<br><a href='/products/42326'  title='' style=''>B280-06DBC</a>
<br><a href='/products/42352'  title='' style=''>B480-06DBC</a></p></td>
<td>
<p>Грозозащита E1, T2, T1, 10BaseT</p></td>
<td>
<p>6 Вольт</p></td></tr></tbody></table>
