<table class="table table-striped citel-cs">
<tbody><tr>
  <th>Модификация</th>
  <th>Количество портов грозозащиты</th>
  <th>Подключение линии</th>
  <th>Подключение оборудования</th>
  <th>Монтаж</td>
 </tr>
 <tr>
  <td>PCH12</td>
  <td>12</td>
  <td>задняя панель<br>
    врезные контакты IDC110</td>
  <td>передняя панель<br>
    розетка RJ45</td>
  <td>19-дюймовая
  стойка<br>
    в плоскости рамы</td>
 </tr>
 <tr>
  <td>PCH24</td>
  <td>24</td>
  <td>задняя панель<br>
    врезные контакты IDC110</td>
  <td>передняя панель<br>
    розетка RJ45</td>
  <td>19-дюймовая
  стойка<br>
    в плоскости рамы</td>
 </tr>
 <tr>
  <td>PCH48</td>
  <td>48</td>
  <td>задняя панель<br>
    врезные контакты IDC110</td>
  <td>передняя панель<br>
    розетка RJ45</td>
  <td>19-дюймовая
  стойка<br>
    в плоскости рамы</td>
 </tr>
 <tr>
  <td>RAK16</td>
  <td>16</td>
  <td>передняя панель<br>
    розетка RJ45</td>
  <td>передняя панель<br>
    розетка RJ45</td>
  <td>19-дюймовая
  стойка<br>
    в плоскости рамы</td>
 </tr>
 <tr>
  <td>RAK16-SO</td>
  <td>16</td>
  <td>задняя панель<br>
    розетка RJ45</td>
  <td>передняя панель<br>
    розетка RJ45</td>
  <td>19-дюймовая стойка<br>
    выступ за плоскость рамы</td>
 </tr>

 <tr>
  <td>RAK32-SO</td>
  <td>32</td>
  <td>задняя панель<br>
    розетка RJ45</td>
  <td>передняя панель<br>
    розетка RJ45</td>
  <td>19-дюймовая стойка<br>
    выступ за плоскость рамы</td>
 </tr>
 <tr>
  <td>PL24-CAT5</td>
  <td>24</td>
  <td>задняя панель<br>
    розетка RJ45</td>
  <td>передняя панель<br>
    розетка RJ45</td>
  <td>19-дюймовая стойка<br>
    в плоскости рамы</td>
 </tr>
</tbody></table>
