<table class="table table-striped citel-cs">
	<caption>Модельный ряд УЗИП DS130R-230 для однофазных и трехфазных сетей переменного тока 220/380 Вольт</caption>
	<thead>
		<tr>
			<th style="width: 20ex;">Код Заказа</th>
			<th>Описание</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>
			<p>DS131R-230</p>
			<p><a href='/products/75119'  title='' style=''>DS131RS-230</a></p>
		</td>
		<td>Схема защиты 1+0. УЗИП модульное однополюсное Класса Защиты 1+2 для однофазных сетей TNC, двухпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p>DS132R-230</p>
			<p><a href='/products/75133'  title='' style=''>DS132RS-230</a></p>
		</td>
		<td>Схема защиты 2+0. УЗИП модульное двухполюсное Класса Защиты 1+2 для однофазных сетей TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p>DS132R-230/G</p>
			<p><a href='/products/75134'  title='' style=''>DS132RS-230/G</a></p>
		</td>
		<td>Схема защиты 1+1. УЗИП модульное двухполюсное Класса Защиты 1+2 для однофазных сетей TT и TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p>DS133R-230</p>
			<p><a href='/products/75149'  title='' style=''>DS133RS-230</a></p></td>
			<td>Схема защиты 3+0. УЗИП модульное трехполюсное Класса Защиты 1+2 для трехфазных сетей TNC, четырехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p>DS134R-230</p>
			<p><a href='/products/75163'  title='' style=''>DS134RS-230</a></p>
		</td>
		<td>Схема защиты 4+0. УЗИП модульное четырехполюсное Класса Защиты 1+2 для трехфазных сетей TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
	<tr>
		<td>
			<p>DS134R-230/G</p>
			<p><a href='/products/75164'  title='' style=''>DS134RS-230/G</a></p>
		</td>
		<td>Схема защиты 3+1. УЗИП модульное четырехполюсное Класса Защиты 1+2 для трехфазных сетей TT и TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
	</tr>
</tbody>
</table>
