<table class="table table-striped citel-cs">
<caption>Модельный ряд УЗИП DS10-230 для однофазных и трехфазных сетей переменного тока 220/380В</caption>
<thead>
<tr>
	<th style="width: 20ex;">Код заказа</th>
	<th>Описание</td>
</tr>
</thead>
<tbody>
<tr>
	<td>
		<p><a href='/products/41769'  title='' style=''>DS11-230</a></p>
		<p><a href='/products/41775'  title='' style=''>DS11S-230</a></p>
	</td>
	<td>Схема защиты 1+0. УЗИП модульное однополюсное Класса Защиты 3 для однофазных сетей TNC, двухпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41770'  title='' style=''>DS12-230</a></p>
		<p><a href='/products/41776'  title='' style=''>DS12S-230</a></p>
	</td>
	<td>Схема защиты 2+0. УЗИП модульное двухполюсное Класса Защиты 3 для однофазных сетей TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41774'  title='' style=''>DS12-230/G</a></p>
		<p><a href='/products/41780'  title='' style=''>DS12S-230/G</a></p>
	</td>
	<td>Схема защиты 1+1. УЗИП модульное  двухполюсное Класса Защиты 3 для однофазных сетей TT и TNS, трехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41771'  title='' style=''>DS13-230</a></p>
		<p><a href='/products/41777'  title='' style=''>DS13S-230</a></p>
	</td>
	<td>Схема защиты 3+0. УЗИП модульное трехполюсное Класса Защиты 3 для трехфазных сетей TNC, четырехпроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41772'  title='' style=''>DS14-230</a></p>
		<p><a href='/products/41778'  title='' style=''>DS14S-230</a></p>
	</td>
	<td>Схема защиты 4+0. УЗИП модульное четырехполюсное Класса Защиты 3 для трехфазных сетей TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/41773'  title='' style=''>DS14-230/G</a></p>
		<p><a href='/products/41779'  title='' style=''>DS14S-230/G</a></p>
	</td>
	<td>Схема защиты 3+1. УЗИП модульное четырехполюсное Класса Защиты 3 для трехфазных сетей TT и TNS, пятипроводное подключение. Визуальный индикатор рабочего состояния. Перекидные контакты для удаленной сигнализации - опция S.</td>
</tr>
</tbody>
</table>
