<table class="table table-striped citel-cs">
<caption>Технические характеристики: </caption>
<thead>
<tr><th>Название устройства по номенклатуре CITEL</th>
	<th><a href='/products/42266'  title='' style=''>E280-TM</a></th>
	<th>E280-K20</th>
	<th><a href='/products/93038'  title='' style=''>E280-48D3M</a></th>
	<th><a href='/products/93037'  title='' style=''>E280-24D3M</a></th>
	<th><a href='/products/93036'  title='' style=''>E280-12D3M</a></th>
	<th><a href='/products/93035'  title='' style=''>E280-06D3M</a></th>
	<th><a href='/products/42258'  title='' style=''>E280-06DBC</a></th>
</tr>
<tr><td>Номер по каталогу</td> <td>71186</td> <td>71192</td> <td>71184</td> <td>71183</td> <td>71182</td> <td>71181</td> <td>71171</td></tr>
</thead>
<tfoot>
<tr><td colspan="9"><p class="note-content" id="note-1">* на каждую пару</p></td></tr>
</tfoot>
<tbody>
<tr>
<td>Область применения</td>
<td>Аналоговые линии -ADSL </td>
<td>Аналоговые линии – стандарт K20</td>
<td>ISDN-T0 / Telex</td>
<td>Выделенная линия 4-20 мА</td>
<td>RS232</td>
<td>RS422 / RS485</td>
<td>T2 - T1 / 10BaseT</td>
</tr>
<tr><td>Номинальное напряжение (Un)</td> <td>150 В</td> <td>150 В</td> <td>48 В</td> <td>24 В</td> <td>12 В</td> <td>6 В</td> <td>6 В</td></tr>
<tr><td>Макс. допустимое рабочее напряжение пост./пер. ток (Uc)</td> <td>170 В / 135В</td> <td>220 В</td> <td>53 В / 42,9 В</td> <td>28 В / 21,4</td></tr>
<tr><td>Макс. рабочий ток (IL)</td> <td>300 мА</td> <td>150 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td> <td>300 мА</td></tr>
<tr><td>Максимальная частота</td> <td>3 МГц</td> <td>3 МГц</td> <td>1 МГц</td> <td>0,5 МГц</td><td></td><td></td><td></td></tr>
<tr><td>Уровень защиты С3 (Up) при In</td> <td>220 В</td> <td>260 В</td> <td>70 В</td> <td>40 В</td><td></td><td></td><td></td></tr>
<tr><td>Номинальный импульсный ток С2 (In)<a href="#note-1" class="note">*</a> импульс 8/20 мкс</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td> <td>5 кА</td></tr>
<tr><td>Макс. импульсный ток (Imax)<a href="#note-1" class="note">*</a> импульс 8/20 мкс</td> <td>10 кА</td> <td>10 кА</td> <td>10 кА</td> <td>10 кА</td> <td>10 кА</td> <td>10 кА</td> <td>10 кА</td></tr>
<tr><td>Ток грозового разряда D1 (Iimp)<a href="#note-1" class="note">*</a> импульс 10/350 мкс</td> <td>2,5 кА</td> <td>2,5 кА</td> <td>2,5 кА</td> <td>2,5 кА</td> <td>2,5 кА</td> <td>2,5 кА</td> <td>2,5 кА</td></tr>
<tr><td>Схема подключения</td> <td>A</td> <td>K1</td> <td>B</td> <td>B</td> <td>B</td> <td>B</td> <td>C</td></tr>
<tr>
<td>Неисправность устройства</td>
<td>Короткое замыкание</td>
<td>отключение и сброс</td>
<td>Короткое замыкание</td>
<td>Короткое замыкание</td>
<td>Короткое замыкание</td>
<td>Короткое замыкание</td>
<td>Короткое замыкание</td>
</tr>
<td>Механические свойства</td> <td colspan="7">Сменный блок, рассчитанный на подключение 2 пар<br/>
Монтаж на несущие конструкции BN, FPSU, MMP<br/>
Размеры: <a href="http://www.poligon.info/images/design/categories/CITEL/e280.sizes.jpg" class="show">см. рисунок</a><br/>
Подключение: медный штекер 0,5 ?<br/>
Материал корпуса: Термопласт UL94-V0</td>
</tbody>
</table>
<h3>Принципиальная электрическая схема</h3>
<img src="http://www.poligon.info/images/design/categories/CITEL/e280.group-shceme.jpg" alt="Принципиальная схема для 1 пары" />
