<table class="table new-citel">
<tbody><tr>
<td colspan="2">
Грозозащита линий связи и передачи данных
</td>
</tr>


<tr>

<td>
<img title="DL" alt="DL" src="http://www.poligon.info/images/design/categories/CITEL/DLU-06D3.jpg" class="show">
</td>

<td><a href="/categories/5544"><b>DLA</b></a> и <a href="/categories/5543"><b>DLU</b></a>

<br><br>Грозозащитный модуль для одной или двух пар слаботочной линии.<br>
Imax 20kA. Монтаж на ДИН-рейке.<br>
Подключение - через винтовые клеммы, последовательно в защищаемую цепи.
</td>
</tr>


<tr>

<td>
<img title="B080" alt="B180" src="http://www.poligon.info/images/design/categories/CITEL/B180.jpg" class="show">
</td>

<td><a href="/categories/5495"><b>B180</b></a>

<br><br>Грозозащитный элемент, интегрированный в монтажную коробку. Количество линейных пар защищаемой цепи - от 1 до 4.<br>
Подключение - винтовые клеммы.<br>
Максимальный импульсный ток - 20 килоАмпер.<br>
B180 - защита одной линейной пары<br>
B280 - защита двух линейных пар<br>
B480 - защита четырех линейных пар
</td>
</tr>

<tr>

<td>
<img title="MJ6-1T" alt="MJ6-1T" src="http://www.poligon.info/images/design/categories/CITEL/MJ6-1T.jpg" class="show">
</td>

<td><a href="/categories/5547"><b>MJ6-1T</b></a>

<br><br>MJ6-1T монтажный блок со встроенной схемой грозозащиты телефонной абонентской линии сети ТфОП. Крепление на стену. Подключение линии - винтовые клеммы, подключение абонентского устройства - разъем RJ11.
</td>
</tr>


<tr>

<td>
<img title="E280" alt="E280" src="http://www.poligon.info/images/design/categories/CITEL/E280.jpg" class="show">
</td>

<td><a href="/categories/5489"><b>E280</b></a>

<br><br>Оригинальная конструкция группового узла грозозащиты и сменных модулей. Грозозащита диспетчерских пунктов, грозозащита линий телеметрии и телемеханики, грозозащита АТС малой и средней емкости. Грозозащита линий сигнализации и оповещения.
</td>
</tr>


<tr>

<td>
<img title="LSA" alt="LSA" src="http://www.poligon.info/images/design/categories/CITEL/LSA.jpg" class="show">
</td>

<td><a href="/categories/5482"><b>LSA</b></a>

<br><br>Кроссовая защита. Грозозащита аналоговых линий и грозозащита цифровых соединительных линий. Магазины грозозащиты в стандартном конструктиве LSA+. Комплектация газовыми разрядниками CITEL.
</td>
</tr>


<tr>

<td>
<img title="DD" alt="DD" src="http://www.poligon.info/images/design/categories/CITEL/DD9-24V.jpg" class="show">
</td>

<td><a href="/categories/5500"><b>DD</b></a>

<br><br>Переходники-адаптеры со встроенным каскадом грозозащиты. <br>
Подключение Вход/Выход - Стандартные 9, 15 и 25 контактные разъемы типа D. Номинальное рабочее напряжение - 6 или 24 Вольт, необходимо указывать при заказе.<br>
<br>
DD9 - 9-пиновый разъем<br>
DD15 - 15-пиновый разъем<br>
DD25 - 25-пиновый разъем
</td>
</tr>


<tr>
<td colspan="2">
Грозозащита витой пары
</td>
</tr>


<tr>

<td>
<img title="MJ8" alt="MJ8" src="http://www.poligon.info/images/design/categories/CITEL/RJ45.jpg" class="show">
</td>

<td><a href="/categories/5496"><b>MJ8</b></a>

<br><br>Серия MJ8 элемент грозозащиты слаботочной сети в металлическом экранированном корпусе.<br>
Вход/Выход - Разъемы RJ45<br>
MJ8-CAT5E<br>
MJ8-POE-A<br>
MJ8-POE-B<br>
MJ8-12V<br>
MJ8-170V<br>
MJ8-ISDN
</td>
</tr>


<tr>

<td>
<img title="CMJ8" alt="CMJ8" src="http://www.poligon.info/images/design/categories/CITEL/CMJ8-POE.jpg" class="show">
</td>

<td><a href="/categories/5548"><b>CMJ8</b></a>

<br><br>Грозозащита витой пары Ethernet и PoE. Поддержка гигабитных сетей.<br>
Всепогодное исполнение. Для установки на улице, на столбах, на стенах зданий.<br>
Подключение - RJ45/RJ45.<br>
Заземление - обжимная клемма на винт.<br>
Герметичный ввод кабеля в шкаф.
</td>

</tr>


<tr>

<td>
<img title="PL" alt="PL" src="http://www.poligon.info/images/design/categories/CITEL/PL.jpg" class="show">
</td>

<td><a href="/categories/5474"><b>PL</b></a>

<br><br>Групповой модуль грозозащиты для монтажа в 19 дюймовую стойку. Многопортовые патч-панели с грозозащитой Ethernet.
</td>

</tr>

</tbody></table>
