<h2>Характеристики</h2>
<ul>
	<li>защита от максимального импульсного тока - до 10 килоАмпер</li>
	<li>подключение кабеля видеосигнала - разъем BNC 75Ом</li>
	<li>вносимое затухание в видеотракт на частоте 20мГц - менее 0.2дБ</li>
	<li>подключение кабелей заземления, питания и управления видеокамерой - винтовые клеммы</li>
	<li>схема подключения - последовательно в защищаемую линию</li>
</ul>

<p>Однако, при поражении видеокамеры или линии подключения видеокамеры, опасности подвергается также станция наблюдения (диспетчерский пункт). Поэтому, для комплексной защиты системы охранного видеонаблюдения необходимо устанавливать защитные устройства на линии как со стороны видеокамеры, так и со стороны центрального процессора в помещении диспетчерской.</p>

<p>Для организации грозозащиты системы видеонаблюдения раздельно по линиям передачи сигнала, питания и управления видеокамеры, СИТЕЛ также предлагает следующие устройства</p>
<ul>
	<li><a href="/categories/5571">Серия CXC</a> — для защиты коаксиального кабеля (линии видео)</li>
	<li><a href="/categories/5361">Серия DS215</a> — для защиты линии питания видеокамеры ~220В</li>
	<li><a href="/categories/5544">Серия DLA</a> - для защиты цепи управления видеокамеры</li>
</ul>
