<table class="table table-striped citel-cs">
<caption>Модельный ряд серии MJ8 для защиты от перенапряжения в кабеле витой пары</caption>
<thead>
<tr>
	<th>Код заказа</th>
	<th><strong>Описание</th>
</tr>
</thead>
<tbody>
<tr>
	<td>
		<p><a href='/products/74650'  title='' style=''>MJ8-CAT5E</a></p>
	</td>
	<td>Молниезащита, грозозащита Ethernet, грозозащита Gigabit Ethernet, грозозащита кабеля витой пары 5-й категории CAT5, грозозащита портов 10/1000/1000BaseT. Обеспечивается скорость передачи данных до 1000Мбит/сек. </td>
</tr>
<tr>
	<td>
		<p><a href='/products/73946'  title='' style=''>MJ8-POE-A</a></p>
	</td>
	<td>Грозозащита витой пары с подачей напряжения питания по витой паре. Режим PoE-A. Обеспечивается скорость передачи данных до 1000Мбит/сек.<br>Грозозащита фемтосоты, грозозащита WiMax, грозозащита WiFi базовых станций, грозозащита IP видеокамер.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/73947'  title='' style=''>MJ8-POE-B</a></p>
	</td>
	<td>Грозозащита витой пары с подачей напряжения питания по витой паре. Режим PoE-B. Обеспечивается скорость передачи данных до 1000Мбит/сек. Грозозащита базовой станции микросотовой связи, грозозащита WiMax, грозозащита WiFi базовых станций, грозозащита IP камер видеонаблюдения.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/75341'  title='' style=''>MJ8-12V</a></p>
	</td>
	<td>Молниезащита линии с номинальным напряжением не более 12 Вольт. Грозозащита интерфейса RS232</td>
</tr>
<tr>
	<td><p><a href='/products/75342'  title='' style=''>MJ8-170V</a></p></td>
	<td>Грозозащита телефонной линии, грозозащита телефонного аппарата, грозозащита факсимильного аппарата. Напряжение отсечки 170 В.</td>
</tr>
<tr>
	<td>
		<p><a href='/products/75343'  title='' style=''>MJ8-ISDN</a></p>
	</td>
	<td>Грозозащита оборудования, абонентского терминала ISDN</td>
</tr>
</tbody>
</table>
