<table class="table releco">
  <caption>Промышленные промежуточные реле</caption>
  <colgroup>
    <col>
    <col>
    <col>
    <col>
    <col style="text-align: right;">
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Внешний вид</th>
      <th>Применение</th>
      <th>Типы</th>
      <th>База</th>
      <th>Контакты</th>
      <th>Коммутирующая способность AC</th>
      <th>Коммутирующая способность DC </th>
      <th>Типы колодок</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="8">
        <div align="left">Серия C2</div>
      </th>
    </tr>
    <tr>
      <td rowspan="3"><img alt="RELECO C2-A20 реле промежуточное" src="http://www.poligon.info/images/design/categories/RELECO/C2-A20.jpg"></td>
      <td>Реле общего назначения</td>
      <td><a href="/categories/4852">C2-A2x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/8.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
      </td>
      <td>10 A / 250 V</td>
      <td>0.5 A / 110 V</td>
      <td>S2</td>
    </tr>
    <tr>
      <td>Для малых токов</td>
      <td><a href="/categories/4853">C2-T2x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/8.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/s.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_s.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>6 A / 250 V</td>
      <td>6 A / 30 V</td>
      <td>S2</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки</td>
      <td><a href="/categories/4854">C2-G2x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/8.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>10 A / 250 V</td>
      <td>1.2 A / 110 V</td>
      <td>S2</td>
    </tr>
    <tr>
      <th colspan="8">
          <div align="left">Серия C3</div>
      </th>
    </tr>
    <tr>
      <td rowspan="10"><img alt="RELECO C3-A30 реле промежуточное" src="http://www.poligon.info/images/design/categories/RELECO/C3-A30x.jpg"></td>
      <td>Общего назначения</td>
      <td><a href="/categories/5938">C3-A3x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>10 A / 250 V</td>
      <td>0.5 A / 110 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Для малых токов</td>
      <td><a href="/categories/4856">C3-T3x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/s.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_s.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_s.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>6 A / 250 V</td>
      <td>6 A / 30 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки</td>
      <td><a href="/categories/4857">C3-G3x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        1.7mm
        <img src="http://www.poligon.info/images/design/categories/RELECO/a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>10 A / 250 V</td>
      <td>1.2 A / 110 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки с дугогасительным магнитом (больше срок службы контактов по сравнению с C3-X1x)</td>
      <td><a href="/categories/5939">C3-M1x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        &gt;3mm
        <img src="http://www.poligon.info/images/design/categories/RELECO/ma.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>10 A / 250 V</td>
      <td>10 A / 220 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки с разрывом цепи в двух точках</td>
      <td><a href="/categories/5941">C3-X1x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        &gt;3mm
        <img src="http://www.poligon.info/images/design/categories/RELECO/dc.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>10 A / 250 V</td>
      <td>7 A / 110 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Поляризованное реле</td>
      <td><a href="/categories/5940">C3-R2x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
        Rem.	</td>
      <td>10 A / 250 V</td>
      <td>0.5 A / 110 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Чувствительная катушка 250mW ... 300mW</td>
      <td><a href="/categories/5523">C3-S1x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>6 A / 250 V</td>
      <td>6 A / 30 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Чувствительная катушка 500mW ... 800mW</td>
      <td><a href="/categories/4861">C3-E2x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>6 A / 250 V</td>
      <td>6 A / 30 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Чувствительная катушка 500mW ... 800mW</td>
      <td><a href="/categories/4862">C3-N3x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>6 A / 250 V</td>
      <td>6 A / 30 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <td>Реле для железных дорог</td>
      <td><a href="/categories/5949">R3-N3x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/11.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>6 A / 250 V</td>
      <td>6 A / 30 V</td>
      <td>S3</td>
    </tr>
    <tr>
      <th colspan="8">
        <div align="left">Серия C4</div>
      </th>
    </tr>
    <tr>
      <td rowspan="3"><img alt="RELECO C4-A40 промежуточное реле" src="http://www.poligon.info/images/design/categories/RELECO/C4-A40.jpg"></td>
      <td>Реле общего назначения</td>
      <td><a href="/categories/5942">C4-A4x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c4.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>10 A / 250 V</td>
      <td>0.5 A / 110 V</td>
      <td>S4</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки с разрывом цепи в двух точках</td>
      <td><a href="/categories/5944">C4-X2</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c4.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/dc.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/dc.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>10 A / 250 V</td>
      <td>7 A / 110 V</td>
      <td>S4</td>
    </tr>
    <tr>
      <td>Поляризованное реле</td>
      <td><a href="/categories/5943">C4-R3</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c4.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
        Rem.	</td>
      <td>10 A / 250 V</td>
      <td>0.5 A / 110 V</td>
      <td>S4</td>
    </tr>
    <tr>
      <th colspan="8">
        <div align="left">Серия C5</div>
      </th>
    </tr>
    <tr>
      <td rowspan="7"><img alt="RELECO C5-A20 реле промежуточное" src="http://www.poligon.info/images/design/categories/RELECO/C5-A20X.jpg"></td>
      <td>Мощное реле</td>
      <td><a href="/categories/5945">C5-A2x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c5.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>16 A / 400 V</td>
      <td>0.5 A / 110 V</td>
      <td>S5</td>
    </tr>
    <tr>
      <td>Мощное реле</td>
      <td><a href="/categories/5946">C5-A3x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c5.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>16 A / 400 V</td>
      <td>0.5 A / 110 V</td>
      <td>S5</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки</td>
      <td><a href="/categories/5947">C5-G3x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c5.png" alt=""></td>
      <td>
        1.7mm
        <img src="http://www.poligon.info/images/design/categories/RELECO/a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_a.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>16 A/ 400 V</td>
      <td>1.2 A / 110 V</td>
      <td>S4</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки с разрывом цепи в двух точках</td>
      <td><a href="/categories/4873">C5-X1x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c5.png" alt=""></td>
      <td>
        &gt;3mm
        <img src="http://www.poligon.info/images/design/categories/RELECO/dc.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>16 A / 400 V</td>
      <td>7 A / 110 V</td>
      <td>S4</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки с дугогасительным магнитом (больше срок службы контактов по сравнению с C5-X1x)</td>
      <td><a href="/categories/5948">C5-M1x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c5.png" alt=""></td>
      <td>
        &gt;3mm
        <img src="http://www.poligon.info/images/design/categories/RELECO/ma.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>16 A / 400 V</td>
      <td>10 A / 220 V</td>
      <td>S5</td>
    </tr>
    <tr>
      <td>Переключение DC нагрузки с дугогасительным магнитом</td>
      <td><a href="/categories/4875">C5-M2x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c5.png" alt=""></td>
      <td>
        &gt;3mm
        <img src="http://www.poligon.info/images/design/categories/RELECO/ma.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
      <td>16 A / 250 V</td>
      <td>7 A / 110 V</td>
      <td>S5</td>
    </tr>
    <tr>
      <td>Поляризованное реле</td>
      <td><a href="/categories/4876">C5-R2x</a></td>
      <td><img src="http://www.poligon.info/images/design/categories/RELECO/c5.png" alt=""></td>
      <td>
        <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
        <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
        Rem.	</td>
      <td>10 A / 400 V</td>
      <td>10 A / 30 V</td>
      <td>S5</td>
    </tr>
  </tbody>
</table>
<table class="table releco">
  <caption>Миниатюрные промежуточные реле</caption>
  <thead>

  <tr>
  <th>Внешний вид</th>
  <th>Применение</th>
   <th>Типы</th>
   <th>База</th>
   <th>Контакты</th>
   <th>Коммутирующая способность AC</th>
   <th>Коммутирующая способность DC </th>
   <th>Типы колодок</th>
  </tr>

  </thead>
  <tbody>

    <tr>
  <th colspan="8">
        <div align="left">Серия C7</div>
      </th>
  </tr>



    <tr>
  <td rowspan="9"><img alt="RELECO C7-A10 реле промежуточное" src="http://www.poligon.info/images/design/categories/RELECO/C7-A10.jpg"></td>
  <td>Миниатюрное мощное реле</td>
  <td><a href="/categories/4877">C7-A1</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>16 A / 250 V</td>
  <td>0.5 A / 110 V</td>
  <td>S7</td>
  </tr>



    <tr>
  <td>Реле общего назначения</td>
  <td><a href="/categories/5951">C7-A2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>10 A / 250 V</td>
  <td>0.5 A / 110 V</td>
  <td>S7</td>
  </tr>



    <tr>
  <td>Для малых токов</td>
  <td><a href="/categories/5953">C7-T2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/s.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_s.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>6 A / 250 V</td>
  <td>6 A / 30 V</td>
  <td>S7</td>
  </tr>



    <tr>
  <td>Переключение DC нагрузки</td>
  <td><a href="/categories/5952">C7-G2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/a.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_a.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>10 A / 250 V</td>
  <td>0.8 A / 110 V</td>
  <td>S7</td>
  </tr>



    <tr>
  <td>Переключение DC нагрузки с разрывом цепи в двух точках</td>
  <td><a href="/categories/5954">C7-X1x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    &gt;3mm
    <img src="http://www.poligon.info/images/design/categories/RELECO/dc.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>10 A / 250 V</td>
  <td>6 A / 110 V</td>
  <td>S7</td>
  </tr>



    <tr>
  <td>1 мощный + 1 сигнальный контакты</td>
  <td><a href="/categories/4882">C7-H23</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/p.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">	</td>
  <td>10 A / 250 V</td>
  <td>6 A / 30 V</td>
  <td>S7</td>
  </tr>



    <tr>
  <td>Мощное реле для больших пусковых токов </td>
  <td><a href="/categories/4883">C7-W1x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/p.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>10 A / 250 V
        <br>

   <sub>500 A / импульс 2.5 ms</sub>	</td>
  <td></td>
  <td>S7</td>
  </tr>



    <tr>
  <td>Реле для железных дорог</td>
  <td><a href="/categories/5959">R7-A2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>10 A / 250 V</td>
  <td>10 A / 30 V</td>
  <td>S7</td>
  </tr>



    <tr>
  <td>Реле для железных дорог</td>
  <td><a href="/categories/4885">R7-T2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/s.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_s.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>6 A / 250 V</td>
  <td>6 A / 30 V</td>
  <td>S7</td>
  </tr>




    <tr>
  <th colspan="8">
        <div align="left">Серия C9</div>
      </th>
  </tr>



    <tr>
  <td rowspan="3"><img alt="RELECO C9-A41 реле промежуточное" src="http://www.poligon.info/images/design/categories/RELECO/C9-A41X.jpg"></td>
  <td>Миниатюрное реле</td>
  <td><a href="/categories/5955">C9-A4x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c9.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>5A / 250 V</td>
  <td>5 A / 30 V</td>
  <td>S9</td>
  </tr>




    <tr>
  <td>Чувствительная катушка 500mW ... 800mW</td>
  <td><a href="/categories/5956">C9-E2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c9.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>5 A / 250 V</td>
  <td>5 mA / 30 V</td>
  <td>S9</td>
  </tr>



    <tr>
  <td>Поляризованное реле</td>
  <td><a href="/categories/5957">C9-R2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c9.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">	</td>
  <td>5 A / 120 V</td>
  <td>5 A / 30 V</td>
  <td>S9</td>
  </tr>

  </tbody>

</table>



<table class="table releco">
  <caption>Интерфейсное реле</caption>
  <thead>

    <tr>
    <th>Внешний вид</th>
    <th>Применение</th>
    <th>Типы</th>
    <th>Размер</th>
    <th>Выход</th>
    <th>Коммутирующая способность AC</th>
    <th>Коммутирующая способность DC </th>
    <th>Соединение</th>
  </tr>

  </thead>

  <tbody>
  <tr>
  <th colspan="8">
    <div align="left">Серия RINT</div>
  </th>
  </tr>

  <tr>
    <td rowspan="8"><img alt="RINT-25/UC24V" src="http://www.poligon.info/images/design/categories/RELECO/RINT.jpg"></td>
    <td>Интерфейсное реле, силовой контакт</td>
    <td>RINT-11</td>
    <td>6,2 мм</td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
      <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
    </td>
    <td>6 A / 250 V</td>
    <td>6 A / 25 V</td>
    <td>Винтовой тип</td>
  </tr>
  <tr>
    <td>Интерфейсное реле, силовой контакт</td>
    <td><a href="/categories/5537">RINT-21</a></td>
    <td>6,2 мм</td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
      <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
    </td>
    <td>6 A / 250 V</td>
    <td>6 A / 25 V</td>
    <td>Зажимной тип</td>
  </tr>
  <tr>
    <td>Интерфейсное реле, сигнальный контакт</td>
    <td>RINT-12</td>
    <td>6,2 мм</td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
      <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
    </td>
    <td>6 A / 250 V</td>
    <td>6 A / 25 V</td>
    <td>Винтовой тип</td>
  </tr>
  <tr>
    <td>Интерфейсное реле, сигнальный контакт</td>
    <td>RINT-22</td>
    <td>6,2 мм</td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
      <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
    </td>
    <td>6 A / 250 V</td>
    <td>6 A / 25 V</td>
    <td>Зажимной тип</td>
  </tr>
  <tr>
    <td>Интерфейсное реле, постоянного тока полупроводниковое</td>
    <td>RINT-15</td>
    <td>6,2 мм</td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/rint15.png" alt="">
    </td>
    <td></td>
    <td>2 A / 33 V</td>
    <td>Винтовой тип</td>
  </tr>
  <tr>
    <td>Интерфейсное реле, постоянного тока полупроводниковое</td>
    <td>RINT-25</td>
    <td>6,2 мм</td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/rint15.png" alt="">
    </td>
    <td></td>
    <td>2 A / 33 V</td>
    <td>Зажимной тип</td>
  </tr>
  <tr>
    <td>Интерфейсное реле, переменного тока полупроводниковое</td>
    <td>RINT-18</td>
    <td>6,2 мм</td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/css-ac.png" alt="">
    </td>
    <td>0,75 A / 250 V</td>
    <td></td>
    <td>Винтовой тип</td>
  </tr>
  <tr>
    <td>Интерфейсное реле, переменного тока полупроводниковое</td>
    <td>RINT-28</td>
    <td>6,2 мм</td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/css-ac.png" alt="">
    </td>
    <td>0,75 A / 250 V</td>
    <td></td>
    <td>Зажимной тип</td>
  </tr>

  </tbody>
</table>

<table class="table releco">
  <caption>Интерфейсные реле</caption>
  <thead>

    <tr>
    <th>Внешний вид</th>
    <th>Применение</th>
    <th>Типы</th>
    <th>База</th>
    <th>Контакты</th>
    <th>Коммутирующая способность AC</th>
    <th>Коммутирующая способность DC </th>
    <th>Типы колодок</th>
  </tr>

  </thead>

  <tbody>

  <tr>
  <th colspan="8">
    <div align="left">Серия C10</div>
  </th>
  </tr>

  <tr>
    <td rowspan="4"><img alt="RELECO C10-A10x реле промежуточное" src="http://www.poligon.info/images/design/categories/RELECO/C10-A10X.jpg"></td>
    <td>Стандартное интерфейсное реле</td>
    <td><a href="/categories/5960">C10-A1x</a></td>
    <td><img src="http://www.poligon.info/images/design/categories/RELECO/c10.png" alt=""></td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
      <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
    </td>
    <td>10 A / 250 V</td>
    <td>10 A / 30 V</td>
    <td>S10</td>
  </tr>


    <tr>
  <td>Переключение DC нагрузки</td>
  <td><a href="/categories/6405">C10-G1x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c10.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
  </td>
  <td>10 A / 250 V</td>
  <td>10 A / 30 V</td>
  <td>S10</td>
  </tr>


    <tr>
  <td>Для малых токов</td>
  <td><a href="/categories/4891">C10-T1xx</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c10.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/s.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
  </td>
  <td>6 A / 250 V</td>
  <td>6 A / 30 V</td>
  <td>S10</td>
  </tr>


    <tr>
  <td>Для малых токов</td>
  <td><a href="/categories/4892">C10-GTxx</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c10.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/s.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
  </td>
  <td>6 A / 250 V</td>
  <td>6 A / 30 V</td>
  <td>S10</td>
  </tr>



    <tr>
  <th colspan="8">
        <div align="left">Серия C12</div>
      </th>
  </tr>



    <tr>
  <td rowspan="2"><img alt="RELECO C12-A21x реле промежуточное" src="http://www.poligon.info/images/design/categories/RELECO/C12-A20X.jpg"></td>
  <td>Интерфейсное реле</td>
  <td><a href="/categories/5961">C12-A2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_u.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
  </td>
  <td>6 A / 250 V</td>
  <td>5 A / 30 V</td>
  <td>S12</td>
  </tr>


    <tr>
  <td>Интерфейсное реле для DC нагрузок</td>
  <td><a href="/categories/6406">C12-G2x</a></td>
  <td><img src="http://www.poligon.info/images/design/categories/RELECO/c7.png" alt=""></td>
  <td>
    <img src="http://www.poligon.info/images/design/categories/RELECO/a.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/_a.png" alt="">
    <img src="http://www.poligon.info/images/design/categories/RELECO/kl.png" alt="">
  </td>
  <td>6 A / 250 V</td>
  <td>5 A / 30 V</td>
  <td>S12</td>
  </tr>


  </tbody>

</table>



<table class="table releco">
  <caption>Полупроводниковые реле</caption>
  <thead>

    <tr>
  <th>Внешний вид</th>
  <th>Применение</th>
   <th>Типы</th>
   <th>База</th>
   <th>Контакты</th>
   <th>Коммутирующая способность AC</th>
   <th>Коммутирующая способность DC </th>
   <th>Типы колодок</th>
  </tr>

  </thead>

  <tbody>
    <tr>
      <th colspan="8">
        <div align="left">Серия CSS</div>
      </th>
    </tr>



      <tr>
    <td rowspan="4"><img alt="RELECO CSS-AC реле промежуточное" src="http://www.poligon.info/images/design/categories/RELECO/CSS_AC.jpg"></td>
    <td>Твердотельное реле AC, Мгновенное переключение</td>
    <td><a href="/categories/4895">CSS-AC</a></td>
    <td><img src="http://www.poligon.info/images/design/categories/RELECO/c10.png" alt=""></td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/css-ac.png" alt="">
    </td>
    <td>3 A / 250 V</td>
    <td></td>
    <td>S10</td>
    </tr>


      <tr>
    <td>Твердотельное реле AC, переключение при переходе через U=0В</td>
    <td><a href="/categories/4896">CSS-AZ</a></td>
    <td><img src="http://www.poligon.info/images/design/categories/RELECO/c10.png" alt=""></td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/css-ac.png" alt="">
    </td>
    <td>3 A / 250 V</td>
    <td></td>
    <td>S10</td>
    </tr>


      <tr>
    <td>Твердотельное реле NPN</td>
    <td><a href="/categories/4897">CSS-DCN</a></td>
    <td><img src="http://www.poligon.info/images/design/categories/RELECO/c10.png" alt=""></td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/css-dc.png" alt="">
    </td>
    <td></td>
    <td>2 A / 50 V</td>
    <td>S10</td>
    </tr>


      <tr>
    <td>Твердотельное реле PNP </td>
    <td><a href="/categories/4898">CSS-DCP</a></td>
    <td><img src="http://www.poligon.info/images/design/categories/RELECO/c10.png" alt=""></td>
    <td>
      <img src="http://www.poligon.info/images/design/categories/RELECO/css-dc.png" alt="">
    </td>
    <td></td>
    <td>2 A / 50 V</td>
    <td>S10</td>
    </tr>

  </tbody>

</table>
