<table class="table graesslin">
<caption>Серия talento. <br />Предназначены для монтажа на DIN-рейку.</caption>
  <tbody>
    <tr bgcolor="#c5daa7" align="center" style="height: 40px;">
		<th width="90">Серия
 <br /> talento</th>
		<th width="110"></th>
 		<th width="110">наименование</th>
		<th width="80">миним. шаг программы</th>
		<th width="200">вид сбоку</th> 	 </tr>

    <tr style="height: 30px;">
		<td>часовой</td>
		<td>синхронный</td>
		<td><a href="/products/79774" >talento 121</a></td>
		<td>1,25 мин.</td>
		<td rowspan="6"><img width="88" height="150" border="0" src="/images/design/categories/GRAESSLIN/din_timer_vid_sboku.gif" alt="механический таймер для монтажа на DIN-рейку" /></td>
 </tr>
    <tr>
		<td rowspan="3">суточные</td>
		<td>синхронные</td>
		<td><a href="/products/79772" >talento 111</a>
        <br />
 <a href="/products/79771" >talento 111 mini</a></td>
		<td rowspan="2">30 мин.</td> 	 </tr>

    <tr>
 		<td rowspan="2">кварцевые</td>
 		<td><a href="/products/79777" >talento 211</a>
        <br />
 <a href="/products/79776" >talento 211 mini</a>
         <br />
  <a href="/products/79780" >talento 212</a>
		</td> 	 </tr>
    <tr>
		<td><a href="/products/79782" >talento 261</a></td>
		<td>15 мин.</td> 	 </tr>

    <tr>
		<td rowspan="2">недельные</td>
		<td>синхронные</td>
		<td><a href="/products/79773" >talento 171</a></td>
		<td rowspan="2">180 мин.</td>
	 </tr>
    <tr>
		<td>кварцевые</td>
		<td><a href="/products/79779" >talento 271</a>
        <br /><a href="/products/79781" >talento 202</a></td>
 	 </tr>
 	</tbody>
  </table>

<table class="table graesslin">
<caption>Серия tactic. <br />Предназначены для всех видов монтажа: на поверхности, врезка в поверхность, на DIN-рейку.</caption>
   <tbody>
    <tr bgcolor="#c5daa7" align="center" style="height: 40px;">
		<th width="90">Серия <br /> tactic</th>
		<th width="110"></th>
		<th width="110">наименование</th>
		<th width="80">миним. шаг программы</th>
		<th width="200">вид сбоку</th>
	 </tr>
    <tr>
		<td rowspan="2">суточные</td>
		<td>синхронные</td>
		<td><a href="/products/79826">tactic 111.1</a></td>
		<td rowspan="2">15 мин.</td>
		<td rowspan="4"><img width="160" height="133" border="0" src="/images/design/categories/GRAESSLIN/tactic_111_vid_sboku.gif" alt="механический таймер для всех видов монтажа" /></td>
	 </tr>

    <tr>
		<td>кварцевые</td>
		<td><a href="/products/79829" >tactic 211.1</a></td>
	 </tr>
    <tr>
		<td rowspan="2">недельные</td>
		<td>синхронные</td>
		<td><a href="/products/79828" >tactic 171.1</a></td>
		<td rowspan="2">120 мин.</td>
	 </tr>

    <tr>
		<td>кварцевые</td>
		<td><a href="/products/79830" >tactic 271.1</a></td>
	 </tr>
 	</tbody>
 </table>

<table class="table graesslin">
<caption>Серия topica.<br />Розеточные таймеры. Предназначены для работы с любыми бытовыми приборами.</caption>
   <tbody>
     <tr bgcolor="#c5daa7" align="center" style="height: 40px;">
 		<th width="90">Серия
        <br /> topica</th>
 		<th width="110"></th>
 		<th width="110">наименование</th>
 		<th width="80">миним. шаг программы</th>
 		<th width="200">вид сбоку</th>
 	 </tr>
    <tr>
 		<td rowspan="2">суточные</td>
 		<td>синхронные</td>
 		<td><a href="/products/79880" >topica 200</a>
        <br /> <a href="/products/79881" >topica 400</a></td>
 		<td rowspan="2">15 мин.</td>
 		<td rowspan="4"><img style="width: 180px;" alt="Розеточные таймеры для управления бытовой техникой" src="/images/design/categories/GRAESSLIN/topica_200_400_600_big.gif" /></td>
 	 </tr>
    <tr>
 		<td>кварцевые</td>
 		<td></td>
 	 </tr>
    <tr>
 		<td rowspan="2">недельные</td>
 		<td>синхронные</td>
 		<td><a href="/products/79883">topica 450</a></td>
 		<td rowspan="2">120 мин.</td>
 	 </tr>
    <tr>
 		<td>кварцевые</td>
 		<td></td>
 	 </tr>
  	</tbody>
 </table>
