<table class="table table-striped graesslin">
<caption>Сводная таблица по всем цифровым и механическим таймерам Graesslin</caption>
<thead>
    <tr style="background-color: #c5daa7; text-align: center; height: 40px;">
		<th style="width: 110px;">Таймеры</th>
		<th style="width: 160px">для монтажа
        <br /> на DIN-рейку</th>
		<th style="width: 160px;">универсальные (для всех видов монтажа)</th>
		<th style="width: 160px;"><b><a href="/categories/5419">розеточные</a></b></th>
	 </tr>
</thead>
  <tbody>
      <tr>
		<td><a href="/categories/5416">механические</a></td>
		<td><a href="/categories/5416">talento</a></td>
		<td><a href="/products/79826">tactic 111.1</a> <br />
       <a href="/products/79829">tactic 211.1</a> <br />
       <a href="/products/79828">tactic 171.1</a> <br />
       <a href="/products/79779">tactic 271.1</a></td>
	<td><a href="/products/79880">topica 200</a>
        <br />
       <a href="/products/79881">topica 400</a>
        <br />
       <a href="/products/79883">topica 450</a></td> 	 </tr>

    <tr>
		<td><a href="/categories/5417">цифровые</a></td>
		<td><a href="/categories/5417">talento plus</a></td>
 		<td><a href="/products/88342">tactic 371.1</a>
        <br /> <a href="/products/88343">tactic 372.1</a>
        <br /> <a href="/products/88344">tactic 571.1</a>
        <br />  <a href="/products/88346">tactic 572.1</a></td>
		<td><a href="/products/79879">topica 600</a></td>
	 </tr>

    <tr style="height: 30px;">
		<td>часовые</td>
		<td><a href="/products/79774">talento 121</a></td>
		<td></td>
		<td></td>
 	 </tr>

    <tr>
		<td>суточные</td>
		<td><a href="/products/79772">talento 111</a>
        <br />  <a href="/products/79771">talento 111 mini</a>
        <br />  <a href="/products/79773">talento 171</a>
        <br />  <a href="/products/79777">talento 211</a>
        <br />  <a href="/products/79776">talento 211 mini</a>
        <br />  <a href="/products/79780">talento 212</a>
        <br />  <a href="/products/79782">talento 261</a></td>
		<td><a href="/products/79826">tactic 111.1</a>
        <br />  <a href="/products/79829">tactic 211.1</a></td>
		<td><a href="/products/79880">topica 200</a>
        <br />
       <a href="/products/79881">topica 400</a></td> 	 </tr>

    <tr>
		<td>недельные</td>
 		<td><a href="/products/79779">talento 271</a>
        <br />  <a href="/products/79781">talento 202</a>
        <br />  <a href="/products/88318">talento 371 plus</a>
        <br />  <a href="/products/91638">talento 371 mini plus</a>
        <br />  <a href="/products/88322">talento 372 plus</a>
        <br />  <a href="/products/88327">talento 471 plus</a>
        <br />  <a href="/products/88331">talento 472 plus</a>
        <br />  <a href="/products/79807">talento 792 plus</a></td>
		<td>
        <br />  <a href="/products/88342">tactic 371.1</a>
        <br />  <a href="/products/88343">tactic 372.1</a>
        <br />
       <a href="/products/88344">tactic 571.1</a>
        <br />
       <a href="/products/88346">tactic 572.1</a></td>
		<td><a href="/products/79883">topica 450</a>
        <br />
       <a href="/products/79879">topica 600</a></td> 	 </tr>

    <tr>
		<td><a href="/categories/5418">астрономические</a></td>
		<td><a href="/products/79806">talento 791 plus</a>
        <br />
       <a href="/products/79807">talento 792 plus</a></td>
		<td></td>
		<td></td>
 </tr>

    <tr>
		<td>годовые</td>
		<td><a href="/products/88338">talento 892 plus</a></td>
		<td></td>
		<td></td>
 	 </tr>

    <tr>
		<td><a href="/categories/5420">лестничные</a></td>
		<td><a href="/products/79852">trealux 210</a>
        <br />  <a href="/products/79853">trealux 510</a></td>
		<td></td>
		<td></td> 	 </tr>
   	 </tbody>
 </table>
