<table class="table sonder-table"><tbody>
  <tr>
    <td><a href="/products/73425"><span>TA1002</span><br/>
    <img src="/images/design/categories/SONDER/ta1002.scheme.jpg" alt="Комнатный механический термостат SONDER TA1002"/>
    </a></td>
    <td><a href="/products/73426"><span>TA1007</span><br/>
    <img src="/images/design/categories/SONDER/ta1007.scheme.jpg" alt="Комнатный механический термостат SONDER TA1007"/>
    </a></td>
    <td><a href="/products/73427"><span>TA1008</span><br/>
    <img src="/images/design/categories/SONDER/ta1008.scheme.jpg" alt="Комнатный механический термостат SONDER TA1008"/>
    </a></td>
  </tr>
  <tr>
    <td><a href="/products/79928"><span>TA3002</span><br/>
    <img src="/images/design/categories/SONDER/ta3002.scheme.jpg" alt="Комнатный механический термостат SONDER TA3002"/>
    </a></td>

    <td><a href="/products/79929"><span>TA3006</span><br/>
    <img src="/images/design/categories/SONDER/ta3006.scheme.jpg" alt="Комнатный механический термостат SONDER TA3006"/>
    </a></td>
    <td><a href="/products/79930"><span>TA3007</span><br/>
    <img src="/images/design/categories/SONDER/ta3007.scheme.jpg" alt="Комнатный механический термостат SONDER TA3007"/>
    </a></td>
  </tr>
  <tr>

    <td><a href="/products/79931"><span>TA3008</span><br/>
    <img src="/images/design/categories/SONDER/ta3008.scheme.jpg" alt="Комнатный механический термостат SONDER TA3008"/>
    </a></td>
    <td><a href="/products/79932"><span>TA3010</span><br/>
    <img src="/images/design/categories/SONDER/ta3010.scheme.jpg" alt="Комнатный механический термостат SONDER TA3010"/>
    </a></td>
    <td><a href="/products/79933"><span>TA3012</span><br/>
    <img src="/images/design/categories/SONDER/ta3012.scheme.jpg" alt="Комнатный механический термостат SONDER TA3012"/>
    </a></td>
  </tr>

</tbody></table>
