<table class="table table-striped" border="0" cellspacing="1" cellpadding="1">
  <tr>
    <td><strong>Модульный принцип</strong></td>
    <td><font class="text">Благодаря использованию модульного принципа WatchDog pro может быть маштабирован для решения бесконечно большого числа задач. Это позволяет экономить время и оборудование на всех этапах: планирования, инсталляции и расширения.</font></td>
  </tr>
  <tr>
    <td><strong><font class="graufett">Обмен данными</font></strong></td>
    <td><font class="text">Сетевой модуль позволяет включить WatchDog pro в систему управления технологическими процессами. Чтобы соответствовать требованиям наибольшего числа пользователей, WatchDog pro поддерживает все распространненые сетевые протоколы: Profibus, Modbus-RTU, DeviceNet, CANopen и многие другие.</font></td>
  </tr>
  <tr>
    <td><strong><font class="graufett">Использование в промышленности</font></strong></td>
    <td><font class="text">WatchDog pro предназначен для применения в промышленности. Благодаря устройству клемм, большим изоляционным расстояниям и путям токов утечки, надежной конструкции и устойчивости к повышенным напряжениям он может функционировать в жестких промышленных условиях. Поскольку функциональные модули DC-изолированны друг от друга, различные части оборудования можно контролировать с помощью одной системы WatchDog pro.</font></td>
  </tr>
  <tr>
    <td><strong>Без ограничений</strong></td>
    <td><font class="text">Измеряемые величины могут контролироваться на любое количество пороговых значений без необходимости использования дополнительных модулей. Это позволяет предпринимать различные меры в зависимости от конкретных значений измеряемой величины (предупреждение – частичная остановка – аварийная остановка).</font></td>
  </tr>
  <tr>
    <td><strong><font class="graufett">Журнал событий (черный ящик) </font></strong></td>
    <td><font class="text">WatchDog pro может записывать значения измеряемых величин и системную информацию на карту памяти (MultiMediaCard: MMC™). Информация может сохраняться с заданным интервалом времени и/или по событию (например, в случае сбоя). Это позволяет быстрее и проще локализовывать сбои, а так же является мерой предосторожности на случай необоснованных претензий со стороны третьих лиц. </font></td>
  </tr>
  <tr>
    <td><strong><font class="graufett">Удаленное информирование</font></strong></td>
    <td><font class="text">WatchDog pro легко настроить для взаимодействия с GSM-модемами. Это позволяет отправлять SMS-сообщения в случае возникновения определенных ситуаций. Помимо текстового сообщения в свободной форме, так же можно отправлять и значения измеряемых величин (например: “Превышение значения тока откачивающего насоса: 4,5A”)</font></td>
  </tr>
  <tr>
    <td><strong><font class="graufett">Стандартные сигналы</font></strong></td>
    <td><font class="text">Измеряющие модули предусматривают возможность считывания и обработки стандартных сигналов (0-10В; 4-20мА и т.д.) в WatchDog pro. Потенциал применения системы расширяется большим количеством датчиков, которые преобразуют физические значения в стандартные сигналы. Измеряющие модули так же имеют выход, через который стандартные сигналы можно передавать на сторонние устройства.</font></td>
  </tr>
  <tr>
    <td><strong><font class="graufett">За рамками привычного</font></strong></td>
    <td><font class="text">Функциональные возможности и варианты подключения WatchDog pro удовлетворяют самым взыскательным запросам. Логические функции и привычные функции контроля (контроль на повышение, на понижение, в окне) были дополнены математическими и временной функциями. Это позволяет сократить общую длину монтажных проводников, устранить необходимость использования дополнительных реле и открывает большие возможности. </font></td>
  </tr>
  <tr>
    <td><strong><font class="graufett">Простота настройки</font></strong></td>
    <td><font class="text">Настройка параметров WatchDog pro производится с помощью удобно структурированного программного обеспечения на русском языке. Документация по написанной программе состваляется автоматически. Обмен данными производится через последовательный порт, с использованием вэб-сервера (LAN или WAN).</font></td>
  </tr>
  <tr>
    <td><strong><font class="graufett">S. Window</font></strong></td>
    <td><font class="text">Функция S.WINDOW позволяет улучшить качество контроля чувствительного оборудования (к примеру - насоса с опорным подшипником). Например можно производить контроль пускового тока оборудования для проверки того, что изменения величины тока укладываются в отведенные временные рамки. Это позволяет определить был ли насос заблокирован или запущен „всухую“, а так же оптимально защитить его с помощью функции отключения.</font></td>
  </tr>
</table>
