<table class="table table-striped tele-zebra w100p" id="tr">
	<caption>Встраиваемые модули питания TELE (PowerModule) — AC</caption>
<thead>
	<tr>
		<th colspan="2">Серия</th>
		<th>Номинальное потребление</th>
		<th>Первичная цепь <br/>(AC 50/60Hz)</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>
</thead>
<tbody>

<tr>
	<th rowspan="9"><img src="/images/design/categories/TELE/TR2_230V.jpg" alt="Модуль питания TR2" class="w100px"/></th>
	<th rowspan="9">TR2</th>
	<th rowspan="9">2VA</th>
	<td>12V</td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/394'  title='' style=''>TR2-12VAC</a>
	</td>
	<td>282121</td>
</tr>
<tr>
	<td>24V</td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/395'  title='' style=''>TR2-24VAC</a>
	</td>
	<td>282110</td>
</tr>
<tr>
	<td>42V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/396'  title='' style=''>TR2-42VAC</a>
	</td>
	<td>282111</td>
</tr>
<tr>
	<td>48V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/397'  title='' style=''>TR2-48VAC</a>
	</td>
	<td>282112</td>
</tr>
<tr>
	<td>110V</td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/398'  title='' style=''>TR2-110VAC</a>
	</td>
	<td>282113</td>
</tr>
<tr>
	<td>127V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/399'  title='' style=''>TR2-127VAC</a>
	</td>
	<td>282114</td>
</tr>
<tr>
	<td>230V</td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/400'  title='' style=''>TR2-230VAC</a>
	</td>
	<td>282120</td>
</tr>
<tr>
	<td>400V</td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/401'  title='' style=''>TR2-400VAC</a>
	</td>
	<td>282117</td>
</tr>
<tr>
	<td>440V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/402'  title='' style=''>TR2-440VAC</a>
	</td>
	<td>282119</td>
</tr>


<tr>
	<th rowspan="9"><img src="/images/design/categories/TELE/TR3_400V.jpg" alt="Модуль питания TR3" class="w100px"/></th>
	<th rowspan="9">TR3</th>
	<th rowspan="9">4VA</th>
	<td>12V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		TR3-12VAC
	</td>
	<td></td>
</tr>
<tr>
	<td>24V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/403'  title='' style=''>TR3-24VAC</a>
	</td>
	<td>285010</td>
</tr>
<tr>
	<td>42V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/404'  title='' style=''>TR3-42VAC</a>
	</td>
	<td>285011</td>
</tr>
<tr>
	<td>48V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/405'  title='' style=''>TR3-48VAC</a>
	</td>
	<td>285012</td>
</tr>
<tr>
	<td>110V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/406'  title='' style=''>TR3-110VAC</a>
	</td>
	<td>285013</td>
</tr>
<tr>
	<td>230V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/407'  title='' style=''>TR3-230VAC</a>
	</td>
	<td>285025</td>
</tr>
<tr>
	<td>400V</td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/408'  title='' style=''>TR3-400VAC</a>
	</td>
	<td>285017</td>
</tr>
<tr>
	<td>440V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/409'  title='' style=''>TR3-440VAC</a>
	</td>
	<td>285019</td>
</tr>
<tr>
	<td>500V</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/410'  title='' style=''>TR3-500VAC</a>
	</td>
	<td>285026</td>
</tr>
</tbody></table>

<table class="table table-striped tele-zebra w100p"><caption>Встраиваемые модули питания TELE (PowerModule) — DC</caption>
<thead>
<tr>
	<th>Серия</th>
	<th>Напряжение питания</th>
	<th>Тип</th>
	<th>Артикул</th>
</tr>
</thead>
<tbody>
<tr>
	<td>SNT</td>
	<td>24VDC</td>
	<td>SNT2 24V DC</td>
	<td>282050</td>
</tr>
</tbody></table>


<h2>Внешний потенциометр RONDO R2</h2>
<p>Внешний потенциометр для монтажа на панель. Позволяет удалённо задавать выдержки времени. </p>
<table class="table table-striped"><caption>Диапазоны регулировки:</caption><tbody>
<tr>
	<td>1M&#937;</td>
	<td>(R2 1M&#937; 0.1)</td>
	<td>шкала от 0,1 до 1</td>
</tr>
<tr>
	<td>1M&#937;</td>
	<td>(R2 1M&#937; 0.3)</td>
	<td>шкала от 0,3 до 3</td>
</tr>
<tr>
	<td rowspan="3">Подключение</td>
	<td>1</td>
	<td>Первый</td>
</tr>
<tr>
	<td>2</td>
	<td>Ползунок</td>
</tr>
<tr>
	<td>3</td>
	<td>Последний</td>
</tr>
</tbody></table>
<p>Базовая погрешность: ±10% (от максимального значения на шкале). Погрешность повторения: &#8804;0,01%.</p>

<table class="table table-striped tele-zebra w100p">
<thead>
	<tr>
		<th colspan="2">Тип</th>
		<th>Описание</th>
		<th>Артикул</th>
	</tr>
</thead>
<tbody>
<tr>
	<td rowspan="3"><img src="/images/design/categories/TELE/R2.jpg" class="w100px" alt="Внешний потенциометр"/></td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/385'  title='' style=''>R2 1MOHM 0,1</a>
	</td>
	<td>Внешний потенциометр, шкала 0,1-1</td>
	<td>282130</td>
</tr>
<tr>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/386'  title='' style=''>R2 1MOHM 0,3</a>
	</td>
	<td>Внешний потенциометр, шкала 0,3-3</td>
	<td>282133</td>
</tr>
<tr>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/387'  title='' style=''>R20 10KOHM</a>
	</td>
	<td>Внешний потенциометр, шкала 1-10</td>
	<td>282131</td>
</tr>
</tbody></table>

<h2>Датчики уровня Серия SK</h2>
<ul class="mark">
	<li>Датчики для контроля уровня проводящих жидкостей</li>
	<li>Нержавеющие датчики, с ПВХ-покрытием, IP рейтинг IP44</li>
</ul>
<table class="table table-striped tele-zebra w100p"><caption>Датчики уровня</caption>
<thead>
	<tr>
		<th></th>
		<th>Кол-во электродов</th>
		<th>Длина</th>
		<th>Max. t°</th>
		<th class="w100px">Тип</th>
		<th>Артикул</th>
	</tr>
</thead><tbody>
<tr>
	<td><strong>Погружаемый датчик (электрод)</strong></td>
	<td></td>
	<td>-</td>
	<td>60</td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/388'  title='' style=''>SK1</a>
	</td>
	<td>
		190107
	</td>
</tr>
<tr>
	<th rowspan="3">Датчик касания</th>
	<td>2</td>
	<td>500мм</td>
	<td>90</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/120751'  title='' style=''>SK2</a>
	</td>
	<td>
		190108
	</td>
</tr>
<tr>
	<td>3</td>
	<td>500мм</td>
	<td>90</td>
	<td>
		<img src='/assets/green.gif' alt='Есть на складе' title='Есть на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/390'  title='' style=''>SK3-500</a>
	</td>
	<td>
		190109
	</td>
</tr>
<tr>
	<td>3</td>
	<td>1000мм</td>
	<td>90</td>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/391'  title='' style=''>SK3-1000</a>
	</td>
	<td>
		190110
	</td>
</tr>
</tbody></table>

<h2>Защитная крышка GAMMA</h2>
<p>Пломбируемая пластиковая защитная крышка для реле контроля и времени серии GAMMA 22,5 мм — <a href='/products/378'  title='' style=''>FA-G2 (IPS 22,5)</a>, артикул 070160.</p>



<h2>Монтажная рейка MP</h2>
<p>Монтажная рейка для монтажа устройств TELE на стене. Самозатухающий пластик, три отверстия диаметром 4мм.</p>
<table class="table table-striped tele-zebra w100p"><caption>Монтажная рейка</caption><tbody>
<tr>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/1207'  title='' style=''>MP</a>
	</td>
	<td>Монтажная рейка</td>
	<td>075474</td>
</tr>
<tr>
	<td>
		<img src='/assets/grey.gif' alt='Нет на складе' title='Нет на складе' style='width: 10px; height: 10px;' title=''/>
		<a href='/products/382'  title='' style=''>MP Gamma</a>
	</td>
	<td>Монтажная рейка для серии GAMMA</td>
	<td>075574</td>
</tr>
</tbody></table>
