<table class="table tele-zanaveska"><caption>Реле безопасности и реле аварийного отключения</caption>
<thead>
	<tr>
		<th colspan="2"></th>
		<th colspan="9">Реле безопасности</th>
		<th colspan="2">Реле аварийного отключения</th>
	</tr>
</thead><tbody>
<tr>
	<th rowspan="4">Напряжение питания</th>
	<td>24V AC</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>24V DC</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
</tr>
<tr>
	<td>115-120V AC</td>
	<td>запр.</td>
	<td></td>
	<td></td>
	<td></td>
	<td>запр.</td>
	<td>запр.</td>
	<td>запр.</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>230V AC</td>
	<td>запр.</td>
	<td></td>
	<td></td>
	<td></td>
	<td>запр.</td>
	<td>запр.</td>
	<td>запр.</td>
	<td></td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
</tr>
<tr>
	<th rowspan="10">Применение</th>
	<td>Max. достижимая категория безопасности</td>
	<td>4</td>
	<td>4</td>
	<td>4</td>
	<td>4/3</td>
	<td>4</td>
	<td>4</td>
	<td>2</td>
	<td>4</td>
	<td>4</td>
	<td>4</td>
	<td>4</td>
</tr>
<tr>
	<td>Стоп-категория</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0/1</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>1</td>
	<td>0</td>
	<td>0</td>
</tr>
<tr>
	<td>Аварийный останов</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td>&#9632;</td>
</tr>
<tr>
	<td>Шлюз безопасности</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td>&#9632;</td>
</tr>
<tr>
	<td>Коврик безопасности</td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>OSSD (световое ограждение)</td>
	<td></td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>Контроль состояния клапана</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>Двухканальная активация</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>Срабатывание контакта без задержки</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>Срабатывание контакта с задержкой</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<th rowspan="3">Сброс</th>
	<td>Автоматический запуск</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>Запуск с контролем сброса</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>Запуск без контроля сброса</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<th rowspan="4">Входная цепь</th>
	<td>Проверка синхронизации времени - подключаемая</td>
	<td>&#9632;</td>
	<td></td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>Перекрёстный контроль</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td>&#9632;</td>
</tr>
<tr>
	<td>Активация с пом. п/проводн. выхода (OSSD)</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td>&#9632;</td>
</tr>
<tr>
	<td>Защита от дребезга при кратковр. сигн. на входе</td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<th rowspan="3">Выходная цепь</th>
	<td>Активация контура с задержкой</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>1</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>4</td>
	<td>0</td>
	<td>0</td>
</tr>
<tr>
	<td>Активация контура без задержки</td>
	<td>3</td>
	<td>2</td>
	<td>2</td>
	<td>2</td>
	<td>3</td>
	<td>2</td>
	<td>3</td>
	<td>4</td>
	<td>0</td>
	<td>3</td>
	<td>3</td>
</tr>
<tr>
	<td>Сигнализирующие контуры</td>
	<td>0</td>
	<td>1</td>
	<td>1</td>
	<td>0</td>
	<td>0</td>
	<td>1</td>
	<td>1</td>
	<td>3</td>
	<td>3</td>
	<td>1</td>
	<td>1</td>
</tr>
<tr>
	<th>Сброс с задержкой</th>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<tr>
	<th rowspan="2">Ширина</th>
	<td>22,5мм</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td>&#9632;</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>45мм</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>&#9632;</td>
	<td>&#9632;</td>
</tr>
<tr style="vertical-align: bottom">
	<th>Тип</th>
	<td></td>
	<td><entity name="S2NT030" prop="showimage_link"/></td>
	<td><entity name="S2NGS021" prop="showimage_link"/></td>
	<td><entity name="S2NG021" prop="showimage_link"/></td>
	<td><entity name="S2NGR120" prop="showimage_link"/></td>
	<td><entity name="S2LST030" prop="showimage_link"/></td>
	<td><entity name="S2Z021" prop="showimage_link"/></td>
	<td><entity name="S2NT031" prop="showimage_link"/></td>
	<td><entity name="S2K043" prop="showimage_link"/></td>
	<td><entity name="S2KR403" prop="showimage_link"/></td>
	<td><entity name="ZK31X45 24VDC" prop="showimage_link"/></td>
	<td><entity name="ZK31X45 230VAC" prop="showimage_link"/></td>
</tr>
<tr>
	<th>Артикул</th>
	<td></td>
	<td><img src="/classes/showimage.php?588826" alt="588826"/></td>
	<td><img src="/classes/showimage.php?588815" alt="588815"/></td>
	<td><img src="/classes/showimage.php?588814" alt="588814"/></td>
	<td><img src="/classes/showimage.php?588816" alt="588816"/></td>
	<td><img src="/classes/showimage.php?588823" alt="588823"/></td>
	<td><img src="/classes/showimage.php?588818" alt="588818"/></td>
	<td><img src="/classes/showimage.php?588811" alt="588811"/></td>
	<td><img src="/classes/showimage.php?588821" alt="588821"/></td>
	<td><img src="/classes/showimage.php?588822" alt="588822"/></td>
	<td><img src="/classes/showimage.php?588000" alt="588000"/></td>
	<td><img src="/classes/showimage.php?588033" alt="588033"/></td>
</tr>
</tbody></table>
