<table class="table tele-zebra">
<thead>
	<tr>
		<th>Серия</th>
		<th>Напряжение питания</th>
		<th>Индикация</th>
		<th>Точность</th>
		<th>Размеры (мм)</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>
</thead>
<tbody>
<tr>
	<th rowspan="4">TBG</th>
	<td rowspan="4">12-48V DC</td>
	<td rowspan="2">999 999ч</td>
	<td rowspan="2">0,1ч</td>
	<td>28,2х53,2х63</td>
	<td>
		<entity name="TBG30.18 12-48VDC" prop="onStoreImage"/>
		<entity name="TBG30.18 12-48VDC" prop="link"/>
	</td>
	<td><entity name="TBG30.18 12-48VDC" prop="article"/></td>
</tr>
<tr>
	<td>48x48x48</td>
	<td>
		<entity name="TBG40.17 12-48VDC" prop="onStoreImage"/>
		<entity name="TBG40.17 12-48VDC" prop="link"/>
	</td>
	<td><entity name="TBG40.17 12-48VDC" prop="article"/></td>
</tr>
<tr>
	<td rowspan="2">99 999ч</td>
	<td rowspan="2">0,1ч</td>
	<td>85х17,5х61,5</td>
	<td>
		<entity name="TBG70.18 12-48VDC" prop="onStoreImage"/>
		<entity name="TBG70.18 12-48VDC" prop="link"/>
	</td>
	<td><entity name="TBG70.18 12-48VDC" prop="article"/></td>
</tr>
<tr>
	<td>90x35x60</td>
	<td>
		<entity name="TBG70.29 12-48VDC" prop="onStoreImage"/>
		<entity name="TBG70.29 12-48VDC" prop="link"/>
	</td>
	<td><entity name="TBG70.29 12-48VDC" prop="article"/></td>
</tr>


<tr>
	<th rowspan="11">TBW</th>
	<td>24V AC (50Hz)</td>
	<td>99 999ч</td>
	<td>0,01ч</td>
	<td>45х48х38</td>
	<td>
		<entity name="TBW40.18 24VAC 50Hz" prop="onStoreImage"/>
		<entity name="TBW40.18 24VAC 50Hz" prop="link"/>
	</td>
	<td><entity name="TBW40.18 24VAC 50Hz" prop="article"/></td>
</tr>


<tr>
	<td rowspan="2">115V AC (50Hz)</td>
	<td rowspan="2">99 999ч</td>
	<td rowspan="2">0,01ч</td>
	<td>45х48х38</td>
	<td>
		<entity name="TBW40.18 115VAC 50Hz" prop="onStoreImage"/>
		<entity name="TBW40.18 115VAC 50Hz" prop="link"/>
	</td>
	<td><entity name="TBW40.18 115VAC 50Hz" prop="article"/></td>
</tr>
<tr>
	<td>85х17,5х61,5</td>
	<td>
		<entity name="TBW70.18 115VAC 50Hz" prop="onStoreImage"/>
		<entity name="TBW70.18 115VAC 50Hz" prop="link"/>
	</td>
	<td><entity name="TBW70.18 115VAC 50Hz" prop="article"/></td>
</tr>

<tr>
	<td rowspan="3">230V AC (50Hz)</td>
	<td rowspan="3">99 999ч</td>
	<td rowspan="3">0,01ч</td>
	<td>28,2х53,2х63</td>
	<td>
		<entity name="TBW30.18 230VAC 50Hz" prop="onStoreImage"/>
		<entity name="TBW30.18 230VAC 50Hz" prop="link"/>
	</td>
	<td><entity name="TBW30.18 230VAC 50Hz" prop="article"/></td>
</tr>

<tr>
	<td>45x48x38</td>
	<td>
		<entity name="TBW40.18 230VAC 50Hz" prop="onStoreImage"/>
		<entity name="TBW40.18 230VAC 50Hz" prop="link"/>
	</td>
	<td><entity name="TBW40.18 230VAC 50Hz" prop="article"/></td>
</tr>

<tr>
	<td>85x18,5x61,5</td>
	<td>
		<entity name="TBW70.18 230VAC 50Hz" prop="onStoreImage"/>
		<entity name="TBW70.18 230VAC 50Hz" prop="link"/>
	</td>
	<td><entity name="TBW70.18 230VAC 50Hz" prop="article"/></td>
</tr>

<tr>
	<td>24V AC (50/60Hz)</td>
	<td>99 999ч</td>
	<td>0,1ч</td>
	<td>90х35х60</td>
	<td>
		<entity name="TBW70.29 24VAC 50/60Hz" prop="onStoreImage"/>
		<entity name="TBW70.29 24VAC 50/60Hz" prop="link"/>
	</td>
	<td><entity name="TBW70.29 24VAC 50/60Hz" prop="article"/></td>
</tr>

<tr>
	<td>48V AC (50/60Hz)</td>
	<td>99 999ч</td>
	<td>0,1ч</td>
	<td>105х35х60</td>
	<td>
		<entity name="TBW70.89 48VAC 50/60Hz" prop="onStoreImage"/>
		<entity name="TBW70.89 48VAC 50/60Hz" prop="link"/>
	</td>
	<td><entity name="TBW70.89 48VAC 50/60Hz" prop="article"/></td>
</tr>

<tr>
	<td>115V AV (50/60Hz)</td>
	<td>99 999ч</td>
	<td>0,1ч</td>
	<td>105х35х60</td>
	<td>
		<entity name="TBW70.89 115VAC 50/60Hz" prop="onStoreImage"/>
		<entity name="TBW70.89 115VAC 50/60Hz" prop="link"/>
	</td>
	<td><entity name="TBW70.89 115VAC 50/60Hz" prop="article"/></td>
</tr>

<tr>
	<td rowspan="2">230V AV (50/60Hz)</td>
	<td rowspan="2">99 999ч</td>
	<td rowspan="2">0,1ч</td>
	<td>105х35х60</td>
	<td>
		<entity name="TBW70.89 230VAC 50/60Hz" prop="onStoreImage"/>
		<entity name="TBW70.89 230VAC 50/60Hz" prop="link"/>
	</td>
	<td><entity name="TBW70.89 230VAC 50/60Hz" prop="article"/></td>
</tr>
<tr>
	<td>90х35х60</td>
	<td>
		<entity name="TBW70.29 230VAC 50/60Hz" prop="onStoreImage"/>
		<entity name="TBW70.29 230VAC 50/60Hz" prop="link"/>
	</td>
	<td><entity name="TBW70.29 230VAC 50/60Hz" prop="article"/></td>
</tr>

</tbody></table>
<table class="table"><tbody>
<tr>
	<th>TBG/TBW 30.XX</th>
	<th>TBG/TBW 40.XX</th>
	<th>TBG/TBW 70.18</th>
	<th>TBG/TBW 70.29(89)</th>
</tr>
<tr>
	<td><entity name="TBW30.18 230VAC 50Hz" prop="jpg" style="height: 100px;"/></td>
	<td><entity name="TBW40.18 230VAC 50Hz" prop="jpg" style="height: 150px;"/></td>
	<!-- <td><entity name="TBW70.18 230VAC 50Hz" prop="jpg" style="height: 150px;"/></td> -->
	<td><entity name="TBW70.29 230VAC 50/60Hz" prop="jpg" style="height: 150px;"/></td>
</tr>
</tbody></table>

<h3>Особенности: </h3>
<ul class="mark">
	<li>счётчики часов для монтажа на DIN-рейку, на панель</li>
	<li>счётчики часов с питанием 24, 48, 115, 230VAC или 12..48VDC</li>
	<li>стандартные и компактные размеры</li>
	<li>TBW70.89 отличается от TBW70.29 наличием пломбируемой крышки для клемм</li>
	<li>сделано в Европе</li>
</ul>

<p><strong>См. также: </strong><a href="/categories/5423">счётчики часов наработки Graesslin</a></p>

<table class="table tele-zebra">
<caption>Аксессуары</caption>
<thead><tr><th></th><th>Тип</th><th>Артикул</th></tr></thead>
<tbody>
<tr>
	<td>Держатель TBG/TBW30</td>
	<td>SB-TBX30</td>
	<td>711809</td>
</tr>
<tr>
	<td>Рамка для TBG/TBW40 (55x55мм)</td>
	<td>B55-TBX40</td>
	<td>711800</td>
</tr>
<tr>
	<td>Рамка для TBG/TBW40 (72x72мм)</td>
	<td>ME72-TBX40</td>
	<td>711801</td>
</tr>
<tr>
	<td>Фиксатор TBG/TBW40</td>
	<td>SB-TBX40</td>
	<td>711807</td>
</tr>
<tr>
	<td>Уплотняющее кольцо TBW40 (IP54)</td>
	<td>DR-TBW40</td>
	<td>711813</td>
</tr>
<tr>
	<td>Крышка для клемм TBG/TBW70.29 (пломбируемая)</td>
	<td>KA-TBX70.29</td>
	<td>711812</td>
</tr>
</tbody></table>
