<table class="table table-striped tele-zebra">
<caption>Таблица характеристик УПП производства TELE (Австрия)</caption>
<tbody>
<tr><th colspan="7">Устройства плавного пуска серии MSG</th></tr>
<tr>
	<th>Контроль двигателя</th>
	<th>Ном. ток</th>
	<th>Ном. мощность двигателя</th>
	<th>Размеры ШxВxГ(мм)</th>
	<th>Вес(кг)</th>
	<th>Тип</th>
	<th>Артикул</th>
</tr>

<tr>
	<th rowspan="4">3-фазный</th>
	<td>6А</td>
	<td>3кВт (макс. время запуска 3с)</td>
	<td>76х45х117</td>
	<td>0,33</td>
	<td><a href='/products/635'  title='' style=''>MSG 3-3s 400VAC</a></td>
	<td>490000</td>
</tr>
<tr>
	<td>6А</td>
	<td>3кВт</td>
	<td>76х45х117</td>
	<td>0,33</td>
	<td><a href='/products/636'  title='' style=''>MSG 3-30s 400VAC</a></td>
	<td>490002</td>
</tr>
<tr>
	<td>11А</td>
	<td>5,5кВт</td>
	<td>76х70х117</td>
	<td>0,41</td>
	<td><a href='/products/637'  title='' style=''>MSG 5,5 400VAC</a></td>
	<td>490007</td>
</tr>
<tr>
	<td>22А</td>
	<td>11кВт</td>
	<td>76х100х117</td>
	<td>0,62</td>
	<td><a href='/products/638'  title='' style=''>MSG 11 400VAC</a></td>
	<td>490008</td>
</tr>
</tbody>
</table>
