<table class="table load-monitor">
  <thead>
    <tr>
      <th></th>
      <th colspan="10">Контроль активной мощности</th>
      <th>Ток</th>
      <th colspan="3">Контроль cos&#966;</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Функции</th>
      <th colspan="14"> </th>
    </tr>
    <tr>
      <td>Контроль нагрузки на понижение</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
    </tr>
    <tr>
      <td>Контроль нагрузки на повышение</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
    </tr>
    <tr>
      <td>Контроль на понижение и повышение (в окне)</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
    </tr>
    <tr>
      <td>Обнаружение I=0 (нулевой ток)</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
    </tr>
    <tr>
      <td>Контроль температуры обмотки двигателя</td>
      <td>&#9632;</td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>Регулируемые пороговые значения</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
    </tr>
    <tr>
      <td>Регулируемый гистерезис</td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
    </tr>
    <tr>
      <td>Функция защёлки</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
    </tr>
    <tr>
      <td>Задержка срабатывания при включении (Start-up)</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
    </tr>
    <tr>
      <td>Задержка срабатывания</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
    </tr>
    <tr>
      <td>Уменьшеное время срабатывания</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td>Цифровое управление (кнопки на лицевой панели)</td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <th>Выходы</th>
      <td colspan="14"></td>
    </tr>
    <tr>
      <td>1 перекидной контакт</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
    </tr>
    <tr>
      <td>2 перекидных контакта</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
    </tr>
    <tr>
      <td>Диапазон измерения тока</td>
      <td>16A</td>
      <td>16A</td>
      <td>12A</td>
      <td>12A</td>
      <td>12A</td>
      <td>12A</td>
      <td>12A</td>
      <td>12A</td>
      <td>12A</td>
      <td>12A</td>
      <td>15A</td>
      <td>10A</td>
      <td>2A</td>
      <td>10A</td>
    </tr>
    <tr>
      <td>Аналоговый выход</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td style="font-size: 10px;">4 - 20mA</td>
      <td style="font-size: 10px;">4 - 20mA</td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr class="with-img">
      <th>Измеряемое напряжение</th>
      <td><img src="/classes/showimage.php?400/690V AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?400/690V AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?277/480C AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?230/400V AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?277/400V AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?277/480V AC&font=2" alt=""/></td>
      <td>|</td>
      <td><img src="/classes/showimage.php?230/400V AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?230/400V AC&font=2" alt=""/></td>
      <td><img src="/classes/showimage.php?230/400V AC&font=2" alt=""/></td>
    </tr>
    <tr class="with-img">
      <th>Напряжение питания</th>
      <td><img src="/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
      <td><img src="/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
      <td><img src="/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
      <td><img src="/classes/showimage.php?24-500V AC/DC&font=2" alt="24-500V AC/DC"/></td>
      <td><img src="/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
      <td><img src="/classes/showimage.php?12-500V AC&font=2" alt="12-500V AC"/></td>
      <td><img src="/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
      <td><img src="/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
      <td><img src="/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
      <td><img src="/classes/showimage.php?24-240V AC/DC&font=2" alt="24-240V AC/DC"/></td>
      <td><img src="/classes/showimage.php?24-240V AC/DC&font=2" alt="24-240V AC/DC"/></td>
      <td><img src="/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
      <td><img src="/classes/showimage.php?12-400V AC&font=2" alt="12-400V AC"/></td>
      <td><img src="/classes/showimage.php?12-400V AC&font=2"alt="12-400V AC"/></td>
    </tr>
    <tr class="with-img">
      <th>Тип</th>
      <td><a href="/products/72945"><img src="/classes/showimage.php?G4BM690V16ATL20" alt="G4BM690V16ATL20" title=""/></a></td>
      <td><a href="/products/72946"><img src="/classes/showimage.php?G4BM690V16AL20" alt="G4BM690V16AL20" title="G4BM690V16AL20"/></a></td>
      <td><a href="/products/72947"><img src="/classes/showimage.php?G4BM480V12ADTL20" alt="G4BM480V12ADTL20" title="G4BM480V12ADTL20"/></a></td>
      <td><a href="/products/120738"><img src="/classes/showimage.php?G4BM480V12ADTL20 24-240VAC/DC" alt="G4BM480V12ADTL20 24-240VAC/DC"/></a></td>
      <td><a href="/products/72949"><img src="/classes/showimage.php?G4BM480V12ATL20" alt="G4BM480V12ATL20"/></a></td>
      <td><a href="/products/72950"><img src="/classes/showimage.php?G4BM480V12AFTL20" alt="G4BM480V12AFTL20"/></a></td>
      <td><a href="/products/72951"><img src="/classes/showimage.php?G2BM480V12AFL10" alt="G2BM480V12AFL10"/></a></td>
      <td><a href="/products/269"><img src="/classes/showimage.php?G2BM400V12AL10" alt="G2BM400V12AL10"/></a></td>
      <td><a href="/products/271"><img src="/classes/showimage.php?G2BM400V12AFL10" alt="G2BM400V12AFL10"/></a></td>
      <td><a href="/products/121981"><img src="/classes/showimage.php?G2BA480V12A" alt="G2BA480V12A"/></a></td>
      <td><a href="/products/75777"><img src="/classes/showimage.php?G2IA15A" alt="G2IA15A"/></a></td>
      <td><a href="/products/272"><img src="/classes/showimage.php?G2CM400V10AL20" alt="G2CM400V10AL20"/></a></td>
      <td><a href="/products/273"><img src="/classes/showimage.php?G2CM400V2AL20" alt="G2CM400V2AL20"/></a></td>
      <td><a href="/products/274"><img src="/classes/showimage.php?G2CU400V10AL10" alt="G2CU400V10AL10"/></a></td>
    </tr>
  </tbody>
</table>
<p>* Для расширения диапазона расширения см. <a href="/categories/5035">трансформаторы тока</a>. </p>
