<table class="table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><p><strong><h3>Промышленная система управления энергопотреблением ECO8 III от TELE</h3>
    </strong></p></td>
    <td width="182"><img src="/images/design/categories/TELE/sf_ecosys.jpg" alt="Управление энергопотреблением по приоритетам TELE" width="182" height="64" border="1"></td>
  </tr>
  <tr>
    <td colspan="2">
<p><i>Стоимость электроэнергии зависит от предельных нагрузок, которые потребитель оказывает на электросеть. Сегодня, особенно на промышленных объектах, очень важно обеспечить заданное потребление мощности, не превышающее установленных ограничений. Использование этих устройств позволяет существенно сократить нагрузку и на сеть, а так же уменьшить стоимость электроэнергии, управляя потреблением на основе приоритетов. </i></p>
<p>
            <strong>Назначение:</strong> система анализирует информацию о текущем потреблении мощности на объекте (предприятие, здание) в режиме реального времени (получая информацию с импульсного выхода счетчика электроэнергии). В случае повышения активной мощности выше заданного значения система отключает группу потребителей с наименьшим приоритетом (например – отопительное оборудование или необязательно освещение). Система автоматически пытается ввести оборудование в работу через заданный промежуток времени и осуществляет чередование отключения неприоритетных групп. Можно определить до 64 групп (и соответственно – 64 уровней приоритета), для определенных групп можно назначить запрет на отключение. </p>
        <strong>Что это дает:</strong> 1. решение проблемы пиков суточного потребление электроэнергии 2. выполнение обязательств перед поставщиком электроэнергии, в соответствии с выбранным тарифом и отсутствие штрафов 3. полная автоматизация управления группами потребителей 4. подробная статистика по пикам потребления и событиям<br>
        <br>
        <strong>Иллюстрация работы системы:</strong><br>
        <table border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>Нормальное потребление </td>
            <td width="30"> </td>
            <td>Результат работы системы: </td>
          </tr>
          <tr>
            <td><img src="/images/design/categories/TELE/eco1.jpg" width="300" height="179"></td>
            <td> </td>
            <td><img src="/images/design/categories/TELE/eco2.jpg" width="300" height="192"></td>
          </tr>
        </table>
        <p> <strong>Измерение мощности:</strong> система получает информацию о текущем потреблении мощности с импульсного выхода счетчика электроэнергии. </p>
        <p><strong>Монтаж: </strong>на DIN-рейку. Система состоит из центрального модуля (8 выходов) и модулей расширения (до 8 модулей по 8 выходов), каждый из которых крепится на DIN-рейку. Для подключения модулей расширения к центральному модулю используется интерфейс RS485. </p>
        <p><strong>Программирование</strong> - производится кнопками на лицевой панели устройства или с помощью компьютера.</p>
        <p><strong>Система сохраняет статистику </strong>о времени пиков и значениях мощности (и прочих величинах), которая позволяет анализировать энергопотребление предприятия и оптимизировать его работу. При необходимости можно строить графики на компьютере (например, с помощью программы Excel).</p>
        <p>Минимальный комплект системы включает в себя только центральный модуль (ECO8 III SYS), к которому при необходимости могут подключаться модули расширения (ECO8 III GATE). При необходимости систему можно подключить к локальной сети Ethernet.</p>
        <p>Система разработана и производится в Австрии компанией TELE, имеющей более чем 40-летний опыт разработки и производства устройств промышленной автоматизации. Система ECO8 III успешно себя зарекомендовала за прошедшие годы, это уже третье поколение системы. Благодаря простой системе программирования и понятной логике работы (на выходе используются реле 3А/230VAC) система легко может использоваться на любом предприятии в российских условиях. <br>
            <br>
        Любые вопросы по системе: Игорь Тихомиров (812) 3353665 </p>
        <p><strong> Материалы по системе:</strong></p>
        <p><a href="/PDF/TELE/ECO8III_rus_v20.pdf"><img src="/images/pdf_doc.gif" width="18" height="18"> Презентация (рус) </a><br>
            <a href="/PDF/TELE/ECO8_Product_description.pdf"><img src="/images/pdf_doc.gif" width="18" height="18"> Описание возможностей системы (англ) </a><br>
            <a href="/PDF/TELE/ECO8_User_manual_1_1_eng.pdf"><img src="/images/pdf_doc.gif" width="18" height="18"> Руководство пользователя (англ)</a><br>
            <a href="/PDF/TELE/ECO8_applications.pdf"><img src="/images/pdf_doc.gif" width="18" height="18"> Примеры применения (англ) </a> </p>
        <p><strong>Состав системы: </strong> </p>
        <table class="table table-striped" border="1" cellspacing="0" cellpadding="1">
          <tr>
            <td><strong>1. Центральный модуль ECO8 III SYS (620160)</strong><br>
            Самостоятельное устройство, доступны все возможности системы. 8 групп потребителей. Программирование с помощью экрана и кнопок на лицевой панели. <br>
            </td>
            <td><img src="/images/design/categories/TELE/eco3.jpg" alt="Центральный модуль ECO8 III SYS" width="200" height="115"></td>
          </tr>
          <tr>
            <td><p><strong>2. Модуль расширения ECO8 III GATE (620161)</strong><br>
              Расширение количества групп потребителей кратно 8. Максимально - до 64 групп потребителей (к системе можно подключить до 7 модулей расширения) </p></td>
            <td><img src="/images/design/categories/TELE/eco4.jpg" alt="Модуль расширения ECO8 III GATE" width="200" height="115"></td>
          </tr>
          <tr>
            <td><p><b>3. ECO8 III COM (620170)</b><br>
              Оборудование для обмена данными, ECOsys / ECOgate &lt;&gt; ПК + программное обеспечение. Позволяет осуществлять программирование устройства и просмотр статистики с ПК.</p></td>
            <td> </td>
          </tr>
          <tr>
            <td><p><b>4. ECO8 III COM Ethernet (620171)</b><br>
              Оборудование для обмена данными ECO&lt;&gt;ПК через Ethernet.</p></td>
            <td> </td>
          </tr>
        </table>
  </tr>
</table>
