  <h2>Быстрый выбор реле времени серии ENYA</h2>
  <table class="table tele">
    <tbody><tr style="background: #ABE391;">
      <td rowspan="2" style="background: white;">Быстрый <br/>
        выбор <br/>
        реле времени<br/><strong>Тип</strong></td>
      <td rowspan="2">12-240В AC/DC</td>
      <td rowspan="2">24-240В AC/DC</td>
      <td rowspan="2"><strong>Выход</strong><br/>
        ПК = <br/>
        пере-<br/>
        кидной <br/>
      контакт</td>
      <td colspan="2"><strong>Код для заказа</strong></td>
      <td colspan="15"><strong>Функции (<a href="/rele/time-functions.php"><b>Описание функций</b></a>)</strong></td>
    </tr>
    <tr style="background: #ABE391; text-align: center;">
      <td>Кол-во в <br/>
        упаковке:<br/>
        1шт<br/>    </td>
      <td>Кол-во в <br/>
        упаковке:<br/>
      10шт</td>
      <td width="20"><strong>E</strong></td>
      <td width="20"><strong>R</strong></td>
      <td width="20"><strong>Ws</strong></td>
      <td width="20"><strong>Wa</strong></td>
      <td width="20"><strong>Es</strong></td>
      <td width="20"><strong>Wu</strong></td>
      <td width="20"><strong>Bp</strong></td>
      <td width="20"><strong>Ip</strong></td>
      <td width="20"><strong>Ii</strong></td>
      <td width="20"><strong>ER</strong></td>
      <td width="20"><strong>EWu</strong></td>
      <td width="20"><strong>EWs</strong></td>
      <td width="20"><strong>WsWa</strong></td>
      <td width="20"><strong>Wt</strong></td>
      <td width="20"><strong>S</strong></td>
    </tr>
    <tr style="background: #DDDDDD;">
      <th>E1ZM10</th>
      <td>&#9632;</td>
      <td> </td>
      <td>1ПК</td>
      <td>110100</td>
      <td>110100A</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr style="background: #ABE391;">
      <th>E1ZM10</th>
      <td> </td>
      <td>&#9632;</td>
      <td>1ПК</td>
      <td>110200</td>
      <td>110200A</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr style="background: #DDDDDD;">
      <th>E1ZMQ10</th>
      <td> </td>
      <td>&#9632;</td>
      <td>1ПК</td>
      <td>110202</td>
      <td>110202A</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr style="background: #ABE391;">
      <th>E1Z1E10</th>
      <td> </td>
      <td>&#9632;</td>
      <td>1ПК</td>
      <td> </td>
      <td>110204A</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr style="background: #DDDDDD;">
      <th>E1Z1R10</th>
      <td> </td>
      <td>&#9632;</td>
      <td>1ПК</td>
      <td> </td>
      <td>110205A</td>
      <td> </td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr style="background: #ABE391;">
      <th>E1Z1ER10</th>
      <td> </td>
      <td>&#9632;</td>
      <td>1ПК</td>
      <td> </td>
      <td>110208A</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr style="background: #DDDDDD;">
      <th>E1ZMW10</th>
      <td> </td>
      <td>&#9632;</td>
      <td>1ПК</td>
      <td> </td>
      <td>110206A</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
    </tr>
    <tr style="background: #ABE391;">
      <th>E1ZI10</th>
      <td>&#9632;</td>
      <td> </td>
      <td>1ПК</td>
      <td>110101</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr style="background: #DDDDDD;">
      <th>E3ZM20</th>
      <td>&#9632;</td>
      <td> </td>
      <td>2ПК</td>
      <td>111100</td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>
    <tr style="background: #ABE391;">
      <th>E3ZI20</th>
      <td>&#9632;</td>
      <td> </td>
      <td>2ПК</td>
      <td>111101</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td>&#9632;</td>
      <td> </td>
    </tr>
    <tr style="background: #DDDDDD;">
      <th>E3ZS20</th>
      <td>&#9632;</td>
      <td> </td>
      <td>2ПК</td>
      <td>111300</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>&#9632;</td>
    </tr>
    </tbody></table>
  В таблице выше не учтены контроллеры освещения
  <a href='/products/118908'  title='' style=''>E1ZTPNC</a> и
  <a href='/products/118907'  title='' style=''>E1ZTP</a>, а так же импульсный выключатель
  <a href='/products/121606'  title='' style=''>E1ZWI</a>.
