<table class="table table-striped tele-zebra">
	<caption>Таблица характеристик УПП производства TELE (Австрия)</caption>
	<tbody>
	<tr><th colspan="7">Устройства плавного пуска серии TSG</th></tr>
	<tr>
		<th>Контроль двигателя</th>
		<th>Ном. ток</th>
		<th>Ном. мощность двигателя</th>
		<th>Размеры ШxВxГ(мм)</th>
		<th>Вес(кг)</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>
	<tr>
		<th rowspan="2">1-фазный</th>
		<td>5А</td>
		<td>1,3кВт (1~230В)</td>
		<td>75х22,5х111</td>
		<td>0,2</td>
		<td><a href='/products/642'  title='' style=''>TSG 2,2 230VAC</a></td>
		<td>490251</td>
	</tr>
	<tr>
		<td>5А</td>
		<td>2,2кВт (3~400В)</td>
		<td>75х22,5х111</td>
		<td>0,2</td>
		<td><a href='/products/643'  title='' style=''>TSG 2,2 400VAC</a></td>
		<td>490250</td>
	</tr>
	</tbody>
	</table>
