<table class="table table-striped tele-zebra">
	<caption>Таблица характеристик УПП производства TELE (Австрия)</caption>
	<tbody>
	<tr><th colspan="7">Устройства плавного пуска серии ESG</th></tr>
	<tr>
		<th>Контроль двигателя</th>
		<th>Ном. ток</th>
		<th>Ном. мощность двигателя</th>
		<th>Размеры ШxВxГ(мм)</th>
		<th>Вес(кг)</th>
		<th>Тип</th>
		<th>Артикул</th>
	</tr>

	<tr>
		<th rowspan="14">3-фазный;<br/> без ограничения тока</th>
		<td>5А</td>
		<td>2,2кВт</td>
		<td>200х140х115</td>
		<td>1,3</td>
		<td>ESG 2,2-400</td>
		<td></td>
	</tr>
	<tr>
		<td>6А</td>
		<td>3кВт</td>
		<td>200х140х115</td>
		<td>1,4</td>
		<td>ESG 3-400</td>
		<td></td>
	</tr>
	<tr>
		<td>8,5А</td>
		<td>4кВт</td>
		<td>200х140х115</td>
		<td>1,5</td>
		<td>ESG 4-400</td>
		<td></td>
	</tr>
	<tr>
		<td>12А</td>
		<td>5,5кВт</td>
		<td>160х260х170</td>
		<td>2,8</td>
		<td>ESG 5,5-400</td>
		<td></td>
	</tr>
	<tr>
		<td>15А</td>
		<td>7,5кВт</td>
		<td>160х260х170</td>
		<td>2,8</td>
		<td>ESG 7,5-400</td>
		<td></td>
	</tr>
	<tr>
		<td>22А</td>
		<td>11кВт</td>
		<td>160х260х170</td>
		<td>3</td>
		<td><a href='/products/654'  title='' style=''>ESG 11-400</a></td>
		<td>490035</td>
	</tr>
	<tr>
		<td>30А</td>
		<td>15кВт</td>
		<td>160х260х170</td>
		<td>3</td>
		<td><a href='/products/656'  title='' style=''>ESG 15-400</a></td>
		<td>490040</td>
	</tr>
	<tr>
		<td>40А</td>
		<td>18,5кВт</td>
		<td>160х260х170</td>
		<td>3</td>
		<td><a href='/products/658'  title='' style=''>ESG 18,5-400</a></td>
		<td>490045</td>
	</tr>
	<tr>
		<td>45А</td>
		<td>22кВт</td>
		<td>160х260х170</td>
		<td>3,5</td>
		<td><a href='/products/660'  title='' style=''>ESG 22-400</a></td>
		<td>490050</td>
	</tr>
	<tr>
		<td>60А</td>
		<td>30кВт</td>
		<td>200х360х200</td>
		<td>8</td>
		<td><a href='/products/662'  title='' style=''>ESG 30-400</a></td>
		<td>490055</td>
	</tr>
	<tr>
		<td>70А</td>
		<td>37кВт</td>
		<td>200х360х200</td>
		<td>8,5</td>
		<td><a href='/products/664'  title='' style=''>ESG 37-400</a></td>
		<td>490060</td>
	</tr>
	<tr>
		<td>90А</td>
		<td>45кВт</td>
		<td>200х360х200</td>
		<td>8,5</td>
		<td><a href='/products/666'  title='' style=''>ESG 45-400</a></td>
		<td>490065</td>
	</tr>
	<tr>
		<td>110А</td>
		<td>55кВт</td>
		<td>200х360х200</td>
		<td>9</td>
		<td><a href='/products/668'  title='' style=''>ESG 55-400</a></td>
		<td>490070</td>
	</tr>
	<tr>
		<td>150А</td>
		<td>75кВт</td>
		<td>200х360х200</td>
		<td>9,5</td>
		<td><a href='/products/670'  title='' style=''>ESG 75-400</a></td>
		<td>490075</td>
	</tr>


	<tr>
		<th rowspan="24">3-фазный;<br/> c ограничением тока</th>
		<td>5А</td>
		<td>2,2кВт</td>
		<td>200х140х115</td>
		<td>1,3</td>
		<td>ESG-I 2,2-400</td>
		<td></td>
	</tr>
	<tr>
		<td>6А</td>
		<td>3кВт</td>
		<td>200х140х115</td>
		<td>1,4</td>
		<td>ESG-I 3-400</td>
		<td></td>
	</tr>
	<tr>
		<td>8,5А</td>
		<td>4кВт</td>
		<td>200х140х115</td>
		<td>1,5</td>
		<td>ESG-I 4-400</td>
		<td></td>
	</tr>
	<tr>
		<td>12А</td>
		<td>5,5кВт</td>
		<td>160х260х170</td>
		<td>2,8</td>
		<td>ESG-I 5,5-400</td>
		<td></td>
	</tr>
	<tr>
		<td>15А</td>
		<td>7,5кВт</td>
		<td>160х260х170</td>
		<td>2,8</td>
		<td>ESG-I 7,5-400</td>
		<td></td>
	</tr>
	<tr>
		<td>22А</td>
		<td>11кВт</td>
		<td>160х260х170</td>
		<td>3</td>
		<td><a href='/products/655'  title='' style=''>ESG-I 11-400</a></td>
		<td>490036</td>
	</tr>
	<tr>
		<td>30А</td>
		<td>15кВт</td>
		<td>160х260х170</td>
		<td>3</td>
		<td><a href='/products/657'  title='' style=''>ESG-I 15-400</a></td>
		<td>490041</td>
	</tr>
	<tr>
		<td>40А</td>
		<td>18,5кВт</td>
		<td>160х260х170</td>
		<td>3</td>
		<td><a href='/products/659'  title='' style=''>ESG-I 18,5-400</a></td>
		<td>490046</td>
	</tr>
	<tr>
		<td>45А</td>
		<td>22кВт</td>
		<td>160х260х170</td>
		<td>3,5</td>
		<td><a href='/products/661'  title='' style=''>ESG-I 22-400</a></td>
		<td>490051</td>
	</tr>
	<tr>
		<td>60А</td>
		<td>30кВт</td>
		<td>200х360х200</td>
		<td>8</td>
		<td><a href='/products/663'  title='' style=''>ESG-I 30-400</a></td>
		<td>490056</td>
	</tr>
	<tr>
		<td>70А</td>
		<td>37кВт</td>
		<td>200х360х200</td>
		<td>8,5</td>
		<td><a href='/products/665'  title='' style=''>ESG-I 37-400</a></td>
		<td>490063</td>
	</tr>
	<tr>
		<td>90А</td>
		<td>45кВт</td>
		<td>200х360х200</td>
		<td>8,5</td>
		<td><a href='/products/667'  title='' style=''>ESG-I 45-400</a></td>
		<td>490067</td>
	</tr>
	<tr>
		<td>110А</td>
		<td>55кВт</td>
		<td>200х360х200</td>
		<td>9</td>
		<td><a href='/products/669'  title='' style=''>ESG-I 55-400</a></td>
		<td>490072</td>
	</tr>
	<tr>
		<td>150А</td>
		<td>75кВт</td>
		<td>200х360х200</td>
		<td>9,5</td>
		<td><a href='/products/671'  title='' style=''>ESG-I 75-400</a></td>
		<td>490076</td>
	</tr>


	<tr>
		<td>180А</td>
		<td>90кВт</td>
		<td>200х360х200</td>
		<td>10,5</td>
		<td><a href='/products/672'  title='' style=''>ESG-I 90-400</a></td>
		<td>490081</td>
	</tr>
	<tr>
		<td>200А</td>
		<td>110кВт</td>
		<td>400х360х240</td>
		<td>18</td>
		<td><a href='/products/673'  title='' style=''>ESG-I 110-400</a></td>
		<td>490085</td>
	</tr>
	<tr>
		<td>230А</td>
		<td>140кВт</td>
		<td>400х360х240</td>
		<td>18</td>
		<td>ESG-I 140-400</td>
		<td></td>
	</tr>
	<tr>
		<td>300А</td>
		<td>160кВт</td>
		<td>545х600х346</td>
		<td>41</td>
		<td>ESG-I 160-400</td>
		<td></td>
	</tr>
	<tr>
		<td>350А</td>
		<td>200кВт</td>
		<td>545х600х346</td>
		<td>41</td>
		<td>ESG-I 200-400</td>
		<td></td>
	</tr>
	<tr>
		<td>450А</td>
		<td>250кВт</td>
		<td>545х600х346</td>
		<td>42</td>
		<td>ESG-I 250-400</td>
		<td></td>
	</tr>
	<tr>
		<td>550А</td>
		<td>315кВт</td>
		<td>545х600х346</td>
		<td>42</td>
		<td>ESG-I 315-400</td>
		<td></td>
	</tr>
	<tr>
		<td>700А</td>
		<td>355кВт</td>
		<td>545х600х346</td>
		<td>44</td>
		<td>ESG-I 355-400</td>
		<td></td>
	</tr>
	<tr>
		<td>800А</td>
		<td>400кВт</td>
		<td>715х850х396</td>
		<td>51</td>
		<td>ESG-I 400-400</td>
		<td></td>
	</tr>
	<tr>
		<td>1100А</td>
		<td>560кВт</td>
		<td>715х850х396</td>
		<td>53</td>
		<td>ESG-I 560-400</td>
		<td></td>
	</tr>

	</tbody></table>
