<div class="container-error" >
  <div class="text-container">
    <span class="text-error-code">500</span>
    <br>
    <span class="text-error-description">Внутренняя ошибка сервера</span>
  </div>
</div>
