<div class="container-error" >
  <div class="text-container">
    <span class="text-error-code">422</span>
    <br>
    <span class="text-error-description">Запрос не может быть обработан</span>
  </div>
</div>
