<div class="container-error" >
  <div class="text-container">
    <span class="text-error-code">404</span>
    <br>
    <span class="text-error-description">Страница не найдена</span>
  </div>
</div>
