<h1 align="center">О компании "ПОЛИГОН"</h1>

<h2 align="center">Специализация компании</h2>

<p>Компания &quot;ПОЛИГОН&quot; специализируется в оптовой торговле <a href="/special/farnell.php">электронными компонентами</a> и <a href="/catalog/">электротехническими изделиями</a>. Мы сотрудничаем со следующими производителями:</p>

<p><strong>TELE </strong>— промышленная автоматизация — <a href="/catalog/index.php?SECTION_ID=157">реле контроля</a> (тока, напряжения и мощности в 1- и 3-фазных сетях, температуры, уровня жидкости, частоты), <a href="/catalog/index.php?SECTION_ID=159">реле времени</a> (многофункциональные и простые; задержка включения, задержка выключения, циклические реле), модульная система контроля WatchDog pro, устройства плавного пуска и торможения двигателей, цифровые таймеры, счетчики моточасов, системы управления, реле (промежуточные, безопасности), трансформаторы тока и проч. </p>

<p><strong>BENEDICT</strong> — контакторы, пускатели, мотор-автоматы, тепловые реле, кулачковые переключатели, кнопки, модульные контакторы и модульные устройства. </p>

<p><strong>CITEL</strong> — грозозащита (молниезащита) — устройства защиты от импульсного перенапряжения (УЗИП), молниезащита сетей энергоснабжения, защита сетей данных и телекоммуникаций, защита радиоприемных и антенно-фидерных устройств (коаксиальная защита), бесперебойное электроснабжение, газоразрядники. </p>

<p><strong>Graesslin</strong> — умный дом и <a href="/content/articles/control-lighting.php">управление освещением</a> — цифровые и механические таймеры, счётчики времени наработки, комнатные термостаты и хронотермостаты, лестничные таймеры, фотореле. </p>

<p><strong>SONDER</strong> —<strong> </strong>термостаты для контроля температуры на производстве и в быту. </p>

<p><strong>Relequick</strong> — промежуточные реле, интерфейсные реле, программируемые реле, полупроводниковые реле, колодки, аксессуары.</p>

<p><strong>RELECO</strong> —<strong> </strong>промежуточные реле — промышленные реле, интерфейсные реле, полупроводниковые реле, колодки, таймеры и аксессуары; </p>

<p><strong>EMKO</strong> —<strong> </strong> температурные и промышленные контроллеры и датчики. </p>

<p><strong>CBI</strong> —<strong> </strong>автоматические выключатели для профессионального использования, для любых температурных условий использования и токов. </p>

<p><strong>HUBER+SUHNER</strong> —<strong> </strong>высокочастотные коаксиальные разъемы.<strong> </strong>Оптические компоненты. Кабель и сборки. Антенны. </p>

<p><strong>Farnell</strong> — более 250000 наименований от 2000 производителей. Микросхемы. Электронные компоненты, комплектующие изделия. </p>

<p>Отечественные заводы-изготовители.</p>

<p>Сейчас <%= @time %></p>

<p><%= link_to "Контакты", company_contacts_path %> </p>
<p><%= link_to "Вакансии", company_vacancies_path %></p>

<% for file in @files %>
file name is: <%= file %> <br>
<% end %>