<div>
  <h2>Товары</h2>
  <% if @products.nil? %>
    Нет информации для отображения.
  <% else %>

    <%= will_paginate @products %>

    <table class="table table-striped">
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.title, edit_admin_product_path(product.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="flickr_pagination">
      <div class="page_info">
        <%= page_entries_info @products %>
      </div>
      <%= will_paginate @products %>
    </div>

  <% end %>
</div>


