<div class="apply">
  <div class="container">
    <div class="row breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Решения и примеры применения</a></li>
          <li class="breadcrumb-item">Защита насоса от сухого хода</li>
        </ol>
      </nav>
    </div>

    <div class="apply-item">
      <div class="apply-title">
        <h1>Защита насоса от сухого хода</h1>
      </div>
      <div class="apply-item-photos">
        <div class="row">
          <div class="col-sm-6 col-md-3 apply-item-photo"><a href="img/appl_1.png" data-rel="lightcase:app"><img src="img/appl_1.png" alt=""></a></div>
          <div class="col-sm-6 col-md-3 apply-item-photo"><a href="img/appl_2.png" data-rel="lightcase:app"><img src="img/appl_2.png" alt=""></a></div>
          <div class="col-sm-6 col-md-3 apply-item-photo"><a href="img/appl_3.png" data-rel="lightcase:app"><img src="img/appl_3.png" alt=""></a></div>
        </div>
      </div>
      <div class="apply-item-info">
        <div class="row">
          <div class="col-sm-4">
            <ul class="apply-item-list">
              <li><strong>Область применения:</strong> Насосы и двигатели</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="apply-item-list">
              <li><strong>Товарная группа:</strong> Реле контроля мощности</li>
              <li><strong>Изделие:</strong> (2390600) G2CU400V10AL10</li>
              <li><strong>Тех документация:</strong> <a href="#!">en_g2cu400v10al10.pdf</a></li>
              <li><strong>Теги: </strong> Насосы, Modbus</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="apply-item-description">
        <div class="row">
          <div class="col-sm-2"><strong>Задача:</strong></div>
          <div class="col-sm-10">Pumps that are used to move polluted liquids or water with lots of loose particles tend to loose efficiency after many hours of operation. That forces you to clean the impeller wheel. Cleaning the impeller is sometimes very quirky or nearly impossible as modern pumps are closed units. A cleaning procedure without external access would be very helpful.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"><strong>Решение:</strong></div>
          <div class="col-sm-10">Pumps that are used to move polluted liquids or water with lots of loose particles tend to loose efficiency after many hours of operation. That forces you to clean the impeller wheel. Cleaning the impeller is sometimes very quirky or nearly impossible as modern pumps are closed units. A cleaning procedure without external access would be very helpful.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"><strong>Преимущества:</strong></div>
          <div class="col-sm-10">
            <ul>
              <li>- используем двигатель как датчик!</li>
              <li>- не требуется дополнительных приспособлений, проводов </li>
              <li>- не требует регулярного обслуживания и чистки (в отличие от погружных датчиков)</li>
              <li>- надежно закрыто в щите и защищено от изменения параметров</li>
              <li>- не может быть незаметного обрыва провода, т.к. параметры измеряются в цепи питания насоса (надежно!)</li>
              <li>- простое решение, легко подстраивается под мощность насоса при помощи трансформатора тока (достаточно
                одного трансформатора тока на один насос)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
