/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fancybox

 */

 .empty {
   display: none;
 }

 #quick-cart .modal-content{
  padding-left: 0px !important;
 }

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
  

  }
}
    .ui-widget-content .ui-state-focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }

.portfolio {
    width: 24.5%;
    height: 115px;
    display: inline-block;
    padding: 3px;
}

.wrap-border {
    border: 1px solid #E5E5E5;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: 3px;

    img{
      max-width: 90%;
    }
}

.wrap-border img {
    margin: 1em auto;
}

.about-brand {
    display: none;
    background-color: white;
    width: 100%;
    font-size: 13px;
    border: 1px solid #3f6bd2;
    border-radius: 3px;
    -moz-border-radius: 13px;
    float: left;
    position: relative;
}

.blue-selection {
  border: 1px solid #3f6bd2;
}

@media screen and (min-width: 1268px){
  .about-brand {
    width: 98.5%;
    margin-left: 4px;
    margin-bottom: 15px;
  }
}
 .program-block{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid;
    height: 100px;
    margin-left: -9px;
    margin-right: -9px;
 }

 .request-booklets-modal{
  display: none;
  cursor: pointer;
 }

 .request-booklets-modal {
    position: fixed;
    right: 0px;
    height: 152px;
    width: 52px;
    top: 50%;
    z-index: 99999;
    padding: 5px;
    color: white;
    background: #3f6bd2;
    justify-content: center;
    align-items: center;


    &:hover{
      color: white;
    }

    span{
      font-weight: bold;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      display: block;
    }
 }

 .form-search{
   display: flex;
    flex-direction: row;
    justify-content: flex-end;
 }

 .stock-td{
     min-width: 140px;
    text-align: center;
    padding-top: 15px;
 }

 .product-incart-search {
  margin-top: 0px !important;
 }

 .address-input{
  height: 80px !important;
 }

 .price {
  font-size: 16px;
 }

 .line-through{
  text-decoration: line-through;
 }

 .bold{
  font-weight: bold;
 }

 .price-red{
  color: #e24343;
 }

 .in_stock{
  color: #3db24e;
 }

 .ordered_on_stock{
  color: #347cd1;
 }

.booklet-title b{
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #3f6bd2;
  box-sizing: border-box;
  font-weight: 600;
}

.download-btn{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  background: #3f6bd2;
  padding: 15px 10px;
  font-weight: 600;
  cursor: pointer;
  display: block;
}

.booklet-block {
  min-height: 310px;
}

.booklet-list{
  overflow: hidden;
}

.booklet-wrapper{
    display: block;
  float: left;
  margin-bottom: 11px;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightcase";
@import "owl.carousel.min";
@import "magnific-popup";
@import "orders";
@import "style";
@import "categories";
@import "products";
@import "will_paginate_infinite";
@import "modificators";

@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "chosen";

.row {
  //margin-right: 0;
  //margin-left: 0;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: darkblue;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(152, 81, 37, 0);
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid darkblue;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: transparent;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: darkblue;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: darkblue;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
  text-shadow: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ebf2ff;
}

.breadcrumb {
  //margin-top: 25px;
}

.main-content {
  //border: solid 1px;
}

.article-footer {
  margin-top: 40px;
  margin-bottom: 20px;
  p {
    float: right;
    color: #bcbcbc;
  }
}

mark,
.mark {
  background-color: #fff;
  padding: .2em;
}

table caption {
  color: orange;
  font-weight: bold;
  font-size: 20px;
}

.prices-table {
  font-family: sans-serif;
  font-size: 14px;
}

/* Begin of redefining Bootstrap classes */
.list-group {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  max-width: 200px;
  float: right;
}

.left-vendors-list {
  float: left;
}

.right-vendors-list {
  float: right;
}

.alert {
  background-color: #ffb2be;
  color: brown;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* End of redefining Bootstrap classes */


/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}
/*
#carousel-container {
  padding-top: 20pt;
  }

.panelShadow {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background-image: url("panel_shadow.png");
}

.upPanel {
  width: 100%;
  height: 50pt;
  //margin-bottom: 4px;
}
.logo {
  float: left;
  a:hover {
    //background-color: #000066;
  }
  img {
    padding-left: 10pt;
    padding-top: 12pt;
    border: 0px;
  }
}
*/
.phone {
  span {
    font: bold;
    font-size: 8pt;
    color: #ffffff;
  }
  p {
    font: bold;
    font-size: 17pt;
    color: #ffffff;
    margin-bottom: 0px;
  }
  float: right;
  padding-top: 0pt;
  padding-right: 5pt;
}
.upMenu {
  // padding-top: -2pt;
  margin-bottom: 5pt;
  text-align: center;
  input {
    // width: 340pt;
    margin-right: 7pt;
  }
  a:link {
    font: normal;
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    font: normal;
    text-decoration: none;
    color: #ffffff;
    //background-color: #000066;
  }
  a:visited {
    font: normal;
    text-decoration: none;
    color: #ffffff;
  }
  span {
    font: normal;
    //font-size: 16pt;
    color: #ffffff;
  }
  ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
  }
  ul li {
    color: fff;
    font-size: 14pt;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 10px; /* Отступ слева */
    //border: 1px solid #fff; /* Рамка вокруг текста */
    //padding: 3px; /* Поля вокруг текста */
  }
}
.panelPad {
  padding-bottom: 90px;
}
.leftPanel {
  // background-color: lightyellow;
  padding: 15pt;
}
.low_panel {
  // margin-top: 50pt;
  height: 50pt;
  font: normal;
  text-decoration: none;
  color: #ffffff;
  // background-color: #000066;
  background-image: url(footer_bg.gif);
  background-repeat: repeat-x;
  padding-top: -2pt;
  text-align: center;
  a:link {
    font: normal;
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    font: normal;
    text-decoration: none;
    color: #ffffff;
    // background-color: #006666;
  }
  a:visited {
    font: normal;
    text-decoration: none;
    color: #ffffff;
  }
  span {
    font: normal;
    //font-size: 16pt;
    color: #ffffff;
  }
  ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
  }
  ul li {
    color: fff;
    font-size: 10pt;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 10px; /* Отступ слева */
    //border: 1px solid #fff; /* Рамка вокруг текста */
    //padding: 3px; /* Поля вокруг текста */
  }
}

.sidebar-offcanvas {
  background-color: #fff;
}

.news-image {
  img {
    width: 200px;
    border:1px dotted grey;
  }
  text-align: left;
  float: left;
}

.load-monitor th {font-size: 12px;}
.load-monitor th, .load-monitor td {border-bottom: 1px solid #ABE391; border-collapse: separate; border-spacing: 0px 0px; padding: 0px;}
.load-monitor tr {border-collapse: collapse; border: none; padding: 0px;}
.load-monitor thead tr th {border-collapse: separate;}
.load-monitor {text-align: center;}
.load-monitor tbody td{font-size: 13px; width: 25px;}
.load-monitor tr td:nth-child(odd){background: #ABE391;}
.load-monitor tr td:first-child, .load-monitor tbody tr th{background: white; text-align: right;}
.table > tbody > tr > th,
.table > tbody > tr > td {
  //vertical-align: bottom;
}

table.tele-zebra {
  border-collapse: collapse;
}
table.tele-zebra  caption{
  text-align: left;
  background-color: #79B542;
  color: white;
  padding-left: 1em;
}
table.tele-zebra tr:nth-child(even){
  background-color: #ABE391;
}

table.tele-zebra tr:nth-child(odd){
  background-color: #DDDDDD;
}
table.tele-zebra th{
  background-color: white;
}
table.tele-zebra td,table.tele-zebra th{
  border: ridge 3px #999999;
}

.w100px{width: 100px;}
.w200px{width: 200px;}
.w300px{width: 300px;}

.w100p{width: 100%;}
.p4px{padding: 4px;}


.h50px{height: 50px;}

.search_form {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.iso9001 {
  position: absolute;
  right: 100px;
  bottom: 50px;
  img {
    width: 160px;
  }

}
.left_news {
  padding-left: 24pt;
}
.hide_banners_link {
  p {
    text-align: right;
    padding-right: 11pt;
    font-size: 8pt;
  }
}

.first-pdf {
  font-weight: bold;
  font-stretch: expanded;
}

.first-pdf .cover {
  width: 180px;
  border: 2px solid black;
}

.cover {
  width: 60px;
  border: 1px solid black;
}

.show {
  cursor: pointer;
  display: inline !important;
}

div.lics img {
  width: 100px;
  height: 140px;
  padding: 4px;
}

.bgcolor {
  background-color: #fff;
}

.special-offers {
  color: orange;
  font-weight: bold;
}


//Hovers in menu "Информация"
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #24468a 0%, #27498d 100%);
  background-image: linear-gradient(to bottom, #24468a 0%, #27498d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24468A', endColorstr='#27498d', GradientType=0);
  background-color: #27498d;
}

//.modal-input {
//  position: absolute;
//  background: rgba(0, 0, 0, 0.6);
//  padding: 3px 5px;
//  display: block;
//  white-space: nowrap;
//  color: #fff;
//  font: 12px/16px museo_sans_cyrl500, sans-serif;
//  /* right: 100%; */
//  bottom: 100%;
//  opacity: 0;
//  visibility: hidden;
//}

.captcha {
  display: flex;
  justify-content: center;
}

.captcha-left {
  justify-content: flex-start;
}

.product-comment {
  padding: 0px 15px;
  color: #d83e39;
  font-weight: bold;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.4em 0.8em;
    border-radius: 3px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(87, 87, 87, 0.08);
    background: #3f6bd2;
    }
  .flickr_pagination a {

    border: 1px solid #dedede;
    color: #737373;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(87,87,87,0.08);
-moz-box-shadow: 0px 1px 1px 0px rgba(87,87,87,0.08);
box-shadow: 0px 1px 1px 0px rgba(87,87,87,0.08);

    }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
    margin-bottom: 14px;
    }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    }
  .flickr_pagination .previous_page {
    border: 1px solid #dedede;
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
