/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fancybox
 *= require feedback
 *= require search
 *= require categories
 *= require products
 *= require reviews
 *= require additions
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "antibootstrap/navbar";
@import "antibootstrap/dropdowns";

html, body {
  height: 100%;
  //font-family: 'Ubuntu Mono';
}

h2 {
  //font-family: 'Marck Script', cursive;
  font-size: 30px;
  font-weight: bold;
  color: red;
}

h3 {
  //font-family: 'Marck Script', cursive;
  font-size: 24px;
  color: blue;
}

footer  {
    p {
    text-align: center;
  }
  margin-top: 40px;
  margin-bottom: 20px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ebf2ff;
}

.breadcrumb {
  margin-top: 25px;
  background-color: #d6e4ff;
}

.main-content {
  //border: solid 1px;
}

mark,
.mark {
  background-color: #fff;
  padding: .2em;
}

table caption {
  color: orange;
  font-weight: bold;
  font-size: 22px;
}

.prices-table {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 13px;
}

/* Begin of redefining Bootstrap classes */
.list-group {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  max-width: 200px;
  float: right;
}

.left-vendors-list {
  float: left;
}

.right-vendors-list {
  float: right;
}

.alert {
  background-color: yellow;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* End of redefining Bootstrap classes */


/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

#carousel-container {
  padding-top: 20pt;
  }

.panelShadow {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background-image: url("panel_shadow.png");
}

.upPanel {
  width: 100%;
  height: 50pt;
  //margin-bottom: 4px;
}
.logo {
  float: left;
  a:hover {
    background-color: #000066;
  }
  img {
    padding-left: 10pt;
    padding-top: 12pt;
    border: 0px;
  }
}
.phone {
  span {
    font: bold;
    font-size: 8pt;
    color: #ffffff;
  }
  p {
    font: bold;
    font-size: 17pt;
    color: #ffffff;
    margin-bottom: 0px;
  }
  float: right;
  padding-top: 0pt;
  padding-right: 5pt;
}
.upMenu {
  // padding-top: -2pt;
  margin-bottom: 5pt;
  text-align: center;
  input {
    // width: 340pt;
    margin-right: 7pt;
  }
  a:link {
    font: normal;
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    font: normal;
    text-decoration: none;
    color: #ffffff;
    background-color: #000066;
  }
  a:visited {
    font: normal;
    text-decoration: none;
    color: #ffffff;
  }
  span {
    font: normal;
    //font-size: 16pt;
    color: #ffffff;
  }
  ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
  }
  ul li {
    color: fff;
    font-size: 14pt;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 10px; /* Отступ слева */
    //border: 1px solid #fff; /* Рамка вокруг текста */
    //padding: 3px; /* Поля вокруг текста */
  }
}
.panelPad {
  padding-bottom: 90px;
}
.leftPanel {
  // background-color: lightyellow;
  padding: 15pt;
}
.low_panel {
  // margin-top: 50pt;
  height: 50pt;
  font: normal;
  text-decoration: none;
  color: #ffffff;
  // background-color: #000066;
  background-image: url(footer_bg.gif);
  background-repeat: repeat-x;
  padding-top: -2pt;
  text-align: center;
  a:link {
    font: normal;
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    font: normal;
    text-decoration: none;
    color: #ffffff;
    // background-color: #006666;
  }
  a:visited {
    font: normal;
    text-decoration: none;
    color: #ffffff;
  }
  span {
    font: normal;
    //font-size: 16pt;
    color: #ffffff;
  }
  ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
  }
  ul li {
    color: fff;
    font-size: 10pt;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 10px; /* Отступ слева */
    //border: 1px solid #fff; /* Рамка вокруг текста */
    //padding: 3px; /* Поля вокруг текста */
  }
}

.sidebar-offcanvas {
  background-color: #fff;
}

.partners {
  width: 200px;
  //height: 47px;
  padding-left:  10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 7px;
}

.vendors-logos {
  width: 250px;
  //padding-left: 50%;
  //padding-right: 50%;
  margin-bottom: 5px;
  padding-bottom: 0px;
  position: relative;
  display: block;
  background-color: #fff;
}

.vendors-catalog-link {
  //font-family: 'Marck Script', cursive;
  font-size: 16px;
  text-align: center;
  padding-bottom: 20px;
  a {
    color: brown;
  }
}

.vendor-location-picture {
  //margin-bottom: 20px;
}

.category-header {
  position: relative;
}

.category-image {
  img {width: 200px;}
  text-align: right;
  float: right;
}

.load-monitor th {font-size: 12px;}
.load-monitor th, .load-monitor td {border-bottom: 1px solid #ABE391; border-collapse: separate; border-spacing: 0px 0px; padding: 0px;}
.load-monitor tr {border-collapse: collapse; border: none; padding: 0px;}
.load-monitor thead tr th {border-collapse: separate;}
.load-monitor {text-align: center;}
.load-monitor tbody td{font-size: 13px; width: 25px;}
.load-monitor tr td:nth-child(odd){background: #ABE391;}
.load-monitor tr td:first-child, .load-monitor tbody tr th{background: white; text-align: right;}
.table > tbody > tr > th,
.table > tbody > tr > td {
  //vertical-align: bottom;
}

table.tele-zebra {
	border-collapse: collapse;
}
table.tele-zebra  caption{
	text-align: left;
	background-color: #79B542;
	color: white;
	padding-left: 1em;
}
table.tele-zebra tr:nth-child(even){
	background-color: #ABE391;
}

table.tele-zebra tr:nth-child(odd){
	background-color: #DDDDDD;
}
table.tele-zebra th{
	background-color: white;
}
table.tele-zebra td,table.tele-zebra th{
	border: ridge 3px #999999;
}

.w100px{width: 100px;}
.w200px{width: 200px;}
.w300px{width: 300px;}

.w100p{width: 100%;}
.p4px{padding: 4px;}


.h50px{height: 50px;}

.phone {
  font-weight: bold;
  font-size: 20px;
}

.search_form {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.iso9001 {
  padding: 20pt;
  padding-top: 60pt;
  img {
    width: 160px;
  }

}
.left_news {
  padding-left: 24pt;
}
.hide_banners_link {
 p {
   text-align: right;
   padding-right: 11pt;
   font-size: 8pt;
 }
}

.first-pdf {
  font-weight: bold;
  font-stretch: expanded;
}

.first-pdf .cover {
  width: 180px;
  border: 2px solid black;
}

.cover {
  width: 60px;
  border: 1px solid black;
}

.show {
  cursor: pointer;
  display: inline !important;
}

div.lics img {
  width: 100px;
  height: 140px;
  padding: 4px;
}

/* Transitions */
.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}

.opacity85 {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.module {
  margin: auto;
  align-content: center;
}

.module h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  //font-family: 'Marck Script', cursive;
  font-size: 60px;
}

.module figure {
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.module {
  text-align: center;
}

.module .big {
  float: left;
  width: 100%;
}

.module .small {
  float: left;
  width: 50%;
}

.module .small1 {
  float: left;
  width: 33.3%;
}

.module .small2 {
  float: left;
  width: 24.8%;
}

.module .small3 {
  float: left;
  width: 16.5%;
}

.module figure img {
  display: block;
  max-width: 100%;
}

.module figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 27px;
}

.module .text {
  color: #7A8B8B;
  background-color: #fff;
  font-size: 0.90em;
}

.module figure:hover figcaption {
  max-height: 100%;
}

.module figure:hover figcaption .text {
  background-color: #7A8B8B;
  color: #fff;
}

.module figcaption a {
  display: block;
  text-decoration: none;
}

.module .title {
  display: inline-block;
  padding: -10px;
  text-transform: uppercase;
  font-size: 20px;
  color: #105cb6;
}

.module .desc {
  display: block;
  padding: 15px;
}

.bgcolor {
  background-color: #fff;
}
