// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.load-monitor th {
  font-size: 12px;
}

.load-monitor th, .load-monitor td {
  border-bottom: 1px solid #ABE391;
  border-collapse: separate;
  border-spacing: 0px 0px;
  padding: 0px;
}

.load-monitor tr {
  border-collapse: collapse;
  border: none;
  padding: 0px;
}

.load-monitor thead tr th {
  border-collapse: separate;
}

.load-monitor {
  text-align: center;
}

.load-monitor tbody td {
  font-size: 13px;
  width: 25px;
}

.load-monitor tr td:nth-child(odd) {
  background: #ABE391;
}

.load-monitor tr td:first-child, .load-monitor tbody tr th {
  background: white;
  text-align: right;
  width: 240px;
}

tr.with-img td {
  vertical-align: bottom;
}

tr.with-img th {
  vertical-align: top;
}

.product-image-container {
  max-height: 50px;
}

.product-title {
  font-weight: bold;
  font-size: 14px;
}

/* для релеко, обновлённых страниц */
.relecoLogos{float: right;}
.relecoLogos img{
  height: 48px;
  width: auto;
}
.benefitLogos img{
  height: 55px;
  width: 55px;
}

table.releco{ #width: 700px;}
table.releco caption{
  text-align: left;
  font-size: 18px;
}

table.releco thead{ border-bottom: 1px blue solid}
table.releco th{
  text-align: left;
  border-top: 1px blue solid
}

table.releco img{height: 28px; width: auto;}

table.releco td:nth-child(1) img{
  width: 75px;
  height: auto;
}
table.releco th:nth-child(1){width: 75px;}
table.releco th:nth-child(2){width: 255px;}
table.releco th:nth-child(3){width: 75px;}
table.releco th:nth-child(4){width: 30px;}
table.releco th:nth-child(5){width: 150px;}
table.releco th:nth-child(6){width: 150px;}
table.releco th:nth-child(7){width: 150px;}
table.releco th:nth-child(8){
  width: 40px;
  text-align: center;
}
