// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Transitions */
.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}

.opacity85 {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.module {
  margin: auto;
  align-content: center;
}

.module h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  //font-family: 'Marck Script', cursive;
  //font-size: 60px;
}

.module figure {
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px
}

.module {
  text-align: center;
}

.module .big {
  float: left;
  width: 100%;
}

.module .small {
  float: left;
  width: 50%;
}

.module .small1 {
  float: left;
  width: 33.3%;
}

.module .small2 {
  float: left;
  width: 24.8%;
}

.module .small3 {
  float: left;
  width: 16.5%;
}

.module figure img {
  display: block;
  max-width: 100%;
}

.module figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 27px;
}

.module .text {
  color: #7A8B8B;
  background-color: #fff;
  font-size: 0.90em;
}

.module figure:hover figcaption {
  max-height: 100%;
}

.module figure:hover figcaption .text {
  background-color: #7A8B8B;
  color: #fff;
}

.module figcaption a {
  display: block;
  text-decoration: none;
}

.module .title {
  display: inline-block;
  padding: -10px;
  text-transform: uppercase;
  //font-size: 20px;
  color: #105cb6;
}

.module .desc {
  display: block;
  padding: 15px;
}

.categories-navigation {
  background-color: #d6e4ff;
  //margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.categories-left {
  float: left;
}

.categories-right {
  float: right;
}

.load-monitor th {
  font-size: 12px;
}

.load-monitor th, .load-monitor td {
  border-bottom: 1px solid #ABE391;
  border-collapse: separate;
  border-spacing: 0px 0px;
  padding: 0px;
}

.load-monitor tr {
  border-collapse: collapse;
  border: none;
  padding: 0px;
}

.load-monitor thead tr th {
  border-collapse: separate;
}

.load-monitor {
  text-align: center;
}

.load-monitor tbody td {
  font-size: 13px;
  width: 25px;
}

.load-monitor tr td:nth-child(odd) {
  background: #ABE391;
}

.load-monitor tr td:first-child, .load-monitor tbody tr th {
  background: white;
  text-align: right;
  width: 240px;
}

tr.with-img td {
  vertical-align: bottom;
}

tr.with-img th {
  vertical-align: top;
}

.product-image-container {
  max-width:  120px;
  max-height: 120px;
}

.product-title {
  font-weight: bold;
  font-size: 14px;
}

/* для релеко, обновлённых страниц */
.relecoLogos{float: right;}
.relecoLogos img{
  height: 48px;
  width: auto;
}
.benefitLogos img{
  height: 55px;
  width: 55px;
}

table.releco{ #width: 700px;}
table.releco caption{
  text-align: left;
  font-size: 18px;
}

table.releco thead{ border-bottom: 1px blue solid}
table.releco th{
  text-align: left;
  border-top: 1px blue solid
}

table.releco img{height: 28px; width: auto;}

table.releco td:nth-child(1) img{
  width: 75px;
  height: auto;
}

table.releco th:nth-child(1){width: 75px;}
table.releco th:nth-child(2){width: 255px;}
table.releco th:nth-child(3){width: 75px;}
table.releco th:nth-child(4){width: 30px;}
table.releco th:nth-child(5){width: 150px;}
table.releco th:nth-child(6){width: 150px;}
table.releco th:nth-child(7){width: 150px;}
table.releco th:nth-child(8){
  width: 40px;
  text-align: center;
}

table.tele-zanaveska td+td,
table.tele-zanaveska td+td+td+td,
table.tele-zanaveska td+td+td+td+td+td,
table.tele-zanaveska td+td+td+td+td+td+td+td,
table.tele-zanaveska td+td+td+td+td+td+td+td+td+td,
table.tele-zanaveska td+td+td+td+td+td+td+td+td+td+td+td{background-color: #ABE391; width: 24px; text-align: center;}


table.tele-zanaveska td+td+td,
table.tele-zanaveska td+td+td+td+td,
table.tele-zanaveska td+td+td+td+td+td+td,
table.tele-zanaveska td+td+td+td+td+td+td+td+td,
table.tele-zanaveska td+td+td+td+td+td+td+td+td+td+td{background-color: white;; width: 24px; text-align: center;}

table.cols-5-align-center td+td{
	text-align: center;
}

.h200px {height: 200px;}
.add-images img{/*width: 100%;*/ height: 200px;}

.new-citel td img {
    height: 100px;
    width: auto;
}

/*  газовые разрядники */
//table.gdt {width: 940px;}
table.gdt td {border: 1px white solid;}
table.gdt td img{max-width: 190px;}
table.gdt th{font-size: 70%;}
.gdt-icon img{width: 40px;}
table.gdt tr:nth-child(odd){background: #dccde4;}
table.gdt tr:nth-child(even){background: #c39fcb;}

@media (max-width: 1280px) {
  .category-picture-container {
    img {
      //max-width: 60px;
      //min-width: 60px;
      max-height: 70px;
      //min-height: 60px;
    }
    display: table;
    border: 1px solid #d6d6d6;
    width: 70px;
    height: 70px;
    background: #fff;
    padding: 5x;
    text-align: center;
    line-height: 100px;
    margin: 0 auto 5px;
    //margin-top: 10px;
  }
}

@media (min-width: 1281px) {
  .category-picture-container {
    img {
      max-height: 80px;
    }
    display: table;
    border: 1px solid #d6d6d6;
    width: 100px;
    height: 100px;
    background: #fff;
    padding: 10px;
    text-align: center;
    line-height: 110px;
    margin: 0 auto 5px;
    //margin-top: 10px;
  }
}

#vendors-logo-div {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.vendors-logos {
  width: 250px;
  //padding-left: 50%;
  //padding-right: 50%;
  margin-bottom: 5px;
  padding-bottom: 0px;
  position: relative;
  display: block;
  background-color: #fff;
}

.vendors-catalog-link {
  //font-family: 'Marck Script', cursive;
  //font-size: 16px;
  text-align: left;
  margin: 0 0 5px;
  //padding-bottom: 20px;
  a {
    color: green;
  }
}

#category-catalogs-div {
  background-color: #d6e4ff;
  padding: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.vendor-location-picture {
  //margin-bottom: 20px;
}

.category-header {
  position: relative;
}

.category-image {
  img {
    width: 200px;
  }
  text-align: right;
  float: right;
}

