// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-error {
  background: image-url("scheme-bg.png");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: top;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  margin: -20% 0 0 -25%;
}

.text-error-code {
  font-family: 'Anonymous Pro', sans-serif;
  font-size: 200px;
  font-size: 20vw;
  font-weight: bold;
  color: #5a8aea;
  opacity: 0.8;
  padding-left: 15px;
}

.text-error-description {
  font-family: 'Anonymous Pro', sans-serif;
  font-size: 30px;
  font-size: 3vw;
  letter-spacing: 0px;
  color: #5a8aea;
}
