// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-img {
  height: 170px;
}

.contents-img img{
	max-width: 160px;
	max-height: 160px;
}
