<h1>Панель администратора</h1>
<h2>Управление контентом</h2>
<ul>
  <li>
    <%= link_to 'Свойства товаров', admin_products_path %>
  </li>
  <li>
    <%= link_to 'Примеры применения', admin_examples_path %>
  </li>
</ul>