<p id="notice"><%= notice %></p>
<br>
<% title = @addition.title %>
<% generate_meta_from title %>
<h1><%= title %></h1>

<p>
  <%= @addition.content.html_safe
      .gsub('href="/PDF', 'href="http://www.poligon.info/PDF')
      .gsub('src="/js', 'src="http://www.poligon.info/js')
      .gsub('src="/images', 'src="http://www.poligon.info/images')
      .gsub('<img', '<img class="img-responsive" ')
      .html_safe %>
</p>

<%= render 'shared/article_footer', locals: { item: @addition } %>
