<% title = "Оперативная поставка изделий по каталогу FARNELL" %>
<% generate_meta_from title %>
<h2><strong><%= title %></strong></h2>
<p>(услуга предоставляется только юридическим лицам)</p>
<div id="farnell">
<h3>Моментальный заказ Farnell</h3>
<form method="post" action="farnell_order">
<div style="float: left; margin: 0px 8px; width: 274px;">
<label for="order">хочу заказать: </label><br/>
<textarea rows="10" cols="30" name="order" id="order"></textarea>
</div>
<div style="width: 210px; float: left;">
<br>
<p>связаться со мной: </p>
<input type="text" name="company" id="company" placeholder="Компания"/><br/>
<input type="text" name="name" id="name" placeholder="Имя"/><br/>
<input type="email" name="email" id="email" placeholder="email*" required="true"/><br/>
<input type="text" name="phone" id="phone" placeholder="телефон"/><br/>
<input type="submit" name="submit" value="Заказать" />
</div>
</form>
</div>
<br>
<p><strong>При оформлении заявки просим указывать:</strong></p>
<ul>
  <li> <strong>Наименование изделия</strong>, ордер-код Farnell (если известен), <strong>требуемое количество</strong>;</li>
  <li> <strong>Способ доставки</strong> (самовывоз, Автотрейдинг, экспресс-почта);</li>
  <li> <strong>Реквизиты для выставления счета</strong>;</li>
  <li> <strong>Адрес доставки и контактные данные</strong>. </li>
</ul>

<p>Способы доставки: "Автотрейдинг", "ПОНИ-Экспресс".</p>
<table width="100%" border="0" cellpadding="0" cellspacing="3">
<tr>
<td background="/images/bg_circuit_fw.gif" bgcolor="#000000">
  <div align="center"><span class="style12">Поставка электронных компонентов и электротехники по каталогу Farnell</span>
  </div>
</td>
</tr>
</table>
<br/>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td>
    <p>Компания Farnell, основанная в 1939 году, является мировым лидером в области поставок
    электронных компонентов, электротехнического, промышленного оборудования, продукции для технического обслуживания и ремонта.
    Farnell является ведущим <strong>мировым дистрибьютором электронных компонентов</strong> с собственным складом.</p>
    <p>Более <b>510 000</b> изделий от <b>800 поставщиков</b>постоянно поддерживаются на складах Farnell.
    Номенклатура постоянно расширяется (более 50 000 наименований в год).
    В состав Farnell так же входят компании Newark и CPC, обладающие собственными складами.
    <br /><img src="/images/content/special/cpc_logo.gif" alt="CPC logo" width="80" height="49"><img src="/images/content/special/newark_logo.gif" alt="Newark logo" width="101" height="37"></p>
  </td>
</tr>
</table>
<br/>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="38" align="center" background="/images/bg_circuit_fw.gif" bgcolor="#000000" class="style12"><strong>Компания ПОЛИГОН более 14 лет поставляет продукцию со складов Farnell</strong></td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>срок поставки - 3-4 недели</li>
        <li>работа отлажена, поставки производятся регулярно</li>
        <li>контроль целостности упаковки и количества изделий </li>
        <li>оперативная доставка по России(Автотрейдинг, экспресс-почта)</li>
      </ul>
    </td>
</tr>
</table>
<br/>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#000000" background="/images/bg_circuit_fw.gif">
    <td height="38" colspan="2" align="center"><span class="style12"><strong>Список электронных компонентов и изделий, поставляемых по каталогу Farnell: </strong></span></td>
  </tr>
  <tr>
  <td>
    <ul class="mark px400">
      <li>Микросхемы импортные</li>
      <li>Диоды, транзисторы, тиристоры, силовые модули</li>
      <li>Преобразователи сигналов</li>
      <li>Резисторы, конденсаторы, индуктивности</li>
      <li>Кварцы, генераторы, резонаторы</li>
      <li>Соединители, разъемы, ВЧ-разъемы</li>
      <li>Кабель, провод, кабельные сборки</li>
      <li>Оптоэлектронные устройства</li>
      <li>Источники питания, трансформаторы </li>
      <li>Светотехника, светодиоды, оптика</li>
      <li>Дисплеи, индикаторы, средства отображения</li>
      <li>Датчики, средства измерения</li>
      <li>Реле, контакторы, коммутационные устройства </li>
      <li>Контроллеры, средства автоматизации </li>
      <li>Выключатели, переключатели, кнопки</li>
      <li>Корпуса, кожухи</li>
      <li>Электродвигатели, насосы </li>
      <li>Лабораторное и тестовое оборудование </li>
      <li>Инструмент</li>
      <li>Маркировка</li>
      <li>Расходные материалы </li>
      <li>прочее</li>
    </ul>
  </td>
  <td valign="top"><img src="/images/content/special/farnell_elcomp.jpg" alt="Электронные компоненты по каталогу Farnell" width="200" height="229">
  <img src="/images/content/special/farnell-2.gif" width="60" height="68"> <img src="/images/content/special/farnell-3.gif" width="60" height="68"><img src="/images/content/special/farnell-4.gif" width="60" height="68"><img src="/images/content/special/farnell-5.gif" width="60" height="68"><img src="/images/content/special/farnell-6.gif" width="60" height="68">
  <img src="/images/content/special/farnell-7.gif" width="60" height="68"><img src="/images/content/special/farnell-8.gif" width="60" height="68"><img src="/images/content/special/farnell-9.gif" width="60" height="68"><img src="/images/content/special/farnell-10.gif" width="60" height="68">
  <img src="/images/content/special/farnell-11.gif" width="60" height="68"><img src="/images/content/special/farnell-12.gif" width="60" height="68"><img src="/images/content/special/farnell-13.gif" width="60" height="68"></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="38" align="center" background="/images/content/special/bg_circuit_fw.gif" bgcolor="#000000"><span class="style12"><strong>Чтобы заказать изделия по каталогу Farnell или узнать о возможности поставки изделия:</strong></span></td>
  </tr>
  <tr>
  <td>
    <ol>
      <li>Позвоните по многоканальному телефону/факсу (812) 3254220, 3256420 (Елена Михайловна) </li>
      <li>Заполните <a href="#">форму заявки</a> на сайте (сообщение мгновенно поступит в ящик эл. почты ответственного менеджера)</li>
    </ol>

    <p>Мы оперативно обработаем на Вашу заявку, выставим счет,осуществим поставку.</p>
  </td>
</tr>
</table>
