<br>

<h1>
  Управление рассылкой новостей.
</h1>
<br>
<p>
  Здесь Вы можете оформить подписку на рассылку новостей и обновлений нашего сайта.
  Для этого введите Ваш e-mail в текстовое поле и нажмите кнопку "Подписаться".
  На указанный адрес Вам придёт уведомление о подписке. Для того, чтобы подтвердить
  Ваше намерение получать новостную рассылку с нашего сайта, перейдите по ссылке,
  указанной в письме для завершения регистрации.
<p>
<br>
<form>
  <p>
    <input type="text" size="60" method="POST" name="subscriber_mail">
    <input type="submit" value="Подписаться" method="POST" name="submit_mailing">
  </p>
</form>
<br>
<hr>
<br>
  <p>
  Если Вы уже подписаны на рассылку и желаете отказаться от неё, введите Ваш e-mail
  в текстовое поле и нажмите на кнопку "Отказаться". Для того, чтобы подтвердить
  Ваше намерение отказаться от новостной рассылки с нашего сайта, перейдите по ссылке,
  указанной в письме для завершения отмены подписки.
  </p>
  <br>
<form>
  <p>
    <input type="text" size="60" method="POST" name="unsubscriber_mail">
    <input type="submit" value="Отказаться" method="POST" name="discard_mailing">
  </p>
</form>


