<br>
<h3>
  Благодарим Вас за интерес, проявленный к нашей компании!
</h3>
<p>
  На указанный Вами адрес в ближайшее время будет отправлено письмо с предложением подтвердить Вашу подписку на новостную рассылку нашего сайта.
</p>
<p>Спасибо!</p>
