<nav class="cd-side-nav">
  <ul>
    <li class="cd-label">Панель администратора</li>
    <li class="bookmarks">
      <a href="/admin/booklets">Каталоги</a>
      <a href="/admin/news_items">Новости</a>
      <a href="/admin/slider_items">Слайдер</a>
      <a href="/admin/static_contents">Статический контент</a>
      <a href="/admin/settings">Настройки</a>
    </li>
  </ul>

  <ul>
    <li class="cd-label">Управление контентом</li>
    <li class="bookmarks">
      <a href="/admin/products">Свойства товаров</a>
      <a href="/admin/examples">Примеры применения</a>
      <%= link_to 'Области применения', admin_scopes_path %>
    </li>
  </ul>
</nav>