<!DOCTYPE html>
<html lang="ru">
<head>
  <%= meta_tags %>
  <title>Полигон - дистрибуция электротехники</title>
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<%= render "shared/yandex_metrika" %>
<header>
  <div class="container">
    <div class="row top-header">
      <div class="col-sm-4 col-md-3 logo">
        <a href="#"><img src="img/logo.png" alt=""></a>
        <div class="slogan">дистрибуция электротехники</div>
      </div>
      <div class="hidden-sm col-lg-2 top-info">
        <p class="info-title">Интернет-каталог «ПОЛИГОН»</p>
        <p>электротехника и автоматика <br>европейской надежности</p>
      </div>
      <div class="col-sm-4 col-md-5 col-lg-3 top-contacts">
        <p class="top-phone"><a href="tel:+78123254220">+7 812 325 42 20</a> <span>- Санкт-Петербург</span></p>
        <p class="top-phone"><a href="tel:+78001234578">+7 800 123 45 78</a> <span>- бесплатно по России</span></p>
        <p class="top-time">с 9:30 до 18:00 <span>по рабочим дням</span></p>
      </div>
      <div class="col-sm-4 col-md-4 top-right">
        <p class="top-enter"><a href="#!">Вход для партнеров</a></p>
        <div class="row">
          <div class="col-sm-3 col-md-5 top-cart"><a href="#"><span></span> 0 <i>товаров</i></a></div>
          <div class="col-sm-9 col-md-7 top-search">
            <input type="text" placeholder="Поиск по сайту">
            <button type="submit">Поиск</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row bot-header">
      <div class="col-sm-4 col-md-3 top-menu">
        <div class="col-sm-6 production">Продукция<span></span>
          <div class="top-menu-air"></div>
          <div class="production-widget widget">
            <div class="container">
              <div class="row">
                <div class="production-block"><div class="x"></div>
                  <div class="col-xs-6 col-sm-4 col-md-3">
                    <ul class="production-item">
                      <li class="production-title">
                        <a href="#" class="production-logo"><img src="img/brandlogo_1.png" alt=""></a>
                        <span class="production-country">Австрия</span>
                      </li>
                      <li><a href="#">Реле времени</a></li>
                      <li><a href="#">Реле контроля</a></li>
                      <li><a href="#">Реле контроля нагрузки</a></li>
                      <li><a href="#">Системы управления</a></li>
                      <li><a href="#">Плавный пуск и торможение</a></li>
                      <li><a href="#">Промежуточные реле</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3">
                    <ul class="production-item">
                      <li class="production-title">
                        <a href="#" class="production-logo"><img src="img/brandlogo_2.png" alt=""></a>
                        <span class="production-country">Австрия</span>
                      </li>
                      <li><a href="#">Контакторы промышленные</a></li>
                      <li><a href="#">Контракторы модульные</a></li>
                      <li><a href="#">Микроконтакторы</a></li>
                      <li><a href="#">Миниконтакторы</a></li>
                      <li><a href="#">Пускатели</a></li>
                      <li><a href="#">Тепловые реле</a></li>
                      <li><a href="#">Мотор-автоматы</a></li>
                      <li><a href="#">Переключатели</a></li>
                      <li><a href="#">Основные выключатели AC</a></li>
                      <li><a href="#">Переключатели DC</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3">
                    <ul class="production-item">
                      <li class="production-title">
                        <a href="#" class="production-logo"><img src="img/brandlogo_8.png" alt=""></a>
                        <span class="production-country">Швейцария</span>
                      </li>
                      <li><a href="#">Интерфейсные реле</a></li>
                      <li><a href="#">Миниатюрные реле</a></li>
                      <li><a href="#">Промышленные реле</a></li>
                      <li><a href="#">Реле повышенной надежности</a></li>
                      <li><a href="#">Твердотельные реле</a></li>
                      <li><a href="#">Реле для высоких пусковых токов</a></li>
                      <li><a href="#">Реле контроля двигателя</a></li>
                      <li><a href="#">Твердотельные контакторы</a></li>
                      <li><a href="#">Устройства плавного пуска</a></li>
                      <li><a href="#">Релейная автоматика</a></li>
                      <li><a href="#">Колодки</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3">
                    <ul class="production-item">
                      <li class="production-title">
                        <a href="#" class="production-logo"><img src="img/brandlogo_4.png" alt=""></a>
                        <span class="production-country">Сербия</span>
                      </li>
                      <li><a href="#">Щиты встраиваемые (серия e)</a></li>
                      <li><a href="#">Щиты настенные IP65 (серия d)</a></li>
                      <li><a href="#">Щиты настенные IP40, IP30 (серия c)</a></li>
                      <li><a href="#">Щиты эконом IP40, IP30  (серия a)</a></li>
                      <li><a href="#">Щиты встраиваемые IP40 (серия F)</a></li>
                      <li><a href="#">Аксессуары</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3">
                    <ul class="production-item">
                      <li class="production-title">
                        <a href="#" class="production-logo"><img src="img/brandlogo_3.png" alt=""></a>
                        <span class="production-country">Франция</span>
                      </li>
                      <li><a href="#">Защита сетей питания</a></li>
                      <li><a href="#">Защита светодионого освещения</a></li>
                      <li><a href="#">Защита линий телекоммуникации</a></li>
                      <li><a href="#">Защита линий передачи данных</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3">
                    <ul class="production-item">
                      <li class="production-title">
                        <a href="#" class="production-logo"><img src="img/brandlogo_7.png" alt=""></a>
                        <span class="production-country">ЮАР</span>
                      </li>
                      <li><a href="#">Миниатюрные автоматические выключатели</a></li>
                      <li><a href="#">Автоматические выключатели для оборудования</a></li>
                      <li><a href="#">Защита от токов утечки</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3">
                    <ul class="production-item">
                      <li class="production-title">
                        <a href="#" class="production-logo"><img src="img/brandlogo_10.png" alt=""></a>
                        <span class="production-country">Германия</span>
                      </li>
                      <li><a href="#">Таймеры цифровые</a></li>
                      <li><a href="#">Таймеры механические</a></li>
                      <li><a href="#">Термостаты комнатные</a></li>
                      <li><a href="#">Датчики движения и присутствия</a></li>
                      <li><a href="#">Фотореле</a></li>
                      <li><a href="#">Лестничные таймеры</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-3">
                    <ul class="production-item">
                      <li class="production-title">
                        <a href="#" class="production-logo"><img src="img/brandlogo_5.png" alt=""></a>
                        <span class="production-country">Турция</span>
                      </li>
                      <li><a href="#">Контроллеры</a></li>
                      <li><a href="#">Температурные контроллеры</a></li>
                      <li><a href="#">Температурные датчики</a></li>
                      <li><a href="#">Цифровые тахометры</a></li>
                      <li><a href="#">Цифровые измерители длины</a></li>
                      <li><a href="#">Таймеры</a></li>
                      <li><a href="#">Счетчики</a></li>
                      <li><a href="#">Цифровые потенциометры</a></li>
                      <li><a href="#">Цифровые индикаторы</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 brands">Бренды
          <div class="top-menu-air"></div>
          <div class="brands-widget widget">
            <div class="container">
              <div class="row">
                <div class="partners-block"><div class="x"></div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_1.png" alt=""></a>
                    <span>TELE-HAASE - Промышленная автоматика из Австрии</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_2.png" alt=""></a>
                    <span>Описание 2</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_3.png" alt=""></a>
                    <span>Описание 3</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_4.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_5.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_6.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_7.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_8.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_9.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_10.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_11.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                  <div class="col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_12.png" alt=""></a>
                    <span>и так далее</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-9 top-nav">
        <ul class="nav-list">
          <li><a href="#!">Мы</a>
            <div class="top-menu-air"></div>
            <div class="nav-widget">
              <div class="container">
                <div class="row">
                  <div class="nav-block"><div class="x"></div>
                    <div class="col-xs-6 col-sm-3">
                      <ul class="sub-list">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Программа поставок</a></li>
                        <li><a href="#">Проектные условия</a></li>
                        <li><a href="#">Дилерам </a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                      <ul class="sub-list">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Программа поставок</a></li>
                        <li><a href="#">Проектные условия</a></li>
                        <li><a href="#">Дилерам </a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                      <ul class="sub-list">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Программа поставок</a></li>
                        <li><a href="#">Проектные условия</a></li>
                        <li><a href="#">Дилерам </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="#!">PDF-материалы</a></li>
          <li><a href="#!">На складе</a></li>
          <li><a href="#!">Контакты</a></li>
          <li><a href="#!">Оплата-доставка</a></li>
          <li><a href="#!">Решения</a></li>
          <li><a href="#!">Sale</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="mobile-header">
  <div class="mobile-contacts">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 mobile-phone"><a href="tel:+78123254220">+7 812 325 42 20</a></div>
        <div class="col-xs-4 mobile-phone"><a href="tel:+78001234578">+7 800 123 45 78</a></div>
        <div class="col-xs-4 mobile-mail"><a href="mailto:elcomp@poligon.info">elcomp@poligon.info</a></div>
      </div>
    </div>
  </div>
  <div class="mobile-panel">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 mobile-options">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4 mobile-search">
              <div class="mobile-search-button">
                <div class="search-air"></div>
              </div>
              <div class="search-widget">
                <input type="text" placeholder="Поиск по сайту">
                <button type="submit">Ок</button>
              </div>
            </div>
            <div class="col-xs-4 mobile-cart">
              <a href="#!" class="mobile-cart-icon"><span>0</span></a>
            </div>
          </div>
        </div>
        <div class="col-xs-6 mobile-logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
      </div>
    </div>
  </div>
  <div class="mobile-menu top-nav">
    <ul class="nav-list">
      <li>
        <div class="col-sm-4 col-md-3 top-menu">
          <div class="col-sm-6 production">Продукция
            <div class="production-widget widget">
              <div class="container">
                <div class="row">
                  <div class="production-block"><div class="x"></div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <ul class="production-item">
                        <li class="production-title">
                          <a href="#" class="production-logo"><img src="img/brandlogo_1.png" alt=""></a>
                          <span class="production-country">Австрия</span>
                        </li>
                        <li><a href="#">Реле времени</a></li>
                        <li><a href="#">Реле контроля</a></li>
                        <li><a href="#">Реле контроля нагрузки</a></li>
                        <li><a href="#">Системы управления</a></li>
                        <li><a href="#">Плавный пуск и торможение</a></li>
                        <li><a href="#">Промежуточные реле</a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <ul class="production-item">
                        <li class="production-title">
                          <a href="#" class="production-logo"><img src="img/brandlogo_2.png" alt=""></a>
                          <span class="production-country">Австрия</span>
                        </li>
                        <li><a href="#">Контакторы промышленные</a></li>
                        <li><a href="#">Контракторы модульные</a></li>
                        <li><a href="#">Микроконтакторы</a></li>
                        <li><a href="#">Миниконтакторы</a></li>
                        <li><a href="#">Пускатели</a></li>
                        <li><a href="#">Тепловые реле</a></li>
                        <li><a href="#">Мотор-автоматы</a></li>
                        <li><a href="#">Переключатели</a></li>
                        <li><a href="#">Основные выключатели AC</a></li>
                        <li><a href="#">Переключатели DC</a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <ul class="production-item">
                        <li class="production-title">
                          <a href="#" class="production-logo"><img src="img/brandlogo_8.png" alt=""></a>
                          <span class="production-country">Швейцария</span>
                        </li>
                        <li><a href="#">Интерфейсные реле</a></li>
                        <li><a href="#">Миниатюрные реле</a></li>
                        <li><a href="#">Промышленные реле</a></li>
                        <li><a href="#">Реле повышенной надежности</a></li>
                        <li><a href="#">Твердотельные реле</a></li>
                        <li><a href="#">Реле для высоких пусковых токов</a></li>
                        <li><a href="#">Реле контроля двигателя</a></li>
                        <li><a href="#">Твердотельные контакторы</a></li>
                        <li><a href="#">Устройства плавного пуска</a></li>
                        <li><a href="#">Релейная автоматика</a></li>
                        <li><a href="#">Колодки</a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <ul class="production-item">
                        <li class="production-title">
                          <a href="#" class="production-logo"><img src="img/brandlogo_4.png" alt=""></a>
                          <span class="production-country">Сербия</span>
                        </li>
                        <li><a href="#">Щиты встраиваемые (серия e)</a></li>
                        <li><a href="#">Щиты настенные IP65 (серия d)</a></li>
                        <li><a href="#">Щиты настенные IP40, IP30 (серия c)</a></li>
                        <li><a href="#">Щиты эконом IP40, IP30  (серия a)</a></li>
                        <li><a href="#">Щиты встраиваемые IP40 (серия F)</a></li>
                        <li><a href="#">Аксессуары</a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <ul class="production-item">
                        <li class="production-title">
                          <a href="#" class="production-logo"><img src="img/brandlogo_3.png" alt=""></a>
                          <span class="production-country">Франция</span>
                        </li>
                        <li><a href="#">Защита сетей питания</a></li>
                        <li><a href="#">Защита светодионого освещения</a></li>
                        <li><a href="#">Защита линий телекоммуникации</a></li>
                        <li><a href="#">Защита линий передачи данных</a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <ul class="production-item">
                        <li class="production-title">
                          <a href="#" class="production-logo"><img src="img/brandlogo_7.png" alt=""></a>
                          <span class="production-country">ЮАР</span>
                        </li>
                        <li><a href="#">Миниатюрные автоматические выключатели</a></li>
                        <li><a href="#">Автоматические выключатели для оборудования</a></li>
                        <li><a href="#">Защита от токов утечки</a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <ul class="production-item">
                        <li class="production-title">
                          <a href="#" class="production-logo"><img src="img/brandlogo_10.png" alt=""></a>
                          <span class="production-country">Германия</span>
                        </li>
                        <li><a href="#">Таймеры цифровые</a></li>
                        <li><a href="#">Таймеры механические</a></li>
                        <li><a href="#">Термостаты комнатные</a></li>
                        <li><a href="#">Датчики движения и присутствия</a></li>
                        <li><a href="#">Фотореле</a></li>
                        <li><a href="#">Лестничные таймеры</a></li>
                      </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3">
                      <ul class="production-item">
                        <li class="production-title">
                          <a href="#" class="production-logo"><img src="img/brandlogo_5.png" alt=""></a>
                          <span class="production-country">Турция</span>
                        </li>
                        <li><a href="#">Контроллеры</a></li>
                        <li><a href="#">Температурные контроллеры</a></li>
                        <li><a href="#">Температурные датчики</a></li>
                        <li><a href="#">Цифровые тахометры</a></li>
                        <li><a href="#">Цифровые измерители длины</a></li>
                        <li><a href="#">Таймеры</a></li>
                        <li><a href="#">Счетчики</a></li>
                        <li><a href="#">Цифровые потенциометры</a></li>
                        <li><a href="#">Цифровые индикаторы</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 brands">Бренды
            <div class="brands-widget widget">
              <div class="container">
                <div class="row">
                  <div class="partners-block"><div class="x"></div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_1.png" alt=""></a>
                      <span>TELE-HAASE - Промышленная автоматика из Австрии</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_2.png" alt=""></a>
                      <span>Описание 2</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_3.png" alt=""></a>
                      <span>Описание 3</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_4.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_5.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_6.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_7.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_8.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_9.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_10.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_11.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                    <div class="col-xs-6 col-sm-2 partner-logo"><a href="#!"><img src="img/brandlogo_12.png" alt=""></a>
                      <span>и так далее</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="parent"><a href="#!">Мы</a>
        <div class="nav-widget">
          <div class="container">
            <div class="row">
              <div class="nav-block"><div class="x"></div>
                <div class="col-xs-6 col-sm-3">
                  <ul class="sub-list">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Программа поставок</a></li>
                    <li><a href="#">Проектные условия</a></li>
                    <li><a href="#">Дилерам </a></li>
                  </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <ul class="sub-list">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Программа поставок</a></li>
                    <li><a href="#">Проектные условия</a></li>
                    <li><a href="#">Дилерам </a></li>
                  </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <ul class="sub-list">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Программа поставок</a></li>
                    <li><a href="#">Проектные условия</a></li>
                    <li><a href="#">Дилерам </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li><a href="#!">PDF-материалы</a></li>
      <li><a href="#!">На складе</a></li>
      <li><a href="#!">Контакты</a></li>
      <li><a href="#!">Оплата-доставка</a></li>
      <li><a href="#!">Решения</a></li>
      <li><a href="#!">Sale</a></li>
      <li class="partner-link"><a href="#!">Вход для партнеров</a></li>
    </ul>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 aside">
      <div class="category-menu">
        <ul>
          <li><a href="#!">Релейная автоматика</a></li>
          <li><a href="#!">Промежуточные реле</a></li>
          <li><a href="#!">Контакторы</a></li>
          <li><a href="#!">Коммутационная аппаратура</a></li>
          <li><a href="#!">Таймеры</a></li>
          <li><a href="#!">Устройства плавного пуска</a></li>
          <li><a href="#!">Молниезащита</a></li>
          <li><a href="#!">Управление освещением </a></li>
          <li><a href="#!">Распределительные щиты</a></li>
          <li><a href="#!">Автоматические выключатели CBI</a></li>
          <li><a href="#!">Стабилизаторы напряжения</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8 col-md-9 content">
      <div class="row">
        <div class="col-sm-9 main-slider">
          <div class="owl-carousel" id="main-slider">
            <div class="item"><a href="#!"><img src="img/slide1.jpg" alt=""></a></div>
            <div class="item"><a href="#!"><img src="img/slide2.jpg" alt=""></a></div>
            <div class="item"><a href="#!"><img src="img/slide1.jpg" alt=""></a></div>
            <div class="item"><a href="#!"><img src="img/slide2.jpg" alt=""></a></div>
            <div class="item"><a href="#!"><img src="img/slide1.jpg" alt=""></a></div>
            <div class="item"><a href="#!"><img src="img/slide2.jpg" alt=""></a></div>
          </div>
        </div>
        <div class="col-sm-3 advs-block">
          <div class="advs">
            <p><strong>20 лет дистрибуции </strong> электротехнического оборудования и электронных компонентов.</p>
            <p><strong>20000 позиций</strong> и собственный склад.</p>
            <p><strong>Качественное и надежное</strong> оборудование из Европы.</p>
            <p><strong>Приглашаем дилеров</strong> к сотрудничеству.</p>
          </div>
        </div>
      </div>
      <div class="row trio">
        <div class="col-sm-4 trio-item"><a href="#!" data-toggle="modal" data-target="#recall">Заказать подбор аналогов<br> и получить предложение</a></div>
        <div class="col-sm-4 trio-item"><a href="#!">Готовые решения<br> и публикации</a></div>
        <div class="col-sm-4 trio-item"><a href="#!">Наши акции<br> и спецпредложения</a></div>
      </div>
      <div class="partners">
        <div class="row">
          <div class="partners-block">
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_9.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_8.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_6.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_4.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_5.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_2.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_10.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_13.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_12.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_1.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_7.png" alt=""></a></div>
            <div class="col-xs-4 col-md-2 partner-logo"><a href="#!"><img src="img/brandlogo_3.png" alt=""></a></div>
          </div>
        </div>
        <div class="partners-button"><a href="#!">Все производители</a></div>
        <div class="partners-text">
          Используйте качественное оборудование от специализированных европейских брендов из Австрии, Германии, Франции, Швейцарии, Испании, Швеции, Сербии и России.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-articles">
  <div class="container">
    <h2>Статьи и обзоры</h2>
    <div class="row">
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_1.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Коммутация нагрузки с высокими пусковыми токами.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_2.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Защита от импульсного перенапряжения для систем видеонаблюдения 3 в 1.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_3.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Однофазное УПП для снижения пусковых токов при запуске двигателей, насосов, станций.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_4.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Контакторы для коммутации DC для солнечных батарей, аккумуляторов.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_5.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Устройство молнизащиты сетей переменного тока, совмещающее 1+2+3 классы защиты.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_6.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Микроконтакторы - самые компактные промышленные контакторы в мире.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_7.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Защита насоса от «сухого хода» -  электродвигатель как датчик.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_8.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Автоматические выключатели на основе магнитно-гидравлической технологии.</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_9.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Пластиковые щитки высокого качества от Tehnoplast (Сербия).</a></div>
        </div>
      </div>
      <div class="col-xs-6 col-md-5ths">
        <div class="art-item">
          <div class="art-photo"><a href="#!"><img src="img/artphoto_10.jpg" alt=""></a></div>
          <div class="art-title"><a href="#!">Контакторы и коммутационная аппаратура от производителя с 95 летней историей (Австрия).</a></div>
        </div>
      </div>
    </div>
    <div class="view-all"><a href="#!">Посмотреть всё</a></div>
  </div>
</div>

<div class="main-apply">
  <div class="container">
    <h2>Примеры применения и решения</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="apl-item">
          <div class="apl-photo"><a href="#!"><img src="img/aplphoto_1.jpg" alt=""></a></div>
          <div class="apl-link"><a href="#!">Water &amp; Waste</a></div>
          <div class="apl-text">
            <h4>Sewage pump peak loadcoverage</h4>
            <p>Two pumps are installed at a sewage pumping station that are to be run
              alternately for equal periods to ensure equal wear.previous next.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="apl-item">
          <div class="apl-photo"><a href="#!"><img src="img/aplphoto_2.jpg" alt=""></a></div>
          <div class="apl-link"><a href="#!">Water &amp; Waste</a></div>
          <div class="apl-text">
            <h4>Sewage pump peak loadcoverage</h4>
            <p>Two pumps are installed at a sewage pumping station that are to be run
              alternately for equal periods to ensure equal wear.previous next.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="apl-item">
          <div class="apl-photo"><a href="#!"><img src="img/aplphoto_3.jpg" alt=""></a></div>
          <div class="apl-link"><a href="#!">Water &amp; Waste</a></div>
          <div class="apl-text">
            <h4>Sewage pump peak loadcoverage</h4>
            <p>Two pumps are installed at a sewage pumping station that are to be run
              alternately for equal periods to ensure equal wear.previous next.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="apl-item">
          <div class="apl-photo"><a href="#!"><img src="img/aplphoto_4.jpg" alt=""></a></div>
          <div class="apl-link"><a href="#!">Water &amp; Waste</a></div>
          <div class="apl-text">
            <h4>Sewage pump peak loadcoverage</h4>
            <p>Two pumps are installed at a sewage pumping station that are to be run
              alternately for equal periods to ensure equal wear.previous next.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="view-all"><a href="#!">Все примеры применения</a></div>
  </div>
</div>

<div class="main-news">
  <div class="container">
    <h2>Свежие новости и изделия</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="row news-item">
          <div class="col-xs-6 news-photo"><a href="#!"><img src="img/newsphoto.jpg" alt=""></a></div>
          <div class="col-xs-6 news-info">
            <div class="news-date">01/02/2016</div>
            <div class="news-title">TELE ist Mitglied bei der Smart Electric Power Alliance</div>
            <div class="news-text">TELE ist seit Anfang 2016 Mitglied des US-amerikanischen Verbands Smart Electric Power Alliance (SEPA)...</div>
            <div class="news-link"><a href="#!">читать далее</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row news-item">
          <div class="col-xs-6 news-photo"><a href="#!"><img src="img/newsphoto.jpg" alt=""></a></div>
          <div class="col-xs-6 news-info">
            <div class="news-date">01/02/2016</div>
            <div class="news-title">TELE ist Mitglied bei der Smart Electric Power Alliance</div>
            <div class="news-text">TELE ist seit Anfang 2016 Mitglied des US-amerikanischen Verbands Smart Electric Power Alliance (SEPA)...</div>
            <div class="news-link"><a href="#!">читать далее</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row news-item">
          <div class="col-xs-6 news-photo"><a href="#!"><img src="img/newsphoto.jpg" alt=""></a></div>
          <div class="col-xs-6 news-info">
            <div class="news-date">01/02/2016</div>
            <div class="news-title">TELE ist Mitglied bei der Smart Electric Power Alliance</div>
            <div class="news-text">TELE ist seit Anfang 2016 Mitglied des US-amerikanischen Verbands Smart Electric Power Alliance (SEPA)...</div>
            <div class="news-link"><a href="#!">читать далее</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="view-all"><a href="#!">Все новости</a></div>
  </div>
</div>

<footer>
  <div class="footer-partners">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_1.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_2.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_3.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_4.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_5.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_6.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_7.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_8.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_9.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_10.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_11.png" alt=""></a></div>
        <div class="col-sm-3 col-md-1 partner-logo"><a href="#!"><img src="img/brandlogo_12.png" alt=""></a></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer-block">
      <div class="row footer-top">
        <div class="hidden-sm col-sm-4 footer-search">
          <input type="text" placeholder="поиск по всему сайту">
          <button type="submit">Найти</button>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-offset-1 col-lg-7">
          <div class="row footer-sign">
            <div class="col-sm-6 col-md-6 footer-sign-block">
              <input type="text" placeholder="e-mail">
              <button type="submit">Подписаться</button>
            </div>
            <div class="col-sm-6 col-md-6 footer-agree">
              <input type="checkbox" id="footer-agree">
              <label for="footer-agree"> Согласен с политикой конфиденциальности и соглашением об использовании сайта</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row footer-bottom">
        <div class="col-sm-4 col-md-3 logo">
          <a href="#"><img src="img/logo.png" alt=""></a>
          <div class="slogan">дистрибуция электротехники</div>
          <div class="twenty">Нам 20 лет!</div>
        </div>
        <div class="col-sm-4 col-md-3 footer-info">
          Информация на сайте <a href="#">poligon.info</a> не является публичной офертой.
          При использовании материалов ссылка на сайт обязательна. 18+.
          <p><a href="#">Политика конфиденциальности.</a></p>
          <p><a href="#">Соглашение об использовании сайта.</a></p>
          <div class="copyright">© 1997-2018 ООО "ПОЛИГОН".</div>
        </div>
        <div class="hidden-sm col-md-2 footer-catalog">
          <p>Скачать каталоги PDF <br>
            Товары на складе <br>
            Примеры применения <br>
            Статьи и обзоры <br>
            Распродажа <br>
            <a href="#!">ПЕРЕЙТИ В КАТАЛОГ &gt;&gt;</a>
          </p>
        </div>
        <div class="col-sm-4 col-md-4 footer-contacts">
          <p><a href="tel:88123254220">8-812-325-42-20</a> - Санкт-Петербург</p>
          <p><a href="tel:88001234567">8-800-123-45-67</a> - бесплатно по России</p>
          <p>e-mail: <a href="mailto:elcomp@poligon.info">elcomp@poligon.info</a></p>
          <p class="footer-address">Санкт-Петербург, Льва Толстого, д.7</p>
          <div class="footer-carousel">
            <div class="owl-carousel" id="footer-carousel">
              <div class="item"><a href="#"><img src="img/artphoto_1.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_2.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_3.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_4.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_5.jpg" alt=""></a></div>
              <div class="item"><a href="#"><img src="img/artphoto_6.jpg" alt=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="bot-line">
  <div class="container">
    <a href="#!" id="to-top"><span></span> Наверх</a>
    <div class="bot-cart">
      <a href="#"><span></span> 0 товаров</a>
      <div class="bot-sum"><span></span>На сумму 0.00 руб.</div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="recall" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="x" id="close-recall" type="button" data-dismiss="modal" aria-hidden="true"></button>
      <div class="modal-body">
        <div class="form-block">
          <div class="form-content">
            <h2>Оставить заявку</h2>
            <p class="or">или подобрать аналог</p>
            <form class="send-form" id="recall-form" action="javascript:void(null);" onsubmit="recall_form()">
              <div class="form-input req"><input class="modal-input name-send" type="text" name="name-send" required placeholder="Имя"></div>
              <div class="form-input req"><input class="modal-input phone-send" type="text" name="phone-send" required placeholder="Телефон"></div>
              <div class="form-input req"><input class="modal-input mail-send" type="text" name="mail-send" required placeholder="E-mail"></div>
              <div class="form-textarea"><textarea class="message-send" name="message-send" placeholder="Ваше сообщение"></textarea></div>
              <div class="form-button req">
                <input type="file" required name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                <label for="file-1"><span>+ Прикрепить файл</span></label>
                <div class="captcha">капча тут</div>
              </div>
              <div class="button-send"><button type="submit">Отправить</button></div>
              <div class="modal-agree">Нажимая кнопку «Отправить» я даю согласие на <a href="#">обработку персональных данных.</a></div>
              <div class="expl"><span>*</span> Поля обязательные для заполнения</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Thanks-->
<div class="modal fade" id="thanks-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="x" id="thx-close" type="button" data-dismiss="modal" aria-hidden="true"></button>
      <div class="modal-body text-center">
        <div class="thx-text">Благодарим Вас за заявку!<br>Наши юристы свяжутся с Вами течение 15 минут.</div>
      </div>
    </div>
  </div>
</div>
<div id="thx" style="display:none;" data-toggle="modal" data-target="#thanks-modal"></div>

<!-- JavaScript placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
